Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-links

.pre-commit-config.yaml:

# Run `pre-commit autoupdate` after dependency upgrades.
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.11
  hooks:
  - id: ruff
    args:
    - --fix
- repo: https://github.com/psf/black
  rev: 24.4.2
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/pycqa/flake8
  rev: 7.1.0
  hooks:
  - id: flake8
- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    files: ^$
- repo: local
  hooks:
  - id: confirm-reading
    name: Confirm onboarding reading
    entry: python scripts/confirm_reading.py
    language: system
    types: [python]
    pass_filenames: false
  - id: check-key-documents
    name: Check key documents exist
    entry: python scripts/check_key_documents.py
    language: system
    pass_filenames: false
  - id: validate-key-docs
    name: Validate protected doc hashes and summaries
    entry: python scripts/verify_doc_hashes.py
    language: system
    pass_filenames: false
  - id: require-onboarding-update
    name: Require onboarding confirmation for key docs
    entry: python scripts/require_onboarding_update.py
    language: system
    pass_filenames: false
    always_run: true
  - id: doc-indexer
    name: Regenerate documentation index
    entry: python tools/doc_indexer.py
    language: system
    pass_filenames: false
    files: ^docs/
  - id: ensure-blueprint-sync
    name: Ensure blueprint updated with core changes
    entry: python scripts/ensure_blueprint_sync.py
    language: system
  - id: block-binaries
    name: Block binary files
    entry: python scripts/check_no_binaries.py
    language: system
    pass_filenames: false
  - id: placeholder-elimination
    name: Placeholder Elimination
    entry: python scripts/check_placeholders.py
    language: system
  - id: scan-todo-fixme
    name: Scan TODO/FIXME markers
    entry: python scripts/scan_todo_fixme.py
    language: system
    pass_filenames: false
  - id: verify-versions
    name: Ensure modules declare __version__
    entry: python scripts/verify_versions.py
    language: system
    pass_filenames: false
  - id: check-connector-index
    name: Check connector index entries
    entry: python scripts/check_connector_index.py
    language: python
    pass_filenames: false
    files: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  - id: require-connector-registry-update
    name: Require connector registry updates
    entry: python scripts/require_connector_registry_update.py
    language: system
    pass_filenames: false
  - id: validate-component-index
    name: Validate component index entries
    entry: python scripts/validate_component_index.py
    language: system
    pass_filenames: false
    files: ^docs/component_index.md
  - id: validate-component-json
    name: Validate component_index.json fields
    entry: python scripts/validate_component_index_json.py
    language: system
    pass_filenames: false
    files: ^component_index.json$
  - id: verify-dependencies
    name: Verify dependency versions
    entry: python scripts/verify_dependencies.py
    language: system
    pass_filenames: false
  - id: check-env
    name: Verify environment prerequisites
    entry: python scripts/check_env.py
    language: system
    pass_filenames: false
  - id: validate-links
    name: Validate markdown links
    entry: python scripts/validate_links.py
    language: system
    types: [markdown]
    exclude: ^docs/INDEX\.md$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.19.0
  hooks:
    - id: commitlint
      stages: [commit-msg]
      additional_dependencies: ['@commitlint/cli@17.7.2']

docs: add avatar setup guide and streaming references
  README_OPERATOR.md
  docs/INDEX.md
  docs/avatar_pipeline.md
  docs/avatar_setup.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

docs: outline avatar subsystem workflow
  README_OPERATOR.md
  docs/blueprint_spine.md
  docs/developer_onboarding.md
  docs/operator_quickstart.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

feat: support per-agent webrtc sessions
  communication/webrtc_gateway.py
  docs/communication_interfaces.md
  guides/avatar_config.toml
  server.py
  tests/test_avatar_stream_pipeline.py
  tests/test_vast_pipeline.py
  tests/test_video_stream.py
  tests/test_video_stream_audio.py
  tests/web_console/test_webrtc_gateway.py
  video_stream.py
Due: confirm-reading, doc-indexer, validate-links

docs: add chat connector instructions
  docs/communication_interfaces.md
  docs/developer_onboarding.md
Due: doc-indexer, validate-links

feat: add game dashboard interface
  CHANGELOG.md
  docs/INDEX.md
  docs/ui/game_dashboard.md
  web_console/arcade.html
  web_console/game_dashboard/dashboard.js
  web_console/game_dashboard/index.html
  web_console/index.html
  web_console/main.js
Due: doc-indexer, validate-links

feat: add setup wizard to game dashboard
  README_OPERATOR.md
  docs/INDEX.md
  docs/operator_onboarding.md
  web_console/game_dashboard/dashboard.js
  web_console/game_dashboard/index.html
  web_console/game_dashboard/setupWizard.js
Due: doc-indexer, validate-links

feat: chakra monitor panel
  docs/chakra_metrics.md
  web_console/game_dashboard/chakraMonitor.js
  web_console/game_dashboard/dashboard.js
  web_console/game_dashboard/index.html
Due: doc-indexer, validate-links

feat: add mission builder and JSON orchestration
  agents/task_orchestrator.py
  docs/operator_quickstart.md
  docs/system_blueprint.md
  missions/avatar_broadcast.json
  missions/daily_ignition_check.json
  web_console/mission_builder/index.html
  web_console/mission_builder/mission_builder.js
Due: confirm-reading, doc-indexer, validate-links

feat: add avatar room to dashboard
  CHANGELOG.md
  docs/avatar_pipeline.md
  web_console/game_dashboard/avatarRoom.js
  web_console/game_dashboard/dashboard.js
Due: doc-indexer, validate-links

I added gear ratios on spiral_os/chakra_cycle.py to obtain per-chakra heartbeat metrics, expecting monitors to detect drift
  CHANGELOG.md
  CHANGELOG_razar.md
  agents/razar/boot_orchestrator.py
  crown_router.py
  docs/INDEX.md
  docs/chakra_metrics.md
  docs/system_blueprint.md
  monitoring/chakra_heartbeat.py
  src/spiral_os/chakra_cycle.py
  tests/monitoring/test_chakra_heartbeat.py
Due: confirm-reading, doc-indexer, validate-links

feat: add versioned doctrine index
  GENESIS/README.md
  IGNITION/README.md
  agents/nazarick/document_registry.py
  docs/INDEX.md
  docs/blueprint_spine.md
  docs/doctrine_index.md
  tests/agents/nazarick/test_doctrine_index.py
Due: confirm-reading, doc-indexer, validate-links

feat: add chakra status board
  docs/INDEX.md
  docs/chakra_metrics.md
  docs/monitoring.md
  docs/system_blueprint.md
  monitoring/chakra_status_board.py
  tests/monitoring/test_chakra_status_board.py
  web_console/game_dashboard/chakraStatusBoard.js
  web_console/game_dashboard/dashboard.js
Due: confirm-reading, doc-indexer, validate-links

ci: validate component versions and docs
  .github/workflows/ci.yml
  docs/build_docs.sh
  docs/documentation_protocol.md
  scripts/validate_components.py
Due: confirm-reading, doc-indexer, validate-links

chore: restore failure logs
  monitoring/chakra_heartbeat.py
  tests/monitoring/test_chakra_heartbeat.py
Due: confirm-reading

Add resuscitator remediation test
  agents/chakra_healing/base.py
  agents/chakra_healing/crown_agent.py
  agents/chakra_healing/heart_agent.py
  agents/chakra_healing/root_agent.py
  agents/chakra_healing/sacral_agent.py
  agents/chakra_healing/solar_agent.py
  agents/chakra_healing/third_eye_agent.py
  agents/chakra_healing/throat_agent.py
  agents/nazarick/chakra_resuscitator.py
  tests/agents/nazarick/test_chakra_resuscitator.py
Due: confirm-reading

chore: remove deprecated chakra monitor
  docs/INDEX.md
  docs/monitoring.md
  docs/ui/chakra_pulse.md
  monitoring/chakra_heartbeat.py
  monitoring/metrics_catalog.md
  tests/web_console/test_chakra_pulse_panel.py
  web_console/game_dashboard/chakraPulse.js
  web_console/game_dashboard/dashboard.js
  web_console/game_dashboard/index.html
Due: confirm-reading, doc-indexer, validate-links

docs: detail cycle engine heartbeat and self-healing links
  README_OPERATOR.md
  docs/blueprint_spine.md
  docs/chakra_architecture.md
  docs/recovery_playbook.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

feat: add avatar session heartbeat
  communication/webrtc_gateway.py
  communication/webrtc_server.py
  component_index.json
  mypy.ini
  tests/web_console/test_multi_avatar_stream.py
  video_stream.py
  video_stream/__init__.py
  video_stream/session_manager.py
Due: confirm-reading, validate-component-json

I adjusted docs/avatar_pipeline.md to obtain clearer 2-D vs 3-D guidance, expecting contributors to toggle render modes accurately
  docs/avatar_pipeline.md
  server.py
  src/core/video_engine.py
  src/media/avatar/lwm_renderer.py
Due: confirm-reading, doc-indexer, validate-links

feat: broadcast avatar tracks to chat platforms
  connectors/avatar_broadcast.py
  tests/connectors/test_avatar_broadcast.py
Due: confirm-reading, check-connector-index

feat: add avatar watchdog and resuscitator
  agents/nazarick/avatar_resuscitator.py
  monitoring/avatar_watchdog.py
  tests/monitoring/test_avatar_watchdog.py
Due: confirm-reading

docs: document heartbeat and session flow
  CHANGELOG.md
  GENESIS/README.md
  README_OPERATOR.md
  docs/avatar_pipeline.md
  docs/blueprint_spine.md
  docs/operator_onboarding.md
  docs/system_blueprint.md
  onboarding_confirm.yml
Due: doc-indexer, validate-links

feat: index nazarick agents
  agents/nazarick/agent_registry.json
  agents/nazarick/service_launcher.py
  tests/agents/nazarick/test_agent_directory.py
Due: confirm-reading

feat: add lifecycle heartbeat monitoring
  agents/nazarick/service_launcher.py
  agents/razar/lifecycle_bus.py
  monitoring/agent_heartbeat.py
  tests/agents/razar/test_agent_heartbeat.py
Due: confirm-reading

Add agent resuscitator and integrate recovery confirmation
  agents/nazarick/resuscitator.py
  agents/razar/recovery_manager.py
  tests/agents/nazarick/test_resuscitator_flow.py
  tests/conftest.py
Due: confirm-reading

feat: add agent status panel and endpoint
  docs/chakra_metrics.md
  docs/monitoring.md
  monitoring/agent_status_endpoint.py
  tests/web_console/test_agent_status_panel.py
  web_console/game_dashboard/agent_status_panel.js
  web_console/game_dashboard/dashboard.js
  web_console/game_dashboard/index.html
Due: confirm-reading, doc-indexer, validate-links

docs: document agent heartbeat lifecycle
  GENESIS/README.md
  IGNITION/README.md
  README_OPERATOR.md
  docs/blueprint_spine.md
  docs/chakra_architecture.md
  docs/recovery_playbook.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

feat: introduce chakra registry
  agents/experience_replay.py
  crown_router.py
  memory/chakra_registry.py
  tests/agents/nazarick/test_experience_replay.py
  tests/memory/test_chakra_registry.py
Due: confirm-reading

Implement heartbeat logger and state snapshot
  distributed_memory.py
  monitoring/heartbeat_logger.py
  scripts/snapshot_state.py
  tests/conftest.py
  tests/monitoring/test_heartbeat_logger.py
Due: confirm-reading

test: add replication config and tests
  config/memory_backends.toml
  distributed_memory.py
  tests/memory/test_replication.py
Due: confirm-reading

feat: add memory introspection panel
  CHANGELOG.md
  docs/INDEX.md
  docs/operator_quickstart.md
  src/api/memory_introspect.py
  src/api/server.py
  tests/web_console/test_memory_panel.py
  web_console/game_dashboard/dashboard.js
  web_console/game_dashboard/memory_panel/memory_panel.js
Due: confirm-reading, doc-indexer, validate-links

Add chakra status API and panel tests
  monitoring/chakra_status_endpoint.py
  tests/web_console/test_chakra_status_panel.py
  web_console/game_dashboard/chakra_status_panel/chakra_status_panel.js
  web_console/game_dashboard/dashboard.js
  web_console/game_dashboard/index.html
  web_console/main.js
Due: confirm-reading

feat: show chakra pulse in arcade mode
  docs/INDEX.md
  docs/ui/arcade_mode.md
  web_console/arcade.css
  web_console/arcade.html
  web_console/arcade.js
Due: doc-indexer, validate-links

docs: replace mission builder screenshots with mermaid diagrams
  CHANGELOG.md
  docs/INDEX.md
  docs/assets/mission_builder.mmd
  docs/assets/mission_wizard.mmd
  docs/operator_onboarding.md
  docs/system_blueprint.md
  operator_api.py
  web_console/game_dashboard/dashboard.js
  web_console/game_dashboard/missionWizard.js
  web_console/mission_builder/index.html
  web_console/mission_builder/mission_builder.js
Due: confirm-reading, doc-indexer, validate-links

feat: add avatar room and sidekick helper
  README_OPERATOR.md
  agents/sidekick_helper.py
  docs/avatar_pipeline.md
  server.py
  web_console/game_dashboard/avatarRoom.js
  web_console/game_dashboard/avatar_room/avatar_room.js
  web_console/game_dashboard/dashboard.js
Due: confirm-reading, doc-indexer, validate-links

docs: describe memory spine snapshot recovery
  GENESIS/README.md
  IGNITION/README.md
  docs/blueprint_spine.md
  docs/chakra_architecture.md
  docs/recovery_playbook.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

I added test_ui_links.py in tests/docs to verify UI references, expecting link integrity
  GENESIS/README.md
  IGNITION/README.md
  docs/blueprint_spine.md
  docs/monitoring.md
  docs/system_blueprint.md
  tests/docs/test_ui_links.py
Due: confirm-reading, doc-indexer, validate-links

test: clarify resuscitator confirmation flow
  razar/recovery_manager.py
  tests/agents/nazarick/test_chakra_resuscitator.py
Due: confirm-reading

Snapshot and rollback patches
  razar/ai_invoker.py
  tests/razar/test_ai_invoker.py
Due: confirm-reading

test(monitoring): verify self-healing ledger state
  distributed_memory.py
  monitoring/self_healing_ledger.py
  tests/monitoring/test_self_healing_ledger.py
Due: confirm-reading
