Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-links

.pre-commit-config.yaml:

# Run `pre-commit autoupdate` after dependency upgrades.
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.11
  hooks:
  - id: ruff
    args:
    - --fix
- repo: https://github.com/psf/black
  rev: 24.4.2
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/pycqa/flake8
  rev: 7.1.0
  hooks:
  - id: flake8
- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    files: ^$
- repo: local
  hooks:
  - id: confirm-reading
    name: Confirm onboarding reading
    entry: python scripts/confirm_reading.py
    language: system
    types: [python]
    pass_filenames: false
  - id: check-key-documents
    name: Check key documents exist
    entry: python scripts/check_key_documents.py
    language: system
    pass_filenames: false
  - id: validate-key-docs
    name: Validate protected doc hashes and summaries
    entry: python scripts/verify_doc_hashes.py
    language: system
    pass_filenames: false
  - id: require-onboarding-update
    name: Require onboarding confirmation for key docs
    entry: python scripts/require_onboarding_update.py
    language: system
    pass_filenames: false
    always_run: true
  - id: doc-indexer
    name: Regenerate documentation index
    entry: python tools/doc_indexer.py
    language: system
    pass_filenames: false
    files: ^docs/
  - id: ensure-blueprint-sync
    name: Ensure blueprint updated with core changes
    entry: python scripts/ensure_blueprint_sync.py
    language: system
  - id: block-binaries
    name: Block binary files
    entry: python scripts/check_no_binaries.py
    language: system
    pass_filenames: false
  - id: placeholder-elimination
    name: Placeholder Elimination
    entry: python scripts/check_placeholders.py
    language: system
  - id: scan-todo-fixme
    name: Scan TODO/FIXME markers
    entry: python scripts/scan_todo_fixme.py
    language: system
    pass_filenames: false
  - id: verify-versions
    name: Ensure modules declare __version__
    entry: python scripts/verify_versions.py
    language: system
    pass_filenames: false
  - id: check-connector-index
    name: Check connector index entries
    entry: python scripts/check_connector_index.py
    language: python
    pass_filenames: false
    files: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  - id: require-connector-registry-update
    name: Require connector registry updates
    entry: python scripts/require_connector_registry_update.py
    language: system
    pass_filenames: false
  - id: validate-component-index
    name: Validate component index entries
    entry: python scripts/validate_component_index.py
    language: system
    pass_filenames: false
    files: ^docs/component_index.md
  - id: validate-component-json
    name: Validate component_index.json fields
    entry: python scripts/validate_component_index_json.py
    language: system
    pass_filenames: false
    files: ^component_index.json$
  - id: verify-dependencies
    name: Verify dependency versions
    entry: python scripts/verify_dependencies.py
    language: system
    pass_filenames: false
  - id: check-env
    name: Verify environment prerequisites
    entry: python scripts/check_env.py
    language: system
    pass_filenames: false
  - id: validate-links
    name: Validate markdown links
    entry: python scripts/validate_links.py
    language: system
    types: [markdown]
    exclude: ^docs/INDEX\.md$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.19.0
  hooks:
    - id: commitlint
      stages: [commit-msg]
      additional_dependencies: ['@commitlint/cli@17.7.2']

I mapped the legacy fallback subsystem in migration_crosswalk.md to the neoabzu-kimicho crate, expecting clearer Rust migration guidance
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
Due: validate-links

docs: note rust crown router migration
  CHANGELOG.md
  CHANGELOG_razar.md
  NEOABZU/crown/tests/razor_integration.rs
  NEOABZU/docs/migration_crosswalk.md
  README.md
  component_index.json
  crown_router.py
  crown_router_rs.py
  docs/RAZAR_AGENT.md
  docs/component_index.md
  docs/migration_crosswalk.md
  docs/onboarding/README.md
  instrumentation/src/lib.rs
  kimicho.py
  onboarding_confirm.yml
  pyproject.toml
  rag/src/lib.rs
  setup.cfg
Due: confirm-reading, doc-indexer, validate-component-index, validate-component-json, validate-links

feat: add tracing hooks and kimicho integration tests
  .github/workflows/ci.yml
  NEOABZU/kimicho/Cargo.toml
  NEOABZU/kimicho/src/lib.rs
  NEOABZU/kimicho/tests/razor_integration.rs
  crown/Cargo.toml
  crown/src/lib.rs
  docs/migration_crosswalk.md
  docs/observability.md
  docs/system_blueprint.md
  scripts/check_blueprints_and_tests.py
Due: confirm-reading, doc-indexer, validate-links

docs: outline Rust migration crosswalk
  docs/INDEX.md
  docs/migration_crosswalk.md
Due: doc-indexer, validate-links

docs: add migration flow diagrams
  docs/ABZU_blueprint.md
  docs/INDEX.md
  docs/component_index.md
  docs/component_status.json
  docs/component_status.md
  docs/doctrine_index.md
  docs/figures/pyo3_interfaces.mmd
  docs/figures/razor_crown_kimicho_flow.mmd
  docs/figures/rust_crate_boundaries.mmd
  docs/system_blueprint.md
Due: doc-indexer, validate-component-index, validate-links

docs: add Rust migration rules and APSU placement guidance
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/doctrine_index.md
  docs/documentation_protocol.md
Due: doc-indexer, validate-links

docs: audit python legacy modules
  NEOABZU/crown/README.md
  NEOABZU/docs/migration_crosswalk.md
  NEOABZU/kimicho/README.md
  docs/INDEX.md
  docs/migration_crosswalk.md
  docs/python_legacy_audit.md
Due: doc-indexer, validate-links

Add tests and docs for NeoABZU crates
  NEOABZU/fusion/tests/invariants.rs
  NEOABZU/memory/tests/query.rs
  docs/feature_parity.md
  docs/migration_crosswalk.md
  tests/agents/razar/test_crown_handshake.py
Due: confirm-reading, doc-indexer, validate-links

feat: harden kimicho k2 fallback
  NEOABZU/kimicho/src/lib.rs
Due: none

chore: restore failure inventory
  razar/boot_orchestrator.py
Due: confirm-reading

test: assert K2 coder error path in Kimicho fallback
  NEOABZU/k2coder/tests/fallback.rs
Due: none

docs: document kimicho fallback
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
Due: validate-links

refactor: remove python wrappers
  NEOABZU/neoabzu/__init__.py
  NEOABZU/neoabzu/core.py
  NEOABZU/neoabzu/crown.py
  NEOABZU/neoabzu/fusion.py
  NEOABZU/neoabzu/memory.py
  NEOABZU/neoabzu/numeric.py
  NEOABZU/neoabzu/persona.py
  NEOABZU/neoabzu/rag.py
  NEOABZU/neoabzu/vector.py
  NEOABZU/neoabzu/vector_pb2.py
  NEOABZU/neoabzu/vector_pb2_grpc.py
  crown_router.py
  docs/ABZU_blueprint.md
  docs/INDEX.md
  docs/architecture_overview.md
  docs/blueprint_spine.md
  docs/component_index.md
  docs/component_status.json
  docs/component_status.md
  docs/crown_manifest.md
  docs/doctrine_index.md
  docs/feature_parity.md
  docs/figures/pyo3_interfaces.mmd
  docs/ignition_flow.md
  docs/migration_crosswalk.md
  docs/python_legacy_audit.md
  docs/system_blueprint.md
  docs/testing/failure_inventory.md
  kimicho.py
Due: confirm-reading, doc-indexer, validate-component-index, validate-links

feat: add MCP wrappers for narrative and primordials
  connectors/narrative_mcp.py
  connectors/primordials_mcp.py
  docs/INDEX.md
  docs/communication_interfaces.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/system_blueprint.md
  mcp/gateway.py
  onboarding_confirm.yml
  tests/communication/test_mcp_wrappers.py
Due: confirm-reading, doc-indexer, check-connector-index, validate-links

docs: note dependency audit and release gates
  .github/workflows/release_checklist.yml
  docs/release_notes.md
Due: doc-indexer, validate-links

test: verify kimicho fallback from crown
  NEOABZU/crown/Cargo.toml
  NEOABZU/crown/tests/kimicho_fallback.rs
  docs/INDEX.md
  docs/migration_crosswalk.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

feat(insight): expose embedding hooks for crown
  NEOABZU/Cargo.lock
  NEOABZU/crown/Cargo.toml
  NEOABZU/crown/src/lib.rs
  NEOABZU/crown/tests/insight.rs
  NEOABZU/docs/feature_parity.md
  NEOABZU/insight/src/lib.rs
  NEOABZU/insight/tests/integration.rs
Due: validate-links

docs(rag): document connector API
  CHANGELOG.md
  CHANGELOG_rag_orchestrator.md
  NEOABZU/docs/connector_api.md
  NEOABZU/rag/src/lib.rs
  NEOABZU/rag/tests/merge.rs
  NEOABZU/rag/tests/orchestrator.rs
  NEOABZU/rag/tests/retrieval.rs
  docs/INDEX.md
  docs/connectors/CONNECTOR_INDEX.md
Due: doc-indexer, check-connector-index, validate-links

feat: shard vector server and add client
  NEOABZU/Reignition.md
  NEOABZU/neoabzu/__init__.py
  NEOABZU/neoabzu/vector.py
  NEOABZU/neoabzu/vector_pb2.py
  NEOABZU/neoabzu/vector_pb2_grpc.py
  NEOABZU/vector/src/server.rs
  NEOABZU/vector/tests/load_test.py
  src/bin/vector_client.py
Due: confirm-reading, validate-links

feat: document doctrine reference rule\n\nI updated core docs and CI to enforce doctrine references, expecting future changes to link back to the doctrine index.
  .github/workflows/ci.yml
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/doctrine_index.md
  docs/feature_parity.md
  docs/migration_crosswalk.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

I removed deprecated crown and rag routers on Python to route via Rust crates, expecting simplified orchestration
  CHANGELOG_rag_orchestrator.md
  INANNA_AI/main.py
  crown_query_router.py
  docs/INDEX.md
  docs/onboarding/README.md
  docs/testing/failure_inventory.md
  invocation_engine.py
  music_llm_interface.py
  pyproject.toml
  rag/orchestrator.py
  rag/retriever.py
  src/cli/console_interface.py
  src/spiral_os/start_spiral_os.py
  start_spiral_os.py
  tests/crown/test_query_router.py
  tests/test_spiral_rag.py
Due: confirm-reading, doc-indexer, validate-links

feat: add telemetry hooks
  Cargo.lock
  NEOABZU/Cargo.lock
  NEOABZU/insight/Cargo.toml
  NEOABZU/insight/src/lib.rs
  NEOABZU/vector/src/lib.rs
  crown/Cargo.toml
  crown/src/lib.rs
  docs/INDEX.md
  docs/observability.md
  docs/release_notes.md
  rag/Cargo.toml
  rag/src/lib.rs
Due: doc-indexer, validate-links

feat: add chakrapulse bus and health pulses
  INANNA_AI/utils.py
  NEOABZU/Cargo.lock
  NEOABZU/Cargo.toml
  NEOABZU/chakrapulse/Cargo.toml
  NEOABZU/chakrapulse/src/lib.rs
  NEOABZU/crown/Cargo.toml
  NEOABZU/crown/src/lib.rs
  docs/INDEX.md
  docs/chakrapulse_spec.md
  docs/system_blueprint.md
  razar/health_checks.py
Due: confirm-reading, doc-indexer, validate-links

chore: consolidate nazarick agent registry
  agents/nazarick/agent_registry.json
  agents/nazarick/albedo/agent_manifest.json
  agents/nazarick/cocytus/agent_manifest.json
  agents/nazarick/demiurge/agent_manifest.json
  agents/nazarick/gargantua/agent_manifest.json
  agents/nazarick/nazarick_core_architecture.md
  agents/nazarick/nazarick_memory_blueprint.md
  agents/nazarick/pandora/agent_manifest.json
  agents/nazarick/pleiades/agent_manifest.json
  agents/nazarick/sebas_tiara/agent_manifest.json
  agents/nazarick/service_launcher.py
  agents/nazarick/shalltear/agent_manifest.json
  docs/INDEX.md
  docs/chakra_architecture.md
  docs/index.md
  docs/nazarick_agent_profiles.md
  docs/nazarick_agents.md
  onboarding_confirm.yml
Due: confirm-reading, doc-indexer, validate-links

feat: emit and stream Bana narratives
  agents/bana/inanna_bridge.py
  bana/narrative.py
  bana/narrative_api.py
  docs/INDEX.md
  docs/narrative_engine_GUIDE.md
  docs/narrative_framework.md
  docs/testing/failure_inventory.md
  web_console/main.js
  web_console/operator.js
Due: confirm-reading, doc-indexer, validate-links

Include Rust crates in component index
  component_index.json
  docs/INDEX.md
  docs/component_index.md
  scripts/build_component_index.py
  scripts/component_inventory.py
Due: confirm-reading, doc-indexer, validate-component-index, validate-component-json, validate-links

docs: crosslink migration references
  docs/CROWN_OVERVIEW.md
  docs/RAZAR_AGENT.md
  docs/The_Absolute_Protocol.md
  docs/migration_crosswalk.md
  docs/persona_api_guide.md
  docs/rag_pipeline.md
  docs/system_blueprint.md
  docs/vector_memory.md
Due: doc-indexer, validate-links

docs: add doctrine references to narrative guides
  docs/narrative_engine_GUIDE.md
  docs/narrative_framework.md
Due: doc-indexer, validate-links

docs: catalog narrative doctrine
  docs/doctrine_index.md
Due: doc-indexer, validate-links

docs: reference narrative framework in protocol
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
Due: doc-indexer, validate-links

docs: add narrative onboarding references
  docs/developer_onboarding.md
  docs/onboarding/README.md
  docs/onboarding_guide.md
  onboarding_confirm.yml
Due: doc-indexer, validate-links

docs: document narrative guides
  docs/KEY_DOCUMENTS.md
Due: doc-indexer, validate-links

feat: scaffold nazarick console skeleton
  nazarick-console/backend/Cargo.toml
  nazarick-console/backend/src/main.rs
  nazarick-console/frontend/app.js
  nazarick-console/frontend/index.html
Due: none

docs: add module migration playbooks
  docs/INDEX.md
  docs/migration_playbooks/crown.md
  docs/migration_playbooks/razor.md
  docs/migration_protocol.md
Due: doc-indexer, validate-links

Add razor and inanna Rust crates and integrate chakra pulse
  NEOABZU/Cargo.lock
  NEOABZU/Cargo.toml
  NEOABZU/inanna/Cargo.toml
  NEOABZU/inanna/src/lib.rs
  NEOABZU/inanna/tests/basic.rs
  NEOABZU/razor/Cargo.toml
  NEOABZU/razor/src/lib.rs
  NEOABZU/razor/tests/route.rs
  nazarick-console/backend/Cargo.lock
  nazarick-console/backend/Cargo.toml
  nazarick-console/backend/src/main.rs
Due: none

Rename razor crate to razar
  NEOABZU/Cargo.lock
  NEOABZU/Cargo.toml
  NEOABZU/crown/tests/kimicho_fallback.rs
  NEOABZU/crown/tests/razar_integration.rs
  NEOABZU/kimicho/tests/razar_integration.rs
  NEOABZU/razar/Cargo.toml
  NEOABZU/razar/src/lib.rs
  NEOABZU/razar/tests/route.rs
  component_index.json
  docs/ABZU_blueprint.md
  docs/INDEX.md
  docs/RAZAR_AGENT.md
  docs/The_Absolute_Protocol.md
  docs/figures/razar_crown_kimicho_flow.mmd
  docs/figures/rust_crate_boundaries.mmd
  docs/migration_crosswalk.md
  docs/migration_playbooks/razar.md
  docs/narrative_framework.md
  docs/observability.md
  docs/system_blueprint.md
Due: doc-indexer, validate-component-json, validate-links

feat: add chakra mapping and pulse integrations
  bana/narrative.py
  config/albedo_config.yaml
  config/razar_config.yaml
  web_console/game_dashboard/chakraPulse.js
  web_console/game_dashboard/chatThreads.js
  web_console/game_dashboard/dashboard.js
  web_console/game_dashboard/index.html
Due: confirm-reading

feat: add heart mediator for coordination
  connectors/heart_mediator.py
  crown_prompt_orchestrator.py
  operator_api.py
  servant_model_manager.py
  src/cli/console_interface.py
Due: confirm-reading, check-connector-index

Create videoa_agent_stack.md
  NEOABZU/docs/videoa_agent_stack.md
Due: validate-links

feat: add auth layers, benchmarks, and tests
  benchmarks/README.md
  benchmarks/rust_vs_python_path.py
  docs/INDEX.md
  docs/benchmarks/rust_vs_python.md
  docs/onboarding/external_contributors.md
  narrative_api.py
  nazarick-console/backend/src/main.rs
  neoabzu_chakrapulse/__init__.py
  tests/agents/test_event_bus.py
  tests/conftest.py
  tests/narrative/test_narrative_api.py
  tests/web_console/test_chakra_pulse_panel.py
Due: confirm-reading, doc-indexer, validate-links
