Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, rust-fmt-clippy, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-world-registry, validate-links, validate-docs, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Path conditions:
  confirm-reading: any of: \.py$
  rust-fmt-clippy: any of: \.rs$
  doc-indexer: any of: ^docs/
  check-connector-index: any of: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  validate-component-index: any of: ^docs/component_index.md
  validate-component-json: any of: ^component_index.json$
  validate-world-registry: any of: ^(worlds/|agents/|memory/|scripts/validate_world_registry.py)
  validate-links: any of: \.(md|markdown|mdown)$, but not: ^docs/INDEX\.md$
  validate-docs: any of: ^(docs/chakra_versions.json|docs/chakra_koan_system.md)
  audit-doctrine: any of: ^docs/
  verify-doctrine-refs: any of: ^docs/INDEX\.md$
  verify-chakra-monitoring: any of: ^(docs/|monitoring/)
  verify-self-healing: any of: ^(docs/|logs/|quarantine/)

Document Crown invocation ritual
  docs/INDEX.md
  docs/awakening_overview.md
  docs/blueprint_spine.md
  docs/crown_invocation_guide.md
  docs/onboarding/python_alpha_squad.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

test: add crown handshake transcript coverage
  tests/razar/conftest.py
  tests/razar/test_crown_handshake.py
Due: confirm-reading

Add identity sync guard and documentation updates
  .github/workflows/alpha_gate.yml
  .pre-commit-config.yaml
  data/identity.json
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/The_Absolute_Protocol.md
  onboarding_confirm.yml
  scripts/check_identity_sync.py
  scripts/ensure_blueprint_sync.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add alpha stage task breakdown to roadmap
  docs/roadmap.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document alpha stage snapshots
  docs/PROJECT_STATUS.md
  docs/alpha_v0_1_charter.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Enhance Stage A gate coverage enforcement
  dev-requirements.txt
  docs/PROJECT_STATUS.md
  docs/releases/alpha_v0_1_workflow.md
  pyproject.toml
  pytest.ini
  scripts/run_alpha_gate.sh
  tests/conftest.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

feat: export alpha gate telemetry
  .github/workflows/alpha_gate.yml
  deployment/pipelines/alpha_gate.yml
  docs/releases/alpha_v0_1_workflow.md
  monitoring/README.md
  monitoring/grafana-dashboard.json
  monitoring/metrics_catalog.md
  scripts/export_alpha_gate_metrics.py
  scripts/run_alpha_gate.sh
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Add boot metrics exporter and document Stage A runner
  .github/workflows/alpha_gate.yml
  docs/INDEX.md
  docs/hardware_support.md
  docs/releases/alpha_v0_1_workflow.md
  monitoring/README.md
  monitoring/boot_metrics.py
  monitoring/grafana-dashboard.json
  monitoring/metrics_catalog.md
  razar/boot_orchestrator.py
  scripts/run_alpha_gate.sh
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add integration tests for boot metrics telemetry
  docs/INDEX.md
  docs/releases/alpha_v0_1_workflow.md
  monitoring/boot_metrics.prom
  monitoring/boot_metrics.py
  monitoring/metrics_catalog.md
  razar/boot_orchestrator.py
  scripts/razar_chaos_drill.py
  tests/conftest.py
  tests/integration/test_boot_metrics.py
  tests/integration/test_razar_self_healing.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add Crown replay capture workflow
  crown/replay_scenarios.yaml
  docs/INDEX.md
  docs/crown_invocation_guide.md
  docs/releases/alpha_v0_1_workflow.md
  scripts/crown_capture_replays.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add Crown replay regression and telemetry integration
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/releases/alpha_v0_1_workflow.md
  logs/crown_replays/crown_air_star_validation.json
  logs/crown_replays/crown_glm_reflection.json
  logs/crown_replays/crown_kimi_k2_revision.json
  logs/crown_replays/crown_kimicho_guidance.json
  logs/crown_replays/crown_rstar_finalization.json
  monitoring/grafana-dashboard.json
  monitoring/metrics_catalog.md
  scripts/export_alpha_gate_metrics.py
  scripts/run_alpha_gate.sh
  tests/conftest.py
  tests/crown/test_replay_determinism.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Stub system monitor metrics in start_spiral_os tests
  tests/test_start_spiral_os.py
Due: confirm-reading

test: stub listening engine audio capture and features
  tests/test_start_spiral_os.py
Due: confirm-reading

Handle offline crown handshake and refresh boot metrics
  launch_servants.sh
  logs/razar_boot_history.json
  monitoring/boot_metrics.prom
  razar/boot_orchestrator.py
  tests/integration/test_boot_metrics.py
Due: confirm-reading, verify-chakra-monitoring, verify-self-healing

Preserve alpha gate evidence per run
  docs/PROJECT_STATUS.md
  docs/releases/alpha_v0_1_workflow.md
  scripts/run_alpha_gate.sh
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Adjust test coverage targets
  pytest.ini
Due: none

docs: clarify stage a coverage scope
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/releases/alpha_v0_1_workflow.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Switch alpha gate to Mermaid coverage export
  component_index.json
  coverage.json
  coverage.mmd
  coverage.svg
  logs/alpha_gate/20250918T221655Z/alpha_gate.prom
  logs/alpha_gate/20250918T221655Z/alpha_gate_summary.json
  logs/alpha_gate/20250918T221655Z/boot_metrics.prom
  logs/alpha_gate/20250918T221655Z/coverage.json
  logs/alpha_gate/20250918T221655Z/coverage.mmd
  logs/alpha_gate/20250918T221655Z/tests.log
  logs/alpha_gate/latest
  scripts/export_coverage.py
  scripts/run_alpha_gate.sh
Due: confirm-reading, validate-component-json, verify-self-healing

Refine pytest args validation for alpha gate
  scripts/run_alpha_gate.sh
Due: none

Pause non-stage components and restrict coverage enforcement
  component_index.json
  scripts/export_coverage.py
Due: confirm-reading, validate-component-json

test: cover optional memory fallbacks
  tests/test_spiral_memory.py
  tests/test_start_spiral_os.py
  tests/test_vector_memory.py
Due: confirm-reading

Add coverage badge generation and bundle html reports
  scripts/export_coverage.py
  scripts/run_alpha_gate.sh
Due: confirm-reading

Expand Spiral OS and memory/vector coverage tests
  tests/test_spiral_memory.py
  tests/test_spiral_os.py
  tests/test_spiral_vector_db.py
  tests/test_vector_memory.py
Due: confirm-reading

Handle inherited pytest opts in alpha gate
  scripts/run_alpha_gate.sh
  tests/scripts/test_run_alpha_gate.py
Due: confirm-reading

Normalize snapshot manifest entries
  scripts/export_coverage.py
  scripts/run_alpha_gate.sh
  vector_memory.py
Due: confirm-reading

Expand Stage A tests and regenerate alpha gate artifacts
  component_index.json
  coverage.json
  coverage.svg
  logs/alpha_gate/20250919T220647Z/alpha_gate.prom
  logs/alpha_gate/20250919T220647Z/alpha_gate_summary.json
  logs/alpha_gate/20250919T220647Z/boot_metrics.prom
  logs/alpha_gate/20250919T220647Z/build.log
  logs/alpha_gate/20250919T220647Z/coverage.json
  logs/alpha_gate/20250919T220647Z/coverage.mmd
  logs/alpha_gate/20250919T220647Z/coverage.svg
  logs/alpha_gate/20250919T220647Z/health_checks.log
  logs/alpha_gate/20250919T220647Z/tests.log
  logs/alpha_gate/20250919T221803Z/alpha_gate.prom
  logs/alpha_gate/20250919T221803Z/alpha_gate_summary.json
  logs/alpha_gate/20250919T221803Z/boot_metrics.prom
  logs/alpha_gate/20250919T221803Z/build.log
  logs/alpha_gate/20250919T221803Z/coverage.json
  logs/alpha_gate/20250919T221803Z/coverage.mmd
  logs/alpha_gate/20250919T221803Z/coverage.svg
  logs/alpha_gate/20250919T221803Z/health_checks.log
  logs/alpha_gate/20250919T221803Z/tests.log
  logs/alpha_gate/latest
  monitoring/alpha_gate.prom
  monitoring/alpha_gate_summary.json
  monitoring/pytest_metrics.prom
  scripts/export_coverage.py
  scripts/run_alpha_gate.sh
  spiral_memory.py
  tests/test_spiral_memory.py
  tests/test_spiral_os.py
  tests/test_spiral_vector_db.py
  tests/test_start_spiral_os.py
  tests/test_vector_memory.py
  vector_memory.py
Due: confirm-reading, validate-component-json, verify-chakra-monitoring, verify-self-healing

Stop generating coverage badge artifacts
  scripts/export_coverage.py
  scripts/run_alpha_gate.sh
Due: confirm-reading

chore: refresh coverage artifacts
  coverage.json
  coverage.mmd
Due: none

Add Spiral OS components to index and update coverage
  component_index.json
  coverage.json
  coverage.mmd
  spiral_vector_db/__init__.py
  start_spiral_os.py
Due: confirm-reading, validate-component-json

Ensure coverage export refreshes badge and validates htmlcov
  scripts/export_coverage.py
Due: confirm-reading

Ensure alpha gate stops on coverage export failure
  scripts/run_alpha_gate.sh
  tests/scripts/test_run_alpha_gate.py
Due: confirm-reading

Record alpha gate evidence with coverage HTML
  component_index.json
  coverage.svg
  logs/alpha_gate/20250920T065519Z/alpha_gate.prom
  logs/alpha_gate/20250920T065519Z/alpha_gate_summary.json
  logs/alpha_gate/20250920T065519Z/boot_metrics.prom
  logs/alpha_gate/20250920T065519Z/build.log
  logs/alpha_gate/20250920T065519Z/coverage.json
  logs/alpha_gate/20250920T065519Z/coverage.mmd
  logs/alpha_gate/20250920T065519Z/health_checks.log
  logs/alpha_gate/20250920T065519Z/htmlcov/.gitignore
  logs/alpha_gate/20250920T065519Z/htmlcov/class_index.html
  logs/alpha_gate/20250920T065519Z/htmlcov/coverage_html_cb_6fb7b396.js
  logs/alpha_gate/20250920T065519Z/htmlcov/function_index.html
  logs/alpha_gate/20250920T065519Z/htmlcov/index.html
  logs/alpha_gate/20250920T065519Z/htmlcov/spiral_memory_py.html
  logs/alpha_gate/20250920T065519Z/htmlcov/spiral_os.html
  logs/alpha_gate/20250920T065519Z/htmlcov/start_spiral_os_py.html
  logs/alpha_gate/20250920T065519Z/htmlcov/status.json
  logs/alpha_gate/20250920T065519Z/htmlcov/style_cb_6b508a39.css
  logs/alpha_gate/20250920T065519Z/htmlcov/vector_memory_py.html
  logs/alpha_gate/20250920T065519Z/htmlcov/z_284a9632f7622ef8___init___py.html
  logs/alpha_gate/20250920T065519Z/htmlcov/z_284a9632f7622ef8___main___py.html
  logs/alpha_gate/20250920T065519Z/htmlcov/z_284a9632f7622ef8__hf_stub_py.html
  logs/alpha_gate/20250920T065519Z/htmlcov/z_284a9632f7622ef8_chakra_cycle_py.html
  logs/alpha_gate/20250920T065519Z/htmlcov/z_284a9632f7622ef8_pulse_emitter_py.html
  logs/alpha_gate/20250920T065519Z/htmlcov/z_284a9632f7622ef8_start_spiral_os_py.html
  logs/alpha_gate/20250920T065519Z/htmlcov/z_96fe5d16ef1bf033___init___py.html
  logs/alpha_gate/20250920T065519Z/tests.log
  logs/alpha_gate/latest
  monitoring/pytest_metrics.prom
  scripts/scan_todo_fixme.py
Due: confirm-reading, validate-component-json, verify-chakra-monitoring, verify-self-healing

Update memory layer readiness terminology
  component_index.json
  docs/INDEX.md
  docs/component_index.md
  docs/figures/layer_init_broadcast.mmd
  docs/figures/layer_init_query_flow.mmd
  docs/figures/memory_bundle.mmd
  docs/figures/operator_query_sequence.mmd
  docs/figures/query_memory_aggregation.mmd
  docs/memory_architecture.md
  docs/memory_layers_GUIDE.md
  scripts/check_memory_layers.py
  scripts/init_memory_layers.py
  tests/test_memory_bus.py
Due: confirm-reading, doc-indexer, validate-component-index, validate-component-json, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Expose memory diagnostics from PyO3 binding
  NEOABZU/memory/src/bin/memory_bootstrap.rs
  NEOABZU/memory/src/lib.rs
  memory/bundle.py
  tests/test_memory_bundle.py
  tests/test_neoabzu_bindings.py
Due: confirm-reading, rust-fmt-clippy, validate-world-registry

Add memory initialization telemetry and tests
  INANNA_AI/__init__.py
  INANNA_AI_AGENT/__init__.py
  component_index.json
  docs/monitoring/RAZAR.md
  docs/runbooks/razar_escalation.md
  monitoring/boot_metrics.py
  razar/boot_orchestrator.py
  scripts/bootstrap_memory.py
  scripts/bootstrap_world.py
  tests/test_memory_initialization_metrics.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Enforce pydub audio backend and document Stage B checks
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/index.md
  docs/runbooks/sonic_rehearsal_guide.md
  docs/system_blueprint.md
  onboarding_confirm.yml
  src/audio/check_env.py
  src/audio/segment.py
  start_spiral_os.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Document DAW preflight guardrails
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/index.md
  docs/runbooks/sonic_rehearsal_guide.md
  docs/system_blueprint.md
  modulation_arrangement.py
  scripts/setup_audio_env.sh
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add audio telemetry instrumentation
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/index.md
  docs/monitoring/audio_rehearsal_telemetry.md
  docs/system_blueprint.md
  modulation_arrangement.py
  onboarding_confirm.yml
  src/audio/engine.py
  src/audio/telemetry.py
  state/crown_identity_fingerprint.json
  tests/test_audio_telemetry.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Expand Neo-APSU MCP handshake
  component_index.json
  connectors/neo_apsu_connector_template.py
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/component_status.json
  docs/component_status.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/connectors/mcp_capability_payload.md
  docs/index.md
  docs/system_blueprint.md
  onboarding_confirm.yml
  tests/connectors/test_neo_apsu_connector_template.py
Due: confirm-reading, doc-indexer, check-connector-index, validate-component-json, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Guard heartbeat when MCP disabled
  connectors/neo_apsu_connector_template.py
  tests/connectors/test_neo_apsu_connector_template.py
Due: confirm-reading, check-connector-index
