Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-links

confirm-reading:
  name: Confirm onboarding reading
  entry: python scripts/confirm_reading.py
  language: system
  pass_filenames: false

doc-indexer:
  name: Regenerate documentation index
  entry: python tools/doc_indexer.py
  language: system
  pass_filenames: false

check-connector-index:
  name: Check connector index entries
  entry: python scripts/check_connector_index.py
  language: python
  pass_filenames: false

validate-component-index:
  name: Validate component index entries
  entry: python scripts/validate_component_index.py
  language: system
  pass_filenames: false

validate-component-json:
  name: Validate component_index.json fields
  entry: python scripts/validate_component_index_json.py
  language: system
  pass_filenames: false

validate-links:
  name: Validate markdown links
  entry: python scripts/validate_links.py
  language: system

Add CLI entry for crown prompt orchestrator
  crown_prompt_orchestrator.py
Due: confirm-reading

Use stable hash for prompt orchestration
  crown_prompt_orchestrator.py
Due: confirm-reading

feat: add async crown prompt orchestrator
  crown_prompt_orchestrator.py
  tests/crown/server/test_server.py
  tests/crown/test_prompt_orchestrator.py
  tests/test_prometheus_metrics.py
Due: confirm-reading

Offload GLM calls and add async support
  INANNA_AI/glm_integration.py
  crown_prompt_orchestrator.py
Due: confirm-reading

Targeted exception handling in crown orchestrator
  CHANGELOG.md
  crown_prompt_orchestrator.py
Due: confirm-reading, validate-links

chore: remove secrets env and document template
  CONTRIBUTING.md
  secrets.env
Due: validate-links

feat: enforce Python 3.11 in requirements check
  scripts/check_requirements.sh
Due: none

test: cover console logs and streaming
  tests/conftest.py
  tests/crown/test_console_startup.py
Due: confirm-reading

feat: improve health check error reporting
  launch_servants.sh
  start_crown_console.sh
Due: none

docs: add environment preparation guidance
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
Due: doc-indexer, validate-links

chore: adopt Apache License 2.0
  GENESIS/GREAT_MOTHER_SACRED_VAULT/README_SACREDMEMORY.MD
  INANNA_AI/GITHUB 20445dfc251d80658e31e0a752774bd9.md
  INANNA_AI/README.md
  INANNA_AI_AGENT/README_INANNA_AI_AGENT.md
  LICENSE
  LICENSE_CRYSTAL.md
  MUSIC_FOUNDATION/README_INANNA_MUSIC.md
  MUSIC_FOUNDATION/README_MUSIC_QNL_OS.md
  MUSIC_FOUNDATION/README_Music_Foundation.txt
  QNL_LANGUAGE/CORE SYSTEM 20545dfc251d80018055fb4449aee959.md
  README.md
  README_CODE_FUNCTION.md
  README_OPERATOR.md
  README_QNL_OS.md
  docs/INDEX.md
  docs/README.md
  docs/dependency-graph.md
  pyproject.toml
Due: doc-indexer, validate-links

feat: add milestone copresence verification script
  scripts/verify_milestone_operator_copresence.py
Due: confirm-reading

test: ensure boot orchestrator logs events
  onboarding_confirm.yml
  tests/agents/razar/test_boot_orchestrator.py
Due: confirm-reading

Add test for servant launch health and endpoint file
  tests/agents/razar/test_servant_launch.py
  tests/conftest.py
Due: confirm-reading

fix: ensure audio module on path
  crown_decider.py
  crown_prompt_orchestrator.py
Due: confirm-reading

chore: add secrets env placeholders
  secrets.env
Due: none

test: add console streaming log test
  tests/crown/test_console_streaming.py
Due: confirm-reading

test: cover deterministic ids and cli
  tests/crown/test_prompt_orchestrator.py
Due: confirm-reading

test: cover GLM health check
  INANNA_AI/defensive_network_utils.py
  INANNA_AI/existential_reflector.py
  INANNA_AI/glm_analyze.py
  INANNA_AI/glm_init.py
  INANNA_AI/glm_integration.py
  docs/INDEX.md
  docs/crown_manifest.md
  docs/testing/failure_inventory.md
  init_crown_agent.py
  tests/crown/test_glm_health_check.py
  tests/crown/test_servant_registration.py
  tests/requirements.txt
  tools/kimi_k2_client.py
Due: confirm-reading, doc-indexer, validate-links

feat: enforce layer maturity
  .github/workflows/ci.yml
  docs/component_status.md
  scripts/verify_component_maturity.py
Due: confirm-reading, doc-indexer, validate-links

chore: clarify Opencode changelog entry\n\nI refined the Opencode handover note in CHANGELOG_razar.md to obtain clearer release documentation, expecting contributors to understand the CLI's role.
  CHANGELOG.md
  CHANGELOG_razar.md
  component_index.json
  docs/INDEX.md
  docs/RAZAR_AGENT.md
  docs/recovery_playbook.md
  docs/test_index.md
  razar/ai_invoker.py
  tests/conftest.py
  tests/razar/test_ai_invoker.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-links

feat: route repair tasks to opencode
  crown_prompt_orchestrator.py
  docs/INDEX.md
  docs/crown_servant_models.md
  init_crown_agent.py
  servant_model_manager.py
  tests/crown/test_servant_routing.py
  tools/opencode_client.py
Due: confirm-reading, doc-indexer, validate-links

feat: enable opencode kimi backend
  CHANGELOG.md
  docs/INDEX.md
  docs/tools/kimi_integration.md
  tools/kimi_k2_client.py
  tools/opencode_client.py
Due: confirm-reading, doc-indexer, validate-links

Add regression integration test suite
  tests/conftest.py
  tests/integration/test_core_regressions.py
Due: confirm-reading

feat: add doctrine reference verifier
  .pre-commit-config.yaml
  docs/INDEX.md
  scripts/verify_doctrine_refs.py
  tests/scripts/test_verify_doctrine_refs.py
  tools/doc_indexer.py
Due: confirm-reading, doc-indexer

feat: add CPU/GPU env configs and docs
  CHANGELOG.md
  docker/Dockerfile.cpu
  docker/Dockerfile.gpu
  docs/dependency_registry.md
  docs/environment_setup.md
  docs/index.md
  environment.gpu.yml
Due: doc-indexer, validate-links

Add integration suite for system flows
  tests/conftest.py
  tests/integration/test_full_flows.py
  tests/priority_map.yaml
Due: confirm-reading

Revert test artifact changes
  .pre-commit-config.yaml
  pyproject.toml
  pytest.ini
Due: none

build: add code index and CI verification
  .github/workflows/ci.yml
  README.md
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/code_index.md
  docs/the_absolute_pytest.md
  mkdocs.yml
  onboarding_confirm.yml
  scripts/build_index.py
Due: confirm-reading, doc-indexer, validate-links

docs: add release runbook
  docs/INDEX.md
  docs/release_runbook.md
Due: doc-indexer, validate-links

feat: enforce release checklist
  .github/workflows/release_checklist.yml
  docs/INDEX.md
  docs/absolute_protocol_checklist.md
  scripts/validate_absolute_protocol_checklist.py
Due: confirm-reading, doc-indexer, validate-links

feat(razar): emit health events and add recovery daemon
  CHANGELOG.md
  CHANGELOG_razar.md
  docs/RAZAR_AGENT.md
  razar/boot_orchestrator.py
  scripts/recovery_daemon.py
Due: confirm-reading, doc-indexer, validate-links

feat(memory): add multi-layer broadcast and search API
  docs/INDEX.md
  docs/memory_layers_GUIDE.md
  memory/__init__.py
  memory/search_api.py
  scripts/init_memory_layers.py
  tests/test_memory_bus.py
Due: confirm-reading, doc-indexer, validate-links

Stream narrative audio and frames
  CHANGELOG.md
  docs/narrative_system.md
  memory/narrative_engine.py
  tests/narrative_engine/test_multitrack_output.py
  web_console/index.html
  web_console/main.js
Due: confirm-reading, doc-indexer, validate-links

feat: add servant management and health gating
  component_index.json
  crown_prompt_orchestrator.py
  docs/INDEX.md
  docs/crown_servant_models.md
  scripts/manage_servants.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-links

docs: add copresence dashboard
  crown_router.py
  memory/narrative_engine.py
  monitoring/copresence_dashboard.md
  narrative_api.py
  server.py
  web_console/index.html
  web_console/main.js
Due: confirm-reading, validate-links

feat: verify documentation doctrine
  .pre-commit-config.yaml
  docs/INDEX.md
  docs/contributor_checklist.md
  scripts/verify_doctrine.py
  tests/scripts/test_verify_doctrine.py
Due: confirm-reading, doc-indexer, validate-links

feat: track errors and failing tests
  CHANGELOG.md
  docs/INDEX.md
  docs/error_registry.md
  docs/testing/failure_inventory.md
  scripts/capture_failing_tests.py
  scripts/update_error_index.py
Due: confirm-reading, doc-indexer, validate-links

Add audit doctrine enforcement script
  .pre-commit-config.yaml
  docs/contributor_checklist.md
  scripts/audit_doctrine.py
  tests/scripts/test_audit_doctrine.py
Due: confirm-reading, doc-indexer, validate-links

feat: add ip-sensitive registry
  .pre-commit-config.yaml
  CHANGELOG.md
  agents/guardian.py
  agents/operator_dispatcher.py
  docs/INDEX.md
  docs/ip_registry.md
  scripts/verify_ip_tags.py
  src/core/avatar_expression_engine.py
  src/core/self_correction_engine.py
Due: confirm-reading, doc-indexer, validate-links

Path conditions:
  confirm-reading: any of: \.py$
  doc-indexer: any of: ^docs/
  check-connector-index: any of: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  validate-component-index: any of: ^docs/component_index.md
  validate-component-json: any of: ^component_index.json$
  validate-links: any of: \.(md|markdown|mdown)$, but not: ^docs/INDEX\.md$
