Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-links

.pre-commit-config.yaml:

# Run `pre-commit autoupdate` after dependency upgrades.
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.11
  hooks:
  - id: ruff
    args:
    - --fix
- repo: https://github.com/psf/black
  rev: 24.4.2
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/pycqa/flake8
  rev: 7.1.0
  hooks:
  - id: flake8
- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    files: ^$
- repo: local
  hooks:
  - id: confirm-reading
    name: Confirm onboarding reading
    entry: python scripts/confirm_reading.py
    language: system
    types: [python]
    pass_filenames: false
  - id: check-key-documents
    name: Check key documents exist
    entry: python scripts/check_key_documents.py
    language: system
    pass_filenames: false
  - id: validate-key-docs
    name: Validate protected doc hashes and summaries
    entry: python scripts/verify_doc_hashes.py
    language: system
    pass_filenames: false
  - id: require-onboarding-update
    name: Require onboarding confirmation for key docs
    entry: python scripts/require_onboarding_update.py
    language: system
    pass_filenames: false
    always_run: true
  - id: doc-indexer
    name: Regenerate documentation index
    entry: python tools/doc_indexer.py
    language: system
    pass_filenames: false
    files: ^docs/
  - id: ensure-blueprint-sync
    name: Ensure blueprint updated with core changes
    entry: python scripts/ensure_blueprint_sync.py
    language: system
  - id: block-binaries
    name: Block binary files
    entry: python scripts/check_no_binaries.py
    language: system
    pass_filenames: false
  - id: placeholder-elimination
    name: Placeholder Elimination
    entry: python scripts/check_placeholders.py
    language: system
  - id: scan-todo-fixme
    name: Scan TODO/FIXME markers
    entry: python scripts/scan_todo_fixme.py
    language: system
    pass_filenames: false
  - id: verify-versions
    name: Ensure modules declare __version__
    entry: python scripts/verify_versions.py
    language: system
    pass_filenames: false
  - id: check-connector-index
    name: Check connector index entries
    entry: python scripts/check_connector_index.py
    language: python
    pass_filenames: false
    files: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  - id: require-connector-registry-update
    name: Require connector registry updates
    entry: python scripts/require_connector_registry_update.py
    language: system
    pass_filenames: false
  - id: validate-component-index
    name: Validate component index entries
    entry: python scripts/validate_component_index.py
    language: system
    pass_filenames: false
    files: ^docs/component_index.md
  - id: validate-component-json
    name: Validate component_index.json fields
    entry: python scripts/validate_component_index_json.py
    language: system
    pass_filenames: false
    files: ^component_index.json$
  - id: verify-dependencies
    name: Verify dependency versions
    entry: python scripts/verify_dependencies.py
    language: system
    pass_filenames: false
  - id: check-env
    name: Verify environment prerequisites
    entry: python scripts/check_env.py
    language: system
    pass_filenames: false
  - id: validate-links
    name: Validate markdown links
    entry: python scripts/validate_links.py
    language: system
    types: [markdown]
    exclude: ^docs/INDEX\.md$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.19.0
  hooks:
    - id: commitlint
      stages: [commit-msg]
      additional_dependencies: ['@commitlint/cli@17.7.2']

docs: add RAZAR self-healing overview
  CHANGELOG.md
  CHANGELOG_razar.md
  docs/INDEX.md
  docs/RAZAR_AGENT.md
  docs/index.md
Due: doc-indexer, validate-links

feat(worlds): track remote repairs
  docs/INDEX.md
  docs/world_bootstrap.md
  tests/test_config_registry.py
  worlds/__init__.py
  worlds/config_registry.py
Due: confirm-reading, doc-indexer, validate-links

docs: clarify living deployments
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/index.md
  docs/project_mission_vision.md
Due: doc-indexer, validate-links

feat: add long task mode to boot orchestrator
  component_index.json
  docs/INDEX.md
  docs/recovery_playbook.md
  razar/boot_orchestrator.py
  tests/conftest.py
  tests/razar/test_long_task.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-links

docs: add ignition blueprint and cross-links
  docs/INDEX.md
  docs/RAZAR_AGENT.md
  docs/ignition_blueprint.md
  docs/project_overview.md
Due: doc-indexer, validate-links

feat: record patch metadata for world export
  docs/world_bootstrap.md
  onboarding_confirm.yml
  pyproject.toml
  scripts/world_export.py
  tests/test_config_registry.py
  worlds/__init__.py
  worlds/config_registry.py
Due: confirm-reading, doc-indexer, validate-links

feat: add simple web ui service
  templates/index.html
  tests/web_ui/test_memory_query.py
  ui_service.py
Due: confirm-reading

docs: add UI service guide
  docs/INDEX.md
  docs/index.md
  docs/project_overview.md
  docs/ui_service.md
Due: doc-indexer, validate-links

docs: expand unified memory bundle section
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
Due: doc-indexer, validate-links

docs: describe MemoryBundle query flow
  docs/blueprint_spine.md
Due: doc-indexer, validate-links

docs: document memory bundle
  docs/system_blueprint.md
Due: doc-indexer, validate-links

docs: add memory bundle section
  docs/ABZU_SUBSYSTEM_OVERVIEW.md
  docs/index.md
  onboarding_confirm.yml
Due: doc-indexer, validate-links

feat: cuneiform welcome banner before memory boot
  docs/ui_service.md
  onboarding_confirm.yml
  scripts/cuneiform_message.txt
  scripts/welcome_banner.py
  start_crown_console.sh
Due: confirm-reading, doc-indexer, validate-links

feat(ui): add arcade boot page
  templates/boot.html
  tests/web_ui/test_boot_page.py
  ui_service.py
Due: confirm-reading

feat(operator-service): expose ignition and handover endpoints
  operator_service/__init__.py
  operator_service/api.py
  tests/web_operator/test_api.py
  web_operator/templates/arcade.html
Due: confirm-reading

docs: add operator console guide and links
  docs/INDEX.md
  docs/index.md
  docs/operator_console.md
  docs/project_overview.md
Due: doc-indexer, validate-links

docs: expand operator interface and console service
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/figures/layer_init_query_flow.mmd
  docs/system_blueprint.md
  onboarding_confirm.yml
Due: doc-indexer, validate-links

docs: document operator query flow
  docs/INDEX.md
  docs/figures/operator_query_sequence.mmd
  docs/memory_layers_GUIDE.md
Due: doc-indexer, validate-links

test(web_operator): add ignition e2e tests
  onboarding_confirm.yml
  tests/web_operator/test_ignition_e2e.py
Due: confirm-reading

Add arcade console assets and tests
  scripts/welcome_banner.py
  tests/conftest.py
  tests/web_console/test_arcade_ui.py
  web_console/arcade.css
  web_console/arcade.html
  web_console/main.js
Due: confirm-reading

docs: add standalone arcade UI doc
  docs/INDEX.md
  docs/arcade_ui.md
  docs/index.md
  docs/onboarding/README.md
  docs/project_overview.md
Due: doc-indexer, validate-links

docs: add Arcade console interfaces
  CHANGELOG.md
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/system_blueprint.md
  onboarding_confirm.yml
Due: doc-indexer, validate-links

Replace binary arcade assets with ASCII versions
  docs/INDEX.md
  docs/documentation_protocol.md
  docs/style_guides/arcade_theme.md
  style_engine/arcade_theme/fonts/PressStart2P-Regular.txt
  style_engine/arcade_theme/icons/space_invader.svg
  style_engine/arcade_theme/sprites/hero.txt
Due: doc-indexer, validate-links

test: add arcade flow coverage
  onboarding_confirm.yml
  tests/conftest.py
  tests/web_operator/test_arcade_flow.py
Due: confirm-reading

feat: bootstrap memory layers with optional fallbacks
  docs/INDEX.md
  docs/memory_layers_GUIDE.md
  memory/bundle.py
  memory/optional/__init__.py
  memory/optional/cortex.py
  memory/query_memory.py
Due: confirm-reading, doc-indexer, validate-links

feat: expose operator query endpoint
  docs/operator_console.md
  operator_service/__init__.py
  operator_service/api.py
  tests/web_operator/test_api.py
  tests/web_operator/test_arcade_flow.py
  web_operator/arcade.css
  web_operator/templates/arcade.html
Due: confirm-reading, doc-indexer, validate-links

chore: document AI retry flow
  CHANGELOG_razar.md
  component_index.json
  docs/INDEX.md
  docs/ignition_blueprint.md
  razar/boot_orchestrator.py
  tests/razar/test_remote_repair.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-links

docs: detail memory bundle and ignition flow
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/index.md
  docs/project_mission_vision.md
  docs/system_blueprint.md
  onboarding_confirm.yml
Due: doc-indexer, validate-links

Record world model endpoints and CLI utilities
  CHANGELOG.md
  docs/INDEX.md
  docs/world_bootstrap.md
  src/init_crown_agent.py
  worlds/__init__.py
  worlds/__main__.py
  worlds/config_registry.py
Due: confirm-reading, doc-indexer, validate-links

feat: add tracing for memory queries
  agents/event_bus.py
  docs/INDEX.md
  docs/operations.md
  docs/performance/report.md
  memory/query_memory.py
Due: confirm-reading, doc-indexer, validate-links

I added quickstart setup docs and simplified mental extras to streamline world bootstrapping, expecting new users to install and initialize worlds more easily.
  docs/INDEX.md
  docs/setup_quickstart.md
  pyproject.toml
Due: doc-indexer, validate-links

Add version for query_memory and rebuild component index
  component_index.json
  memory/query_memory.py
Due: confirm-reading, validate-component-json

docs: link new guides and index references
  docs/component_index.md
  docs/index.md
  docs/system_blueprint.md
Due: doc-indexer, validate-component-index, validate-links

feat: add validator script
  .pre-commit-config.yaml
  docs/INDEX.md
  docs/world_bootstrap.md
  scripts/validate_world_registry.py
Due: confirm-reading, doc-indexer, validate-links

Create INANNA_AI_CORE_TRAINING.md
  GENESIS/INANNA_AI_CORE_TRAINING.md
Due: validate-links

Create INANNA_AI_SACRED_PROTOCOL.md
  GENESIS/INANNA_AI_SACRED_PROTOCOL.md
Due: validate-links

I clarified memory/optional/__init__.py to document search fallback, expecting easier discovery of no-op modules.
  component_index.json
  docs/INDEX.md
  docs/memory_layers_GUIDE.md
  memory/__init__.py
  memory/bundle.py
  memory/optional/__init__.py
  memory/optional/cortex.py
  memory/optional/narrative_engine.py
  memory/optional/search.py
  onboarding_confirm.yml
Due: confirm-reading, doc-indexer, validate-component-json, validate-links

chore: add mypy configuration
  .github/workflows/ci.yml
  docs/CI_OVERVIEW.md
  docs/INDEX.md
  mypy.ini
  pyproject.toml
Due: doc-indexer, validate-links

test: cover memory bundle initialization
  memory/bundle.py
  tests/test_memory_bundle.py
Due: confirm-reading

feat: add observability hooks
  agents/event_bus.py
  docs/operations.md
  operator_service/api.py
  ui_service.py
Due: confirm-reading, doc-indexer, validate-links
