Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-links

.pre-commit-config.yaml:

# Run `pre-commit autoupdate` after dependency upgrades.
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.11
  hooks:
  - id: ruff
    args:
    - --fix
- repo: https://github.com/psf/black
  rev: 24.4.2
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/pycqa/flake8
  rev: 7.1.0
  hooks:
  - id: flake8
- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    files: ^$
- repo: local
  hooks:
  - id: confirm-reading
    name: Confirm onboarding reading
    entry: python scripts/confirm_reading.py
    language: system
    types: [python]
    pass_filenames: false
  - id: check-key-documents
    name: Check key documents exist
    entry: python scripts/check_key_documents.py
    language: system
    pass_filenames: false
  - id: validate-key-docs
    name: Validate protected doc hashes and summaries
    entry: python scripts/verify_doc_hashes.py
    language: system
    pass_filenames: false
  - id: require-onboarding-update
    name: Require onboarding confirmation for key docs
    entry: python scripts/require_onboarding_update.py
    language: system
    pass_filenames: false
    always_run: true
  - id: doc-indexer
    name: Regenerate documentation index
    entry: python tools/doc_indexer.py
    language: system
    pass_filenames: false
    files: ^docs/
  - id: ensure-blueprint-sync
    name: Ensure blueprint updated with core changes
    entry: python scripts/ensure_blueprint_sync.py
    language: system
  - id: block-binaries
    name: Block binary files
    entry: python scripts/check_no_binaries.py
    language: system
    pass_filenames: false
  - id: placeholder-elimination
    name: Placeholder Elimination
    entry: python scripts/check_placeholders.py
    language: system
  - id: scan-todo-fixme
    name: Scan TODO/FIXME markers
    entry: python scripts/scan_todo_fixme.py
    language: system
    pass_filenames: false
  - id: verify-versions
    name: Ensure modules declare __version__
    entry: python scripts/verify_versions.py
    language: system
    pass_filenames: false
  - id: check-connector-index
    name: Check connector index entries
    entry: python scripts/check_connector_index.py
    language: python
    pass_filenames: false
    files: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  - id: require-connector-registry-update
    name: Require connector registry updates
    entry: python scripts/require_connector_registry_update.py
    language: system
    pass_filenames: false
  - id: validate-component-index
    name: Validate component index entries
    entry: python scripts/validate_component_index.py
    language: system
    pass_filenames: false
    files: ^docs/component_index.md
  - id: validate-component-json
    name: Validate component_index.json fields
    entry: python scripts/validate_component_index_json.py
    language: system
    pass_filenames: false
    files: ^component_index.json$
  - id: verify-dependencies
    name: Verify dependency versions
    entry: python scripts/verify_dependencies.py
    language: system
    pass_filenames: false
  - id: check-env
    name: Verify environment prerequisites
    entry: python scripts/check_env.py
    language: system
    pass_filenames: false
  - id: validate-links
    name: Validate markdown links
    entry: python scripts/validate_links.py
    language: system
    types: [markdown]
    exclude: ^docs/INDEX\.md$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.19.0
  hooks:
    - id: commitlint
      stages: [commit-msg]
      additional_dependencies: ['@commitlint/cli@17.7.2']

docs: add Operator-Nazarick bridge overview
  CHANGELOG.md
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/onboarding_guide.md
  docs/operator_interface_GUIDE.md
  docs/operator_nazarick_bridge.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

Enforce boot component probes and add boot sequence tests
  CHANGELOG.md
  CHANGELOG_razar.md
  docs/RAZAR_AGENT.md
  docs/testing/failure_inventory.md
  logs/test_report.txt
  razar/boot_orchestrator.py
  tests/conftest.py
  tests/test_boot_sequence.py
Due: confirm-reading, doc-indexer, validate-links

refactor memory events and aggregator
  docs/INDEX.md
  docs/memory_layers_GUIDE.md
  memory/__init__.py
  memory/query_memory.py
  tests/test_memory_bus.py
Due: confirm-reading, doc-indexer, validate-links

test: compare narrative tracks to golden data
  tests/data/bana/audio.json
  tests/data/bana/prose.json
  tests/data/bana/usd.json
  tests/data/bana/visual.json
  tests/test_bana_narrative_engine.py
Due: confirm-reading

test: update Bana multitrack story fixtures
  tests/data/bana/audio.json
  tests/data/bana/prose.json
  tests/data/bana/usd.json
  tests/data/bana/visual.json
Due: none

Create albedo_deep_personality.md
  agents/nazarick/albedo_deep_personality.md
Due: validate-links

docs: expand narrative system flow and tests
  docs/INDEX.md
  docs/narrative_system.md
Due: doc-indexer, validate-links

feat: stream operator media concurrently
  CHANGELOG.md
  docs/INDEX.md
  docs/operator_interface_GUIDE.md
  docs/system_blueprint.md
  onboarding_confirm.yml
  src/cli.py
  web_console/operator.js
Due: confirm-reading, doc-indexer, validate-links

feat: add doctrine reference checks
  .pre-commit-config.yaml
  CHANGELOG.md
  scripts/verify_doctrine_refs.py
  tests/conftest.py
  tests/scripts/test_verify_doctrine_refs.py
Due: confirm-reading, validate-links

Add test for release signing script
  docs/INDEX.md
  docs/ip_registry.md
  docs/release_process.md
  scripts/sign_release.py
  tests/scripts/test_sign_release.py
Due: confirm-reading, doc-indexer, validate-links

Handle memory layer query errors
  memory/query_memory.py
  tests/test_memory_bus.py
Due: confirm-reading

feat: ensure aggregate search tolerates missing layers
  CHANGELOG.md
  docs/INDEX.md
  docs/memory_layers_GUIDE.md
  memory/search_api.py
  tests/test_memory_bus.py
Due: confirm-reading, doc-indexer, validate-links

Add world bootstrap quickstart
  CHANGELOG.md
  docs/INDEX.md
  docs/index.md
  docs/setup_quickstart.md
  scripts/bootstrap_world.py
Due: confirm-reading, doc-indexer, validate-links

Add world config registry and integrate with event bus and memory
  agents/event_bus.py
  memory/__init__.py
  memory/cortex.py
  memory/emotional.py
  tests/conftest.py
  tests/test_config_registry.py
  worlds/__init__.py
  worlds/config_registry.py
Due: confirm-reading

Handle memory layer failures gracefully
  memory/query_memory.py
  tests/test_memory_bus.py
Due: confirm-reading

feat(memory): add default optional layer fallbacks
  docs/memory_layers_GUIDE.md
  memory/optional/__init__.py
  memory/optional/mental.py
  memory/search_api.py
  scripts/check_memory_layers.py
  scripts/init_memory_layers.py
Due: confirm-reading, doc-indexer, validate-links

feat: add observability spans and health endpoints
  CHANGELOG.md
  agents/event_bus.py
  citadel/event_processor.py
  docs/operations.md
  introspection_api.py
  server.py
  src/api/server.py
Due: confirm-reading, doc-indexer, validate-links

docs: clarify benchmark CSV reference
  .github/workflows/benchmarks.yml
  CHANGELOG.md
  benchmarks/query_memory_bench.py
  benchmarks/run_benchmarks.py
  data/benchmarks/query_memory.csv
  docs/INDEX.md
  docs/performance/report.md
Due: confirm-reading, doc-indexer, validate-links

feat(memory): add bundle facade
  docs/memory_layers_GUIDE.md
  memory/bundle.py
Due: confirm-reading, doc-indexer, validate-links

Add memory layer extras and simplify core tests
  .pre-commit-config.yaml
  docs/INDEX.md
  docs/memory_layers_GUIDE.md
  pyproject.toml
Due: doc-indexer, validate-links

feat: add memory bootstrap script
  CHANGELOG.md
  docs/INDEX.md
  docs/index.md
  pyproject.toml
  scripts/bootstrap_memory.py
Due: confirm-reading, doc-indexer, validate-links

docs: add unified memory bundle diagram
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/figures/memory_bundle.mmd
  docs/memory_layers_GUIDE.md
Due: doc-indexer, validate-links

docs: summarize memory bundle and aggregator
  docs/figures/memory_layer_flow.mmd
  docs/memory_architecture.md
Due: doc-indexer, validate-links

docs(system_blueprint): clarify memory bundle reasoning
  docs/system_blueprint.md
Due: doc-indexer, validate-links

docs: extend subsystem overview with memory bundle
  docs/ABZU_SUBSYSTEM_OVERVIEW.md
Due: doc-indexer, validate-links

docs: add memory layer broadcast and query diagrams
  docs/figures/layer_init_broadcast.mmd
  docs/figures/query_memory_aggregation.mmd
  docs/memory_layers_GUIDE.md
Due: doc-indexer, validate-links

docs: index inner memory diagrams
  CHANGELOG.md
  docs/INDEX.md
  docs/blueprint_spine.md
  docs/figures/layer_init_broadcast.mmd
  docs/figures/memory_bundle.mmd
  docs/figures/memory_layer_flow.mmd
  docs/figures/query_memory_aggregation.mmd
  docs/index.md
  docs/memory_layers_GUIDE.md
  docs/system_blueprint.md
  tools/doc_indexer.py
Due: confirm-reading, doc-indexer, validate-links

docs: document layer_init and query_memory flow
  CHANGELOG.md
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/figures/layer_init_query_flow.mmd
  docs/system_blueprint.md
Due: doc-indexer, validate-links

feat(worlds): add configuration registry
  agents/__init__.py
  tests/test_config_registry.py
  worlds/__init__.py
  worlds/config_registry.py
Due: confirm-reading

feat(memory): handle partial query failures
  memory/query_memory.py
  tests/test_memory_bus.py
Due: confirm-reading

docs: document world bootstrap
  CHANGELOG.md
  docs/INDEX.md
  docs/world_bootstrap.md
  onboarding_confirm.yml
  pyproject.toml
  scripts/bootstrap_world.py
Due: confirm-reading, doc-indexer, validate-links

feat: add optional memory layer fallbacks
  docs/INDEX.md
  docs/memory_layers_GUIDE.md
  memory/__init__.py
  memory/optional/__init__.py
  memory/optional/emotional.py
  memory/optional/narrative_engine.py
  memory/optional/spiral_memory.py
  memory/optional/spiritual.py
  memory/optional/vector_memory.py
  memory/query_memory.py
Due: confirm-reading, doc-indexer, validate-links

feat: add world service manifest and bootstrap validation
  docs/world_bootstrap.md
  scripts/bootstrap_world.py
  worlds/services.py
  worlds/services.yaml
Due: confirm-reading, doc-indexer, validate-links

docs: introduce memory bundle overview
  docs/project_overview.md
Due: doc-indexer, validate-links

docs: add Chat2DB flowchart
  CHANGELOG.md
  docs/chat2db.md
Due: doc-indexer, validate-links

Test Chat2DB integration
  tests/conftest.py
  tests/test_chat2db_integration.py
Due: confirm-reading

docs: document opencode client backends
  docs/INDEX.md
  docs/index.md
  docs/opencode_client.md
Due: doc-indexer, validate-links

test: cover opencode client backends
  tests/conftest.py
  tests/tools/test_opencode_client.py
Due: confirm-reading

feat(razar): retry failed components via AI handover
  CHANGELOG_razar.md
  component_index.json
  docs/INDEX.md
  docs/recovery_playbook.md
  onboarding_confirm.yml
  razar/boot_orchestrator.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-links

test: add remote repair coverage
  tests/conftest.py
  tests/razar/test_remote_repair.py
Due: confirm-reading
