Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-links

confirm-reading:
  name: Confirm onboarding reading
  entry: python scripts/confirm_reading.py
  language: system
  pass_filenames: false

doc-indexer:
  name: Regenerate documentation index
  entry: python tools/doc_indexer.py
  language: system
  pass_filenames: false

check-connector-index:
  name: Check connector index entries
  entry: python scripts/check_connector_index.py
  language: python
  pass_filenames: false

validate-component-index:
  name: Validate component index entries
  entry: python scripts/validate_component_index.py
  language: system
  pass_filenames: false

validate-component-json:
  name: Validate component_index.json fields
  entry: python scripts/validate_component_index_json.py
  language: system
  pass_filenames: false

validate-links:
  name: Validate markdown links
  entry: python scripts/validate_links.py
  language: system

test: crown memory integration
  NEOABZU/crown/src/lib.rs
  NEOABZU/crown/tests/memory_query.rs
  NEOABZU/memory/src/lib.rs
  docs/INDEX.md
  docs/migration_crosswalk.md
Due: doc-indexer, validate-links

feat: add Rust persona, crown, and rag crates
  Cargo.lock
  Cargo.toml
  crown/Cargo.toml
  crown/src/lib.rs
  crown_router_rs.py
  docs/INDEX.md
  docs/feature_parity.md
  docs/testing/failure_inventory.md
  persona/Cargo.toml
  persona/src/lib.rs
  rag/Cargo.toml
  rag/src/lib.rs
Due: confirm-reading, doc-indexer, validate-links

Add maturin targets and Python wrappers
  CHANGELOG.md
  NEOABZU/neoabzu/__init__.py
  NEOABZU/neoabzu/crown.py
  NEOABZU/neoabzu/fusion.py
  NEOABZU/neoabzu/persona.py
  NEOABZU/neoabzu/rag.py
  NEOABZU/pyproject.toml
  docs/INDEX.md
  docs/core_usage.md
Due: confirm-reading, doc-indexer, validate-links

docs: record narrative and numeric crates
  CHANGELOG.md
  NEOABZU/docs/index.md
  docs/INDEX.md
  docs/system_blueprint.md
  docs/testing/failure_inventory.md
Due: doc-indexer, validate-links

Use explicit PyAny extraction
  NEOABZU/memory/tests/query.rs
Due: none

chore: skip py in tracing instrumentation
  NEOABZU/core/src/lib.rs
  NEOABZU/fusion/src/lib.rs
  NEOABZU/rag/src/lib.rs
  NEOABZU/vector/src/lib.rs
Due: none

Add boot sequence initialization
  orchestration_master.py
  scripts/__init__.py
  scripts/boot_sequence.py
Due: confirm-reading

Add python-multipart dependency
  dev-requirements.txt
  requirements.txt
Due: none

Ensure verify_chakra_monitoring can import agents
  scripts/verify_chakra_monitoring.py
Due: confirm-reading

feat: add boot sequence launcher
  docs/INDEX.md
  docs/developer_onboarding.md
  scripts/boot_sequence.py
Due: confirm-reading, doc-indexer, validate-links

chore: expose allowed test registration
  tests/conftest.py
Due: confirm-reading

Handle optional agents package in chakra monitoring
  onboarding_confirm.yml
  scripts/verify_chakra_monitoring.py
Due: confirm-reading

test: import PyAny for memory query
  NEOABZU/memory/tests/query.rs
Due: none

test: add opencv import check
  tests/conftest.py
  tests/test_opencv_import.py
Due: confirm-reading

test: replace placeholder metrics with arrays
  tests/test_dashboard_app.py
  tests/test_dashboard_qnl_mixer.py
Due: confirm-reading

test: stub RandomForestClassifier
  tests/test_emotion_classifier.py
Due: confirm-reading

feat: expose novelty threshold for feedback
  src/core/feedback_logging.py
Due: confirm-reading

Add boot sequence resources for tests
  scripts/boot_config.json
  scripts/boot_sequence.py
  tests/conftest.py
  tests/test_boot_sequence.py
Due: confirm-reading

Define allowed tests early
  tests/conftest.py
Due: confirm-reading

chore: handle optional agents health checks
  scripts/verify_chakra_monitoring.py
Due: confirm-reading

refactor: ensure pyo3 import brings FromPyObject
  NEOABZU/memory/tests/query.rs
Due: none

test: use typed arrays in dashboard tests
  docs/testing/failure_inventory.md
  tests/test_dashboard_app.py
  tests/test_dashboard_qnl_mixer.py
Due: confirm-reading, doc-indexer, validate-links

test: inject RandomState stub for emotion classifier
  tests/test_emotion_classifier.py
Due: confirm-reading

Add OpenCV spec check and pin headless build
  tests/requirements.txt
  tests/test_transformers_generate.py
Due: confirm-reading

clarify python-multipart requirement
  dev-requirements.txt
  requirements.txt
Due: none

add boot sequence test helpers
  razar/__init__.py
  tests/conftest.py
  tests/helpers/boot_config.json
  tests/helpers/boot_sequence.py
  tests/test_boot_sequence.py
Due: confirm-reading

handle optional agents health checks
  scripts/verify_chakra_monitoring.py
Due: confirm-reading

Include python-multipart in lock file
  requirements.lock
Due: none

feat: add websockets dev dependency
  dev-requirements.txt
  requirements.lock
Due: none

feat: expose novelty threshold
  src/core/feedback_logging.py
  src/feedback_logging.py
Due: confirm-reading

test: use boot resources from scripts
  tests/conftest.py
  tests/helpers/boot_config.json
  tests/helpers/boot_sequence.py
  tests/test_boot_sequence.py
Due: confirm-reading

refactor: centralize allowed tests management
  tests/conftest.py
Due: confirm-reading

feat: handle optional agents package
  scripts/verify_chakra_monitoring.py
Due: confirm-reading

Gate pyo3 extension modules behind feature flag
  NEOABZU/memory/Cargo.toml
  NEOABZU/memory/README.md
  NEOABZU/rag/Cargo.toml
  NEOABZU/rag/README.md
  NEOABZU/vector/Cargo.toml
  NEOABZU/vector/README.md
Due: validate-links

test: use arrays for dashboard tests
  tests/test_dashboard_app.py
  tests/test_dashboard_qnl_mixer.py
Due: confirm-reading

fix: inject RandomState object in test
  tests/test_emotion_classifier.py
Due: confirm-reading

refactor: centralize boot config for boot sequence
  scripts/boot_config.json
  scripts/boot_sequence.py
  tests/conftest.py
Due: confirm-reading

chore: guard chakra monitoring when agents missing
  scripts/verify_chakra_monitoring.py
Due: confirm-reading

Silence dead code warning in fusion module
  NEOABZU/Cargo.toml
  NEOABZU/fusion/src/lib.rs
Due: none

feat: make pyo3 optional for extension builds
  NEOABZU/fusion/Cargo.toml
Due: none

Path conditions:
  confirm-reading: any of: \.py$
  doc-indexer: any of: ^docs/
  check-connector-index: any of: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  validate-component-index: any of: ^docs/component_index.md
  validate-component-json: any of: ^component_index.json$
  validate-links: any of: \.(md|markdown|mdown)$, but not: ^docs/INDEX\.md$
