Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, rust-fmt-clippy, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-world-registry, validate-links, validate-docs, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

confirm-reading:
  name: Confirm onboarding reading
  entry: python scripts/confirm_reading.py
  language: system
  pass_filenames: false

rust-fmt-clippy:
  name: Run cargo fmt and clippy
  entry: bash -c 'cargo fmt --check && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

doc-indexer:
  name: Regenerate documentation index
  entry: python tools/doc_indexer.py
  language: system
  pass_filenames: false

check-connector-index:
  name: Check connector index entries
  entry: python scripts/check_connector_index.py
  language: python
  pass_filenames: false

validate-component-index:
  name: Validate component index entries
  entry: python scripts/validate_component_index.py
  language: system
  pass_filenames: false

validate-component-json:
  name: Validate component_index.json fields
  entry: python scripts/validate_component_index_json.py
  language: system
  pass_filenames: false

validate-world-registry:
  name: Validate world registry entries
  entry: python scripts/validate_world_registry.py
  language: system
  pass_filenames: false

validate-links:
  name: Validate markdown links
  entry: python scripts/validate_links.py
  language: system

validate-docs:
  name: Validate documentation registry and cross-links
  entry: python scripts/validate_docs.py
  language: system
  pass_filenames: false

audit-doctrine:
  name: Audit documentation doctrine
  entry: python scripts/audit_doctrine.py
  language: system
  pass_filenames: false

verify-doctrine-refs:
  name: Verify doctrine references
  entry: python scripts/verify_doctrine_refs.py
  language: system
  pass_filenames: false

verify-chakra-monitoring:
  name: Verify chakra monitoring
  entry: python scripts/verify_chakra_monitoring.py
  language: system
  pass_filenames: false

verify-self-healing:
  name: Verify self healing
  entry: python scripts/verify_self_healing.py
  language: system
  pass_filenames: false

Add failover integration test for Crown to rStar chain
  tests/test_failover_integration.py
Due: confirm-reading

Add sandboxed delegation for remote RAZAR agents
  docs/INDEX.md
  docs/SECURITY.md
  razar/ai_invoker.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add health probes and monitoring alerts to boot orchestrator
  component_index.json
  razar/boot_orchestrator.py
Due: confirm-reading, validate-component-json

Instrument AI retries and cache agent config
  docs/INDEX.md
  docs/performance.md
  razar/ai_invoker.py
  razar/boot_orchestrator.py
  razar/metrics.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Document Crown escalation and update doctrine index
  docs/RAZAR_AGENT.md
  docs/blueprint_spine.md
  docs/doctrine_index.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document Alpha v0.1 execution plan
  docs/ABSOLUTE_MILESTONES.md
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/doctrine_index.md
  docs/roadmap.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Document Rust contribution doctrine
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/doctrine_index.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Document Solar Plexus mutator deferral
  CHANGELOG.md
  docs/chakra_architecture.md
  docs/chakra_status.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

docs: add alpha v0.1 charter and status updates
  docs/ABSOLUTE_MILESTONES.md
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/alpha_v0_1_charter.md
  docs/roadmap.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add RAZAR escalation runbook and link blueprint docs
  docs/INDEX.md
  docs/blueprint_spine.md
  docs/doctrine_index.md
  docs/runbooks/razar_escalation.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

test: clean ai invoker credential tests header
  agents/razar/ai_invoker.py
  component_index.json
  config/razar_ai_agents.json
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/RAZAR_AGENT.md
  docs/SECURITY.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/environment_setup.md
  docs/index.md
  docs/runbooks/razar_escalation.md
  docs/system_blueprint.md
  onboarding_confirm.yml
  razar/ai_invoker.py
  tests/conftest.py
  tests/test_ai_invoker_credentials.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-world-registry, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add RAZAR failover dashboard and alerts
  docs/INDEX.md
  docs/monitoring/RAZAR.md
  monitoring/alerts/razar_failover.yml
  monitoring/grafana/razar_failover.json
  scripts/ci_verify_dashboards.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add RAZAR failover integration test
  .github/workflows/ci.yml
  tests/integration/test_razar_failover.py
Due: confirm-reading

Add RAZAR self-healing rollback tests and documentation
  docs/runbooks/razar_escalation.md
  docs/system_blueprint.md
  logging_config.yaml
  tests/integration/test_razar_self_healing.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document Rust doctrine requirements
  NEOABZU/docs/onboarding.md
  docs/INDEX.md
  docs/KEY_DOCUMENTS.md
  docs/The_Absolute_Protocol.md
  docs/doctrine_index.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Document alpha gate workflow and automation
  CHANGELOG.md
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/releases/alpha_v0_1_workflow.md
  scripts/run_alpha_gate.sh
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Document Alpha escalation doctrine
  component_index.json
  docs/INDEX.md
  docs/KEY_DOCUMENTS.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/doctrine_index.md
  docs/system_blueprint.md
Due: doc-indexer, validate-component-json, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add RAZAR telemetry ingestion pipeline
  docs/INDEX.md
  docs/monitoring/RAZAR.md
  monitoring/grafana/razar_failover.json
  onboarding_confirm.yml
  scripts/ingest_razar_telemetry.py
  tests/monitoring/test_razar_telemetry_ingest.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add remote agent contract fixtures and health probes
  component_index.json
  docs/RAZAR_AGENT.md
  scripts/health_check_connectors.py
  tests/conftest.py
  tests/integration/remote_agents/conftest.py
  tests/integration/remote_agents/kimi_k2_completion.json
  tests/integration/remote_agents/rstar_completion.json
  tests/integration/remote_agents/test_ai_invoker_remote_agents.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Add RAZAR chaos drill and integrate into alpha gate
  docs/releases/alpha_v0_1_workflow.md
  scripts/razar_chaos_drill.py
  scripts/run_alpha_gate.sh
  tests/integration/test_razar_self_healing.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Add remote agent credential rotation tooling
  docs/INDEX.md
  docs/SECURITY.md
  docs/runbooks/razar_escalation.md
  scripts/rotate_remote_agent_keys.py
  tests/test_credential_rotation.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add alpha gate CI workflow and docs
  .github/workflows/alpha_gate.yml
  CHANGELOG.md
  deployment/pipelines/alpha_gate.yml
  docs/PROJECT_STATUS.md
  docs/releases/alpha_v0_1_workflow.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Add Python Alpha Squad onboarding dossier
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/onboarding/README.md
  docs/onboarding/python_alpha_squad.md
  docs/roadmap.md
  onboarding_quiz.yml
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Update index entry for RAZAR escalation report
  docs/INDEX.md
  docs/performance/razar_escalation.md
  docs/performance/report.md
  scripts/bench_razar_escalation.py
  tests/conftest.py
  tests/performance/test_razar_latency.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

docs: add air star to crown escalation ladder
  docs/system_blueprint.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Update razar escalation runbook for new remote agents
  docs/runbooks/razar_escalation.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document Air Star in RAZAR delegation cascade
  docs/blueprint_spine.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Update escalation chain for Air Star
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/doctrine_index.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

docs: refresh razar agent env variables
  docs/RAZAR_AGENT.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Clarify RAZAR failover sequence
  docs/releases/alpha_v0_1_workflow.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

docs: align Air Star credential naming
  docs/SECURITY.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Handle missing agent credentials during escalation
  razar/boot_orchestrator.py
  tests/test_boot_orchestrator.py
Due: confirm-reading

Add awakening overview doctrine guide
  docs/INDEX.md
  docs/awakening_overview.md
  docs/doctrine_index.md
  docs/onboarding/README.md
  docs/onboarding_guide.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Store identity summary in memory
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/awakening_overview.md
  docs/blueprint_spine.md
  docs/index.md
  docs/system_blueprint.md
  identity_loader.py
  init_crown_agent.py
  neoabzu_crown.py
  onboarding_confirm.yml
  tests/test_identity_loader.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Expand crown identity corpus inputs
  NEOABZU/crown/src/lib.rs
  NEOABZU/crown/tests/identity_load.rs
  docs/blueprint_spine.md
  docs/crown_manifest.md
  tests/test_identity_loader.py
Due: confirm-reading, rust-fmt-clippy, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Expand identity doctrine corpus and enforce handshake
  NEOABZU/crown/src/lib.rs
  NEOABZU/crown/tests/identity_load.rs
  identity_loader.py
  tests/test_identity_loader.py
Due: confirm-reading, rust-fmt-clippy

Document Crown identity corpus and handshake
  docs/ABZU_blueprint.md
  docs/BLUEPRINT_EXPORT.md
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/awakening_overview.md
  docs/blueprint_spine.md
  docs/crown_manifest.md
  docs/doctrine_index.md
  docs/index.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Track Crown identity fingerprint in handshake
  component_index.json
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/awakening_overview.md
  docs/blueprint_spine.md
  docs/index.md
  docs/runbooks/razar_escalation.md
  docs/system_blueprint.md
  init_crown_agent.py
  onboarding_confirm.yml
  razar/crown_handshake.py
  tests/razar/test_crown_handshake_identity.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add crown identity readiness metric and update monitoring docs
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/crown_manifest.md
  docs/index.md
  docs/monitoring/RAZAR.md
  docs/system_blueprint.md
  init_crown_agent.py
  onboarding_confirm.yml
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add Crown identity refresh script and CI hook
  .github/workflows/alpha_gate.yml
  docs/awakening_overview.md
  docs/onboarding/python_alpha_squad.md
  onboarding_confirm.yml
  scripts/refresh_crown_identity.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Path conditions:
  confirm-reading: any of: \.py$
  rust-fmt-clippy: any of: \.rs$
  doc-indexer: any of: ^docs/
  check-connector-index: any of: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  validate-component-index: any of: ^docs/component_index.md
  validate-component-json: any of: ^component_index.json$
  validate-world-registry: any of: ^(worlds/|agents/|memory/|scripts/validate_world_registry.py)
  validate-links: any of: \.(md|markdown|mdown)$, but not: ^docs/INDEX\.md$
  validate-docs: any of: ^(docs/chakra_versions.json|docs/chakra_koan_system.md)
  audit-doctrine: any of: ^docs/
  verify-doctrine-refs: any of: ^docs/INDEX\.md$
  verify-chakra-monitoring: any of: ^(docs/|monitoring/)
  verify-self-healing: any of: ^(docs/|logs/|quarantine/)
