Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-links

confirm-reading:
  name: Confirm onboarding reading
  entry: python scripts/confirm_reading.py
  language: system
  pass_filenames: false

doc-indexer:
  name: Regenerate documentation index
  entry: python tools/doc_indexer.py
  language: system
  pass_filenames: false

check-connector-index:
  name: Check connector index entries
  entry: python scripts/check_connector_index.py
  language: python
  pass_filenames: false

validate-component-index:
  name: Validate component index entries
  entry: python scripts/validate_component_index.py
  language: system
  pass_filenames: false

validate-component-json:
  name: Validate component_index.json fields
  entry: python scripts/validate_component_index_json.py
  language: system
  pass_filenames: false

validate-links:
  name: Validate markdown links
  entry: python scripts/validate_links.py
  language: system

feat: add self healing dashboard
  docs/INDEX.md
  docs/monitoring.md
  monitoring/self_healing_endpoint.py
  tests/web_console/test_self_healing_panel.py
  web_console/game_dashboard/dashboard.js
  web_console/game_dashboard/self_healing_panel/self_healing_panel.js
Due: confirm-reading, doc-indexer, validate-links

docs: add self-healing guidance
  GENESIS/README.md
  README_OPERATOR.md
  docs/INDEX.md
  docs/blueprint_spine.md
  docs/recovery_playbook.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

feat: add signal bus module and tests
  communication/telegram_bot.py
  connectors/signal_bus.py
  tests/connectors/test_signal_bus.py
  tools/bot_discord.py
  tools/bot_telegram.py
Due: confirm-reading, check-connector-index

feat: add connector heartbeats
  connectors/__init__.py
  connectors/base.py
  tests/conftest.py
  tests/connectors/test_connector_heartbeat.py
  tools/bot_discord.py
  tools/bot_telegram.py
Due: confirm-reading, check-connector-index

feat: add message formatter with metadata
  communication/telegram_bot.py
  connectors/message_formatter.py
  tests/connectors/test_message_formatter.py
  tools/bot_discord.py
  tools/bot_telegram.py
Due: confirm-reading, check-connector-index

feat: add connector heartbeat panel and arcade widget
  tests/web_console/test_connector_panel.py
  web_console/arcade.css
  web_console/arcade.html
  web_console/arcade.js
  web_console/game_dashboard/connectors_panel/connectors_panel.js
  web_console/game_dashboard/dashboard.js
Due: confirm-reading

test: check connector links
  CHANGELOG.md
  README_OPERATOR.md
  docs/blueprint_spine.md
  docs/communication_interfaces.md
  docs/recovery_playbook.md
  docs/system_blueprint.md
  tests/conftest.py
  tests/docs/test_connector_links.py
Due: confirm-reading, doc-indexer, validate-links

feat: add MCP gateway and config
  CHANGELOG.md
  config/mcp.toml
  docs/INDEX.md
  docs/blueprint_spine.md
  docs/mcp_overview.md
  mcp/gateway.py
Due: confirm-reading, doc-indexer, validate-links

feat: enable mcp-based routing
  crown_router.py
  rag/orchestrator.py
  tests/test_orchestrator_routing.py
Due: confirm-reading

refactor connectors to use MCP for internal services
  communication/gateway.py
  connectors/__init__.py
  connectors/primordials_api.py
  docs/INDEX.md
  docs/architecture.md
  docs/developer_onboarding.md
  tests/communication/test_mcp_fallback.py
  tests/conftest.py
Due: confirm-reading, doc-indexer, check-connector-index, validate-links

docs: add MCP migration guidance
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/absolute_protocol_checklist.md
  docs/blueprint_spine.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/connectors/mcp_migration.md
  docs/developer_onboarding.md
  docs/system_blueprint.md
Due: doc-indexer, check-connector-index, validate-links

chore: enforce MCP usage in connectors
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/contributor_checklist.md
  scripts/check_mcp_connectors.py
Due: confirm-reading, doc-indexer, validate-links

feat: add MCP reference connector and migrate bots
  component_index.json
  connectors/mcp_gateway_example.py
  docs/INDEX.md
  docs/connectors/CONNECTOR_INDEX.md
  tests/tools/test_bot_mcp.py
  tools/bot_discord.py
  tools/bot_telegram.py
Due: confirm-reading, doc-indexer, check-connector-index, validate-component-json, validate-links

feat: index doctrine documents
  GENESIS/README.md
  agents/nazarick/document_registry.py
  docs/INDEX.md
  docs/blueprint_spine.md
  docs/build_docs.sh
  docs/doctrine_index.md
  onboarding_confirm.yml
Due: confirm-reading, doc-indexer, validate-links

feat: add doc validation script
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/INDEX.md
  docs/chakra_koan_system.md
  docs/documentation_protocol.md
  scripts/validate_docs.py
Due: confirm-reading, doc-indexer, validate-links

feat: add chakra heartbeat persistence
  distributed_memory.py
  src/spiral_os/chakra_cycle.py
Due: confirm-reading

feat: announce Great Spiral on chakra sync
  agents/razar/boot_orchestrator.py
  crown_router.py
  monitoring/chakra_heartbeat.py
  monitoring/chakra_status_board.py
  monitoring/chakra_status_endpoint.py
  tests/monitoring/test_chakra_heartbeat.py
  tests/monitoring/test_chakra_status_board.py
  web_console/arcade.js
  web_console/game_dashboard/chakraPulse.js
Due: confirm-reading

Forward chakra_down when out of sync
  agents/razar/boot_orchestrator.py
  crown_router.py
Due: confirm-reading

Revert test artifact changes
  scripts/vast_check.py
  src/cli/console_interface.py
  tests/test_vast_check.py
  web_console/main.js
  web_console/operator.js
Due: confirm-reading

Fix duplicate import in LWM renderer
  docs/avatar_pipeline.md
  src/core/video_engine.py
  src/media/avatar/lwm_renderer.py
Due: confirm-reading, doc-indexer, validate-links

docs: describe avatar streaming
  README_OPERATOR.md
  docs/communication_interfaces.md
  guides/avatar_config.toml
Due: doc-indexer, validate-links

feat(nazarick): expose capabilities and triggers
  agents/nazarick/agent_registry.json
  agents/nazarick/service_launcher.py
  tests/agents/nazarick/test_agent_directory.py
Due: confirm-reading

test: cover lifecycle bus
  agents/nazarick/service_launcher.py
  agents/razar/lifecycle_bus.py
  monitoring/agent_heartbeat.py
  tests/agents/razar/test_lifecycle_bus.py
Due: confirm-reading

Add resuscitator recovery via ai_invoker
  agents/nazarick/resuscitator.py
  tests/agents/nazarick/test_resuscitator_flow.py
Due: confirm-reading

feat(memory): expose ChakraRegistry
  memory/__init__.py
Due: confirm-reading

test: verify heartbeat log and snapshot persistence
  tests/monitoring/test_heartbeat_logger.py
Due: confirm-reading

docs: log memory introspection
  CHANGELOG.md
  api/__init__.py
  api/memory_introspect.py
  docs/operator_quickstart.md
  web_console/game_dashboard/memory_panel/memory_panel.js
Due: confirm-reading, doc-indexer, validate-links

feat: modular mission map for game dashboard
  docs/INDEX.md
  docs/testing/failure_inventory.md
  docs/ui/game_dashboard.md
  logs/test_report.txt
  web_console/game_dashboard/dashboard.js
  web_console/game_dashboard/index.html
  web_console/game_dashboard/mission_map.js
Due: doc-indexer, validate-links

Add mission builder and persist wizard progress
  docs/operator_onboarding.md
  mission_builder/index.html
  mission_builder/mission_builder.js
  web_console/game_dashboard/setupWizard.js
Due: doc-indexer, validate-links

feat: add chakra pulse panel
  web_console/game_dashboard/chakraPulse.js
Due: none

test: enable chakra resuscitator integration
  monitoring/chakra_heartbeat.py
  tests/conftest.py
Due: confirm-reading

Backup and rollback patches
  razar/ai_invoker.py
  tests/razar/test_ai_invoker.py
Due: confirm-reading

Add self-healing ledger endpoint and dashboard panel
  docs/monitoring.md
  monitoring/self_healing_endpoint.py
  monitoring/self_healing_ledger.py
  server.py
  tests/web_console/test_self_healing_panel.py
  web_console/game_dashboard/self_healing_panel/self_healing_panel.js
Due: confirm-reading, doc-indexer, validate-links

feat: add signal bus with kafka backend
  communication/telegram_bot.py
  connectors/signal_bus.py
  tests/connectors/test_signal_bus.py
  tools/bot_discord.py
  tools/bot_telegram.py
Due: confirm-reading, check-connector-index

chore: remove test artifacts
  connectors/base.py
  docs/testing/failure_inventory.md
  logs/test_report.txt
  tests/connectors/test_connector_heartbeat.py
  tools/bot_discord.py
  tools/bot_telegram.py
Due: confirm-reading, doc-indexer, check-connector-index, validate-links

feat: expose recovery metadata in message formatter
  CHANGELOG.md
  connectors/message_formatter.py
  docs/INDEX.md
  docs/communication_interfaces.md
  docs/system_blueprint.md
  docs/testing/failure_inventory.md
  tests/connectors/test_message_formatter.py
Due: confirm-reading, doc-indexer, check-connector-index, validate-links

docs: summarize core milestones and refresh index
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/doctrine_index.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

docs: expand onboarding and operator quickstart
  README_OPERATOR.md
  docs/developer_onboarding.md
  docs/operator_quickstart.md
Due: doc-indexer, validate-links

feat: add doc freshness verifier
  .pre-commit-config.yaml
  docs/documentation_protocol.md
  onboarding_confirm.yml
  scripts/verify_docs_up_to_date.py
Due: confirm-reading, doc-indexer, validate-links

Use canonical ethics manifesto
  INANNA_AI/ethical_validator.py
  agents/nazarick/ethics_manifesto.py
Due: confirm-reading

Path conditions:
  confirm-reading: any of: \.py$
  doc-indexer: any of: ^docs/
  check-connector-index: any of: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  validate-component-index: any of: ^docs/component_index.md
  validate-component-json: any of: ^component_index.json$
  validate-links: any of: \.(md|markdown|mdown)$, but not: ^docs/INDEX\.md$
