Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, rust-fmt-clippy, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-world-registry, validate-links, validate-docs, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Path conditions:
  confirm-reading: any of: \.py$
  rust-fmt-clippy: any of: \.rs$
  doc-indexer: any of: ^docs/
  check-connector-index: any of: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  validate-component-index: any of: ^docs/component_index.md
  validate-component-json: any of: ^component_index.json$
  validate-world-registry: any of: ^(worlds/|agents/|memory/|scripts/validate_world_registry.py)
  validate-links: any of: \.(md|markdown|mdown)$, but not: ^docs/INDEX\.md$
  validate-docs: any of: ^(docs/chakra_versions.json|docs/chakra_koan_system.md)
  audit-doctrine: any of: ^docs/
  verify-doctrine-refs: any of: ^docs/INDEX\.md$
  verify-chakra-monitoring: any of: ^(docs/|monitoring/)
  verify-self-healing: any of: ^(docs/|logs/|quarantine/)

Add Stage B payload builders and rehearsal packet capture
  connectors/crown_handshake_stage_b.py
  connectors/neo_apsu_stage_b.py
  connectors/operator_api_stage_b.py
  connectors/operator_upload_stage_b.py
  logs/stage_b_rehearsal_packet.json
  scripts/generate_stage_b_rehearsal_packet.py
  tests/connectors/test_stage_b_connectors.py
Due: confirm-reading, check-connector-index, verify-self-healing

Integrate health probes into rehearsal automation
  component_index.json
  scripts/health_check_connectors.py
  scripts/rehearsal_scheduler.py
Due: confirm-reading, validate-component-json

Document Stage B MCP rehearsal catalog
  docs/mcp_connectors.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document Stage gate evidence alignment
  data/identity.json
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/doctrine_index.md
  docs/system_blueprint.md
  state/crown_identity_fingerprint.json
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Document gRPC adoption milestone and stage alignment
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/doctrine_index.md
  docs/index.md
  docs/roadmap.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Document latest Stage A evidence bundle
  docs/PROJECT_STATUS.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

I did Stage B rehearsal capture on sonic evidence to obtain Stage C telemetry continuity, expecting zero-drop verification
  docs/doctrine_index.md
  logs/stage_b/20250921T230434Z/rehearsals/fallbacks.json
  logs/stage_b/20250921T230434Z/rehearsals/session_01/audio/2025-09-21T23:04:36.778+00:00_arrival.json
  logs/stage_b/20250921T230434Z/rehearsals/session_01/audio/2025-09-21T23:04:36.804+00:00_handoff.json
  logs/stage_b/20250921T230434Z/rehearsals/session_01/audio/2025-09-21T23:04:36.812+00:00_closing.json
  logs/stage_b/20250921T230434Z/rehearsals/session_01/emotion/stream.jsonl
  logs/stage_b/20250921T230434Z/rehearsals/session_01/run.log
  logs/stage_b/20250921T230434Z/rehearsals/session_01/telemetry/events.jsonl
  logs/stage_b/20250921T230434Z/rehearsals/session_01/telemetry/media_manifest.json
  logs/stage_b/20250921T230434Z/rehearsals/session_01/telemetry/run_summary.json
  logs/stage_b/20250921T230434Z/rehearsals/session_01/telemetry/summary.json
  logs/stage_b/20250921T230434Z/rehearsals/session_01/video/2025-09-21T23:04:36.778+00:00_arrival.json
  logs/stage_b/20250921T230434Z/rehearsals/session_01/video/2025-09-21T23:04:36.804+00:00_handoff.json
  logs/stage_b/20250921T230434Z/rehearsals/session_01/video/2025-09-21T23:04:36.812+00:00_closing.json
  logs/stage_b/20250921T230434Z/rehearsals/session_02/audio/2025-09-21T23:04:38.837+00:00_arrival.json
  logs/stage_b/20250921T230434Z/rehearsals/session_02/audio/2025-09-21T23:04:38.864+00:00_handoff.json
  logs/stage_b/20250921T230434Z/rehearsals/session_02/audio/2025-09-21T23:04:38.871+00:00_closing.json
  logs/stage_b/20250921T230434Z/rehearsals/session_02/emotion/stream.jsonl
  logs/stage_b/20250921T230434Z/rehearsals/session_02/run.log
  logs/stage_b/20250921T230434Z/rehearsals/session_02/telemetry/events.jsonl
  logs/stage_b/20250921T230434Z/rehearsals/session_02/telemetry/media_manifest.json
  logs/stage_b/20250921T230434Z/rehearsals/session_02/telemetry/run_summary.json
  logs/stage_b/20250921T230434Z/rehearsals/session_02/telemetry/summary.json
  logs/stage_b/20250921T230434Z/rehearsals/session_02/video/2025-09-21T23:04:38.837+00:00_arrival.json
  logs/stage_b/20250921T230434Z/rehearsals/session_02/video/2025-09-21T23:04:38.864+00:00_handoff.json
  logs/stage_b/20250921T230434Z/rehearsals/session_02/video/2025-09-21T23:04:38.871+00:00_closing.json
  logs/stage_b/20250921T230434Z/rehearsals/summary.json
  logs/stage_b_rehearsal_packet.json
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

docs: refresh stage b connector catalog and evidence
  docs/connectors/CONNECTOR_INDEX.md
  docs/doctrine_index.md
  docs/mcp_connectors.md
  docs/system_blueprint.md
Due: doc-indexer, check-connector-index, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Configure Stage B connector health probes
  .gitignore
  component_index.json
  docs/doctrine_index.md
  docs/mcp_connectors.md
  docs/system_blueprint.md
  logs/stage_b/.gitignore
  logs/stage_b/20250922T071749Z/health_checks.json
  onboarding_confirm.yml
  scripts/health_check_connectors.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Update Stage A and Stage B evidence snapshots
  docs/PROJECT_STATUS.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Install audio stack shims for Stage B rehearsals
  docs/audio_stack.md
  logs/stage_b_rehearsal_packet.json
  scripts/setup_audio_env.sh
  vendor/clap_stub/README.md
  vendor/clap_stub/clap/__init__.py
  vendor/clap_stub/pyproject.toml
  vendor/rave_stub/README.md
  vendor/rave_stub/pyproject.toml
  vendor/rave_stub/rave/__init__.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document Stage B rotation window refresh
  docs/INDEX.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/connectors/operator_mcp_runbook.md
  docs/doctrine_index.md
  docs/mcp_connectors.md
  docs/roadmap.md
  docs/system_blueprint.md
  logs/stage_b/20250920T222728Z/ingestion_vector_memory_summary.json
  logs/stage_b/20250920T222728Z/stage_b_rotation_drills.jsonl
  logs/stage_b_rehearsal_packet.json
  logs/stage_b_rotation_drills.jsonl
Due: doc-indexer, check-connector-index, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Package stage B rehearsal telemetry
  .gitignore
  .pre-commit-config.yaml
  docs/INDEX.md
  docs/rehearsal_asset_packaging.md
  logs/stage_b/.gitignore
  logs/stage_b/20250921T230434Z/rehearsals/rehearsal_manifest.json
  logs/stage_b/20250921T230434Z/rehearsals/session_01/audio/2025-09-21T23:04:36.778+00:00_arrival.json
  logs/stage_b/20250921T230434Z/rehearsals/session_01/audio/2025-09-21T23:04:36.804+00:00_handoff.json
  logs/stage_b/20250921T230434Z/rehearsals/session_01/audio/2025-09-21T23:04:36.812+00:00_closing.json
  logs/stage_b/20250921T230434Z/rehearsals/session_01/emotion/stream.jsonl
  logs/stage_b/20250921T230434Z/rehearsals/session_01/session_manifest.json
  logs/stage_b/20250921T230434Z/rehearsals/session_01/telemetry/events.jsonl
  logs/stage_b/20250921T230434Z/rehearsals/session_01/telemetry/media_manifest.json
  logs/stage_b/20250921T230434Z/rehearsals/session_01/video/2025-09-21T23:04:36.778+00:00_arrival.json
  logs/stage_b/20250921T230434Z/rehearsals/session_01/video/2025-09-21T23:04:36.804+00:00_handoff.json
  logs/stage_b/20250921T230434Z/rehearsals/session_01/video/2025-09-21T23:04:36.812+00:00_closing.json
  logs/stage_b/20250921T230434Z/rehearsals/session_02/audio/2025-09-21T23:04:38.837+00:00_arrival.json
  logs/stage_b/20250921T230434Z/rehearsals/session_02/audio/2025-09-21T23:04:38.864+00:00_handoff.json
  logs/stage_b/20250921T230434Z/rehearsals/session_02/audio/2025-09-21T23:04:38.871+00:00_closing.json
  logs/stage_b/20250921T230434Z/rehearsals/session_02/emotion/stream.jsonl
  logs/stage_b/20250921T230434Z/rehearsals/session_02/session_manifest.json
  logs/stage_b/20250921T230434Z/rehearsals/session_02/telemetry/events.jsonl
  logs/stage_b/20250921T230434Z/rehearsals/session_02/telemetry/media_manifest.json
  logs/stage_b/20250921T230434Z/rehearsals/session_02/video/2025-09-21T23:04:38.837+00:00_arrival.json
  logs/stage_b/20250921T230434Z/rehearsals/session_02/video/2025-09-21T23:04:38.864+00:00_handoff.json
  logs/stage_b/20250921T230434Z/rehearsals/session_02/video/2025-09-21T23:04:38.871+00:00_closing.json
  scripts/check_rehearsal_bundles.py
  scripts/package_rehearsal_assets.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Calibrate Crown modulation presets and document Stage B rehearsal
  INANNA_AI/voice_layer_albedo.py
  README_CODE_FUNCTION.md
  crown_config/settings/modulation_presets.yaml
  docs/INDEX.md
  docs/rehearsals/stage_b_20250921_summary.md
  docs/runbooks/sonic_rehearsal_guide.md
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Align stage gate evidence cross-links
  data/identity.json
  docs/The_Absolute_Protocol.md
  docs/doctrine_index.md
  docs/system_blueprint.md
  state/crown_identity_fingerprint.json
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Refresh alpha gate evidence for 20250922 run
  component_index.json
  logs/alpha_gate/20250922T181919Z/alpha_gate.prom
  logs/alpha_gate/20250922T181919Z/alpha_gate_summary.json
  logs/alpha_gate/20250922T181919Z/coverage.json
  logs/alpha_gate/20250922T181919Z/coverage.mmd
  logs/alpha_gate/20250922T181919Z/coverage.svg
  logs/alpha_gate/20250922T181919Z/htmlcov/.gitignore
  logs/alpha_gate/20250922T181919Z/htmlcov/class_index.html
  logs/alpha_gate/20250922T181919Z/htmlcov/coverage_html_cb_6fb7b396.js
  logs/alpha_gate/20250922T181919Z/htmlcov/function_index.html
  logs/alpha_gate/20250922T181919Z/htmlcov/index.html
  logs/alpha_gate/20250922T181919Z/htmlcov/spiral_memory_py.html
  logs/alpha_gate/20250922T181919Z/htmlcov/spiral_os.html
  logs/alpha_gate/20250922T181919Z/htmlcov/start_spiral_os_py.html
  logs/alpha_gate/20250922T181919Z/htmlcov/status.json
  logs/alpha_gate/20250922T181919Z/htmlcov/style_cb_6b508a39.css
  logs/alpha_gate/20250922T181919Z/htmlcov/vector_memory_py.html
  logs/alpha_gate/20250922T181919Z/htmlcov/z_13ba802e3c63bdac_spiral_memory_py.html
  logs/alpha_gate/20250922T181919Z/htmlcov/z_13ba802e3c63bdac_vector_memory_py.html
  logs/alpha_gate/20250922T181919Z/htmlcov/z_284a9632f7622ef8___init___py.html
  logs/alpha_gate/20250922T181919Z/htmlcov/z_284a9632f7622ef8___main___py.html
  logs/alpha_gate/20250922T181919Z/htmlcov/z_284a9632f7622ef8__hf_stub_py.html
  logs/alpha_gate/20250922T181919Z/htmlcov/z_284a9632f7622ef8_chakra_cycle_py.html
  logs/alpha_gate/20250922T181919Z/htmlcov/z_284a9632f7622ef8_pulse_emitter_py.html
  logs/alpha_gate/20250922T181919Z/htmlcov/z_284a9632f7622ef8_start_spiral_os_py.html
  logs/alpha_gate/20250922T181919Z/htmlcov/z_96fe5d16ef1bf033___init___py.html
  logs/alpha_gate/20250922T181919Z/pytest_metrics.prom
Due: validate-component-json, verify-self-healing

Handle phase failures when piping alpha gate logs
  scripts/run_alpha_gate.sh
Due: none

Prune htmlcov PNG artifacts
  scripts/run_alpha_gate.sh
Due: none

Add Stage A automation controls and documentation
  data/identity.json
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/index.md
  docs/onboarding/README.md
  docs/roadmap.md
  docs/system_blueprint.md
  onboarding_confirm.yml
  operator_api.py
  state/crown_identity_fingerprint.json
  web_console/game_dashboard/dashboard.js
  web_console/game_dashboard/mission_map.js
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add Stage B mission ops endpoints and surface metrics
  api/server.py
  opentelemetry/__init__.py
  opentelemetry/trace/__init__.py
  operator_api.py
  tests/test_operator_api.py
  web_console/game_dashboard/dashboard.js
  web_console/game_dashboard/mission_map.js
Due: confirm-reading

Add Stage C automation workflows
  data/identity.json
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/index.md
  docs/release_runbook.md
  docs/releases/alpha_v0_1_workflow.md
  docs/system_blueprint.md
  onboarding_confirm.yml
  operator_api.py
  state/crown_identity_fingerprint.json
  tests/test_operator_api.py
  web_console/game_dashboard/dashboard.js
  web_console/game_dashboard/mission_map.js
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Update Stage A evidence summaries and manifest
  component_index.json
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  release/manifest.json
  release/stage_a/20250923T193103Z-stage_a1_boot_telemetry-summary.json
  release/stage_a/20250923T195241Z-stage_a3_gate_shakeout-summary.json
  release/stage_a/20250923T195411Z-stage_a2_crown_replays-summary.json
  release/stage_a/20250923T200333Z-stage_a1_boot_telemetry-summary.json
  release/stage_a/20250923T200406Z-stage_a2_crown_replays-summary.json
  release/stage_a/20250923T200435Z-stage_a3_gate_shakeout-summary.json
Due: doc-indexer, validate-component-json, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Document release checklist status
  docs/INDEX.md
  docs/absolute_protocol_checklist.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Stage C2 demo storyline evidence refresh
  crown_config/settings/modulation_presets.yaml
  docs/INDEX.md
  docs/rehearsals/stage_b_20250921_summary.md
  docs/rehearsals/stage_c_demo_summary.md
  docs/testing/failure_inventory.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Update stage readiness summaries
  docs/PROJECT_STATUS.md
  docs/doctrine_index.md
  logs/stage_a/20250924T115244Z-stage_a1_boot_telemetry/summary.json
  logs/stage_a/20250924T115245Z-stage_a2_crown_replays/summary.json
  logs/stage_a/20250924T115245Z-stage_a3_gate_shakeout/summary.json
  logs/stage_b/20250920T222728Z/readiness_index.json
  logs/stage_b/20250924T115245Z-stage_b1_memory_proof/summary.json
  logs/stage_b/20250924T115254Z-stage_b2_sonic_rehearsal/summary.json
  logs/stage_b/20250924T115254Z-stage_b3_connector_rotation/summary.json
  web_console/game_dashboard/dashboard.js
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Add Stage C readiness aggregation workflow
  operator_api.py
  scripts/aggregate_stage_readiness.py
Due: confirm-reading

Capture Stage C MCP drill artifacts
  operator_api.py
  scripts/stage_c_mcp_drill.py
Due: confirm-reading

Stage C demo replays Stage B rehearsal assets
  scripts/stage_c_scripted_demo.py
Due: confirm-reading

Handle Stage C1 checklist status failures
  operator_api.py
  tests/test_operator_api.py
Due: confirm-reading

Tidy sandbox notice formatting
  data/identity.json
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/The_Absolute_Protocol.md
  docs/doctrine_index.md
  docs/documentation_protocol.md
  docs/roadmap.md
  docs/testing/failure_inventory.md
  state/crown_identity_fingerprint.json
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add stage runtime bootstrap shim for Stage A scripts
  scripts/_stage_runtime.py
  scripts/bootstrap.py
  scripts/crown_capture_replays.py
  tests/test_operator_api.py
  web_console/game_dashboard/dashboard.js
Due: confirm-reading

Add stub fallback for memory bundle
  memory/bundle.py
  memory/optional/neoabzu_bundle.py
  scripts/memory_load_proof.py
  tests/test_memory_bundle.py
Due: confirm-reading, validate-world-registry

Ensure stage connector drills resolve repo root
  connectors/operator_mcp_adapter.py
  logs/stage_b_rotation_drills.jsonl
  operator_api.py
  scripts/stage_b_smoke.py
  scripts/stage_c_mcp_drill.py
  tests/test_operator_api.py
Due: confirm-reading, check-connector-index, verify-self-healing

Finalize Stage B rotation drill updates
  connectors/operator_mcp_adapter.py
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/PROJECT_STATUS.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/connectors/operator_mcp_runbook.md
  docs/doctrine_index.md
  docs/index.md
  docs/mcp_connectors.md
  docs/roadmap.md
  docs/system_blueprint.md
  docs/testing/failure_inventory.md
  logs/stage_b/20250925T100029Z-stage_b3_connector_rotation/summary.json
  logs/stage_b_rotation_drills.jsonl
  onboarding_confirm.yml
  scripts/stage_b_smoke.py
  secrets.env
  secrets.env.template
  state/crown_identity_fingerprint.json
  tests/connectors/test_operator_mcp_adapter.py
  tests/scripts/test_stage_b_smoke.py
Due: confirm-reading, doc-indexer, check-connector-index, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Document Stage C evidence bundle updates
  docs/INDEX.md
  docs/absolute_protocol_checklist.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Accept stage C demo seed flag
  scripts/stage_c_scripted_demo.py
Due: confirm-reading

Update Stage C readiness aggregation and logs
  docs/PROJECT_STATUS.md
  logs/stage_b_rotation_drills.jsonl
  operator_api.py
  scripts/aggregate_stage_readiness.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Add sandbox fallbacks for Stage A scripts
  scripts/_stage_runtime.py
  scripts/bootstrap.py
  scripts/crown_capture_replays.py
  scripts/export_alpha_gate_metrics.py
  scripts/run_alpha_gate.sh
Due: confirm-reading

Add neoabzu memory stub and update load proof logging
  memory/bundle.py
  memory/optional/neoabzu_bundle.py
  memory/optional/neoabzu_stub.py
  onboarding_confirm.yml
  scripts/check_memory_layers.py
  scripts/memory_load_proof.py
  tests/test_memory_bundle.py
  tests/test_memory_load_proof.py
Due: confirm-reading, validate-world-registry
