Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-links

.pre-commit-config.yaml:

# Run `pre-commit autoupdate` after dependency upgrades.
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.11
  hooks:
  - id: ruff
    args:
    - --fix
- repo: https://github.com/psf/black
  rev: 24.4.2
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/pycqa/flake8
  rev: 7.1.0
  hooks:
  - id: flake8
- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    files: ^$
- repo: local
  hooks:
  - id: confirm-reading
    name: Confirm onboarding reading
    entry: python scripts/confirm_reading.py
    language: system
    types: [python]
    pass_filenames: false
  - id: check-key-documents
    name: Check key documents exist
    entry: python scripts/check_key_documents.py
    language: system
    pass_filenames: false
  - id: validate-key-docs
    name: Validate protected doc hashes and summaries
    entry: python scripts/verify_doc_hashes.py
    language: system
    pass_filenames: false
  - id: require-onboarding-update
    name: Require onboarding confirmation for key docs
    entry: python scripts/require_onboarding_update.py
    language: system
    pass_filenames: false
    always_run: true
  - id: doc-indexer
    name: Regenerate documentation index
    entry: python tools/doc_indexer.py
    language: system
    pass_filenames: false
    files: ^docs/
  - id: ensure-blueprint-sync
    name: Ensure blueprint updated with core changes
    entry: python scripts/ensure_blueprint_sync.py
    language: system
  - id: block-binaries
    name: Block binary files
    entry: python scripts/check_no_binaries.py
    language: system
    pass_filenames: false
  - id: placeholder-elimination
    name: Placeholder Elimination
    entry: python scripts/check_placeholders.py
    language: system
  - id: scan-todo-fixme
    name: Scan TODO/FIXME markers
    entry: python scripts/scan_todo_fixme.py
    language: system
    pass_filenames: false
  - id: verify-versions
    name: Ensure modules declare __version__
    entry: python scripts/verify_versions.py
    language: system
    pass_filenames: false
  - id: check-connector-index
    name: Check connector index entries
    entry: python scripts/check_connector_index.py
    language: python
    pass_filenames: false
    files: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  - id: require-connector-registry-update
    name: Require connector registry updates
    entry: python scripts/require_connector_registry_update.py
    language: system
    pass_filenames: false
  - id: validate-component-index
    name: Validate component index entries
    entry: python scripts/validate_component_index.py
    language: system
    pass_filenames: false
    files: ^docs/component_index.md
  - id: validate-component-json
    name: Validate component_index.json fields
    entry: python scripts/validate_component_index_json.py
    language: system
    pass_filenames: false
    files: ^component_index.json$
  - id: verify-dependencies
    name: Verify dependency versions
    entry: python scripts/verify_dependencies.py
    language: system
    pass_filenames: false
  - id: check-env
    name: Verify environment prerequisites
    entry: python scripts/check_env.py
    language: system
    pass_filenames: false
  - id: validate-links
    name: Validate markdown links
    entry: python scripts/validate_links.py
    language: system
    types: [markdown]
    exclude: ^docs/INDEX\.md$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.19.0
  hooks:
    - id: commitlint
      stages: [commit-msg]
      additional_dependencies: ['@commitlint/cli@17.7.2']

docs: add 3d avatar api
  docs/INDEX.md
  docs/avatar_3d_api.md
  docs/avatar_pipeline.md
  docs/index.md
Due: doc-indexer, validate-links

Document MCP connector options
  CHANGELOG.md
  docs/INDEX.md
  docs/mcp_connectors.md
  docs/project_overview.md
Due: doc-indexer, validate-links

docs: map agents to chakra pulses
  CHANGELOG.md
  docs/chakra_metrics.md
  docs/ignition_blueprint.md
  docs/nazarick_agents.md
Due: doc-indexer, validate-links

docs: describe Vanna data to Bana pipeline
  docs/INDEX.md
  docs/bana_engine.md
  docs/narrative_system.md
  docs/vanna_bana_pipeline.md
  docs/vanna_usage.md
Due: doc-indexer, validate-links

docs: document Vanna–Bana narrative pipeline
  docs/INDEX.md
  docs/blueprint_spine.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

docs: outline narrative export from Vanna to Bana
  docs/INDEX.md
  docs/vanna_usage.md
Due: doc-indexer, validate-links

docs: document mission brief handover flow
  docs/INDEX.md
  docs/RAZAR_AGENT.md
  docs/crown_manifest.md
  docs/index.md
  docs/mission_brief_exchange.md
  onboarding_confirm.yml
Due: doc-indexer, validate-links

docs: clarify servant memory context
  docs/INDEX.md
  docs/crown_servant_models.md
Due: doc-indexer, validate-links

Refine servant memory tests
  crown_prompt_orchestrator.py
  onboarding_confirm.yml
  tests/crown/test_prompt_orchestrator.py
Due: confirm-reading

docs: describe Crown handover to servant models
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/project_overview.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

docs: detail crown env and registration
  docs/crown_manifest.md
Due: doc-indexer, validate-links

Create system_tear_matrix.md
  nazarick/agents/system_tear_matrix.md
Due: validate-links

Add Nazarick overview doc. I did this on the docs to obtain a unified summary of mission, vision, and hierarchy, expecting contributors to grasp agent roles and chakra support.
  docs/INDEX.md
  docs/nazarick_overview.md
Due: doc-indexer, validate-links

Create Nazarick_agents_chart.md
  nazarick/agents/Nazarick_agents_chart.md
Due: validate-links

Create Nazarick_true_ethics.md
  nazarick/agents/Nazarick_true_ethics.md
Due: validate-links

Create Nazarick_agents_project_brief.md
  nazarick/agents/Nazarick_agents_project_brief.md
Due: validate-links

docs: expand Nazarick agent profiles with ethics map
  docs/INDEX.md
  docs/nazarick_agent_profiles.md
Due: doc-indexer, validate-links

Create Bana_narrative_engine.md
  nazarick/agents/Bana_narrative_engine.md
Due: validate-links

docs: outline Nazarick stewardship and integration
  CHANGELOG.md
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/figures/nazarick_crown_razar_integration.mmd
  docs/system_blueprint.md
  onboarding_confirm.yml
Due: doc-indexer, validate-links

docs: expand nazarick overview
  docs/INDEX.md
  docs/nazarick_overview.md
Due: doc-indexer, validate-links

docs: add nazarick links to index
  docs/index.md
Due: doc-indexer, validate-links

docs: add Nazarick world guide and cross-link agent briefs
  docs/INDEX.md
  docs/nazarick_world_guide.md
  nazarick/agents/Bana_narrative_engine.md
  nazarick/agents/Nazarick_agents_chart.md
  nazarick/agents/Nazarick_agents_project_brief.md
  nazarick/agents/Nazarick_true_ethics.md
  nazarick/agents/system_tear_matrix.md
Due: doc-indexer, validate-links

docs: add Nazarick world links and agent diagrams
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

docs: index new Nazarick guides
  docs/index.md
  docs/project_overview.md
Due: doc-indexer, validate-links

Add Nazarick diagrams and cross-links
  agents/nazarick/nazarick_core_architecture.md
  docs/INDEX.md
  docs/blueprint_spine.md
  docs/figures/nazarick_agents_chart.mmd
  docs/figures/system_tear_matrix.mmd
  docs/nazarick_world_guide.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

Reapply agent references with justification
  agents/nazarick/albedo_agent_template.md
  agents/nazarick/cocytus_agent_template.md
  agents/nazarick/demurge_agent_template.md
  agents/nazarick/gargantua_agent_template.md
  agents/nazarick/pandora_agent_template.md
  agents/nazarick/pleiades_agent_template.md
  agents/nazarick/sebastiara_agent_template.md
  agents/nazarick/shalltear_agent_template.md
Due: validate-links

docs: link Bana engine flow
  docs/Nazarick_GUIDE.md
  docs/blueprint_spine.md
  nazarick/agents/Bana_narrative_engine.md
Due: doc-indexer, validate-links

docs: guide Nazarick extensions
  docs/nazarick_world_guide.md
Due: doc-indexer, validate-links

docs: add blueprint manual
  CHANGELOG.md
  docs/INDEX.md
  docs/blueprint_manual.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

test: cover arcade ui server
  tests/web_console/__init__.py
  tests/web_console/test_arcade_ui.py
  tests/web_operator/__init__.py
  tests/web_operator/test_arcade_ui.py
  web_console/arcade.css
  web_console/arcade.html
  web_console/main.js
Due: confirm-reading

docs: describe new operator console endpoints
  docs/INDEX.md
  docs/operator_console.md
  onboarding_confirm.yml
  operator_api.py
  tests/test_operator_api.py
  web_console/game_dashboard/dashboard.js
  web_console/main.js
  web_operator/templates/arcade.html
Due: confirm-reading, doc-indexer, validate-links

docs: document operator flow
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/index.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

docs: finalize operator quickstart formatting
  README.md
  docs/INDEX.md
  docs/onboarding/README.md
  docs/operator_quickstart.md
Due: doc-indexer, validate-links

docs: add operator console roadmap
  docs/INDEX.md
  docs/operator_console.md
  docs/project_overview.md
Due: doc-indexer, validate-links

doc: link inanna sources
  INANNA_AI/INANNA_SONG.md
  INANNA_AI/MARROW_CODE.md
  docs/ABZU_blueprint.md
  docs/INDEX.md
Due: doc-indexer, validate-links

docs: highlight origin materials across blueprints
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

docs: add crown memory seeding
  docs/ABZU_blueprint.md
  docs/INDEX.md
  docs/index.md
  docs/project_overview.md
Due: doc-indexer, validate-links

chore: update docs index
  docs/operator_console.md
  onboarding_confirm.yml
  tests/INANNA_AI/__init__.py
  tests/INANNA_AI/test_origin_ingestion.py
  web_operator/main.js
  web_operator/templates/arcade.html
Due: confirm-reading, doc-indexer, validate-links

feat(memory): broadcast aggregated layer event
  component_index.json
  memory/__init__.py
  memory/bundle.py
  scripts/validate_world_registry.py
Due: confirm-reading, validate-component-json

feat(memory): add aggregated query helper
  memory/query_memory.py
Due: confirm-reading
