Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, rust-fmt-clippy, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-world-registry, validate-links, validate-docs, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

confirm-reading:
  name: Confirm onboarding reading
  entry: python scripts/confirm_reading.py
  language: system
  pass_filenames: false

rust-fmt-clippy:
  name: Run cargo fmt and clippy
  entry: bash -c 'cargo fmt --check && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

doc-indexer:
  name: Regenerate documentation index
  entry: python tools/doc_indexer.py
  language: system
  pass_filenames: false

check-connector-index:
  name: Check connector index entries
  entry: python scripts/check_connector_index.py
  language: python
  pass_filenames: false

validate-component-index:
  name: Validate component index entries
  entry: python scripts/validate_component_index.py
  language: system
  pass_filenames: false

validate-component-json:
  name: Validate component_index.json fields
  entry: python scripts/validate_component_index_json.py
  language: system
  pass_filenames: false

validate-world-registry:
  name: Validate world registry entries
  entry: python scripts/validate_world_registry.py
  language: system
  pass_filenames: false

validate-links:
  name: Validate markdown links
  entry: python scripts/validate_links.py
  language: system

validate-docs:
  name: Validate documentation registry and cross-links
  entry: python scripts/validate_docs.py
  language: system
  pass_filenames: false

audit-doctrine:
  name: Audit documentation doctrine
  entry: python scripts/audit_doctrine.py
  language: system
  pass_filenames: false

verify-doctrine-refs:
  name: Verify doctrine references
  entry: python scripts/verify_doctrine_refs.py
  language: system
  pass_filenames: false

verify-chakra-monitoring:
  name: Verify chakra monitoring
  entry: python scripts/verify_chakra_monitoring.py
  language: system
  pass_filenames: false

verify-self-healing:
  name: Verify self healing
  entry: python scripts/verify_self_healing.py
  language: system
  pass_filenames: false

Add canonical heartbeat defaults and tests
  connectors/neo_apsu_connector_template.py
  tests/connectors/test_neo_apsu_connector_template.py
Due: confirm-reading, check-connector-index

Restore failure inventory state
  docs/INDEX.md
  docs/communication_interfaces.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/connectors/mcp_heartbeat_payload.md
  schemas/mcp_heartbeat_payload.schema.json
Due: doc-indexer, check-connector-index, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add connector doctrine compliance checks
  connectors/neo_apsu_connector_template.py
  data/identity.json
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/connectors/README.md
  docs/index.md
  docs/system_blueprint.md
  onboarding_confirm.yml
  scripts/check_identity_sync.py
  state/crown_identity_fingerprint.json
  tests/connectors/test_neo_apsu_connector_template.py
Due: confirm-reading, doc-indexer, check-connector-index, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add operator MCP adapter and Stage B rehearsal support
  .gitignore
  component_index.json
  connectors/operator_mcp_adapter.py
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/component_index.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/connectors/mcp_migration.md
  docs/connectors/operator_mcp_audit.md
  docs/index.md
  docs/roadmap.md
  docs/system_blueprint.md
  logs/stage_b_rotation_drills.jsonl
  onboarding_confirm.yml
  scripts/stage_b_smoke.py
  state/crown_identity_fingerprint.json
  tests/connectors/test_operator_mcp_adapter.py
  tests/scripts/test_stage_b_smoke.py
Due: confirm-reading, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Document memory bundle diagnostics telemetry
  docs/INDEX.md
  docs/figures/layer_init_broadcast.mmd
  docs/figures/layer_init_query_flow.mmd
  docs/figures/memory_bundle.mmd
  docs/figures/query_memory_aggregation.mmd
  docs/memory_layers_GUIDE.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Document memory initialization telemetry milestones
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/system_blueprint.md
  state/crown_identity_fingerprint.json
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Document Stage B memory telemetry requirements
  docs/INDEX.md
  docs/blueprint_spine.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

docs: refresh operator mcp audit for adapter rollout
  docs/INDEX.md
  docs/connectors/operator_mcp_audit.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add memory load proof CLI and update Stage B docs
  docs/memory_layers_GUIDE.md
  docs/monitoring/RAZAR.md
  onboarding_confirm.yml
  scripts/memory_load_proof.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Integrate operator MCP adapter and update documentation
  component_index.json
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/index.md
  docs/system_blueprint.md
  onboarding_confirm.yml
  operator_api.py
  state/crown_identity_fingerprint.json
  tests/connectors/test_operator_api_mcp_flow.py
Due: confirm-reading, doc-indexer, check-connector-index, validate-component-json, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add nightly operator MCP drill automation
  .github/workflows/nightly_ci.yml
  docs/INDEX.md
  docs/connectors/operator_mcp_audit.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

docs: I drafted MCP runbook on operator connectors to obtain Stage B recovery guidance expecting operators to execute doctrine-aligned drills
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/connectors/operator_mcp_audit.md
  docs/connectors/operator_mcp_runbook.md
  state/crown_identity_fingerprint.json
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Document memory storage runtime reference
  docs/memory_architecture.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Replace Chroma binary fixtures with deterministic stub
  onboarding_confirm.yml
  tests/INANNA_AI/test_origin_ingestion.py
  tests/README.md
  tests/conftest.py
  tests/fixtures/chroma_baseline/.gitignore
  tests/fixtures/chroma_baseline/__init__.py
  tests/fixtures/chroma_baseline/baseline.json
  tests/fixtures/chroma_baseline/fake_chroma.py
  tests/test_chat2db_integration.py
  tests/test_corpus_memory.py
  tests/test_spiral_vector_db.py
Due: confirm-reading, validate-links

Document corpus ingestion workflow
  docs/INDEX.md
  docs/README.md
  docs/corpus_ingestion.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Improve optional memory stub visibility before load tests
  memory/bundle.py
  scripts/check_memory_layers.py
  scripts/memory_load_proof.py
Due: confirm-reading, validate-world-registry

Add vector memory scaling benchmark and latency validation
  data/vector_memory_scaling/corpus.jsonl
  data/vector_memory_scaling/latency_metrics.json
  docs/INDEX.md
  docs/scaling/vector_db_scaling_checklist.md
  monitoring/vector_memory_scaling.py
  scripts/run_vector_memory_scaling.py
  tests/conftest.py
  tests/test_vector_memory_scaling.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add Stage B artifact exporter and readiness bundle
  logs/stage_b/20250920T222728Z/corpus.jsonl
  logs/stage_b/20250920T222728Z/ingestion_vector_memory_summary.json
  logs/stage_b/20250920T222728Z/latency_metrics.json
  logs/stage_b/20250920T222728Z/load_test_summary.json
  logs/stage_b/20250920T222728Z/stage_b_load_test.prom
  logs/stage_b/20250920T222728Z/stage_b_rotation_drills.jsonl
  logs/stage_b/latest
  monitoring/stage_b/20250920T222728Z/load_test_summary.json
  monitoring/stage_b/20250920T222728Z/stage_b_load_test.prom
  monitoring/stage_b/latest
  scripts/export_stage_b_artifacts.py
Due: confirm-reading, verify-chakra-monitoring, verify-self-healing

Document and provision audio extras stack
  dev-requirements.txt
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/audio_stack.md
  docs/blueprint_spine.md
  docs/dependency_registry.md
  docs/index.md
  docs/runbooks/sonic_rehearsal_guide.md
  docs/system_blueprint.md
  pyproject.toml
  requirements.txt
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Document optional dependency fallbacks for rehearsals
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/monitoring/audio_rehearsal_telemetry.md
  docs/optional_dependency_fallbacks.md
  docs/system_blueprint.md
  docs/testing/failure_inventory.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add Stage B connector credential rotation playbook
  docs/INDEX.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/connectors/credential_rotation_playbook.md
Due: doc-indexer, check-connector-index, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add Stage B rehearsal packet generator
  component_index.json
  connectors/crown_handshake_stage_b.py
  connectors/neo_apsu_stage_b.py
  connectors/operator_api_stage_b.py
  connectors/operator_upload_stage_b.py
  data/identity.json
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/connectors/operator_mcp_runbook.md
  docs/index.md
  docs/system_blueprint.md
  logs/stage_b_rehearsal_packet.json
  onboarding_confirm.yml
  scripts/generate_stage_b_rehearsal_packet.py
  state/crown_identity_fingerprint.json
  tests/connectors/test_stage_b_connectors.py
Due: confirm-reading, doc-indexer, check-connector-index, validate-component-json, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add rehearsal scheduler automation and integrate connector health checks
  component_index.json
  monitoring/README.md
  scripts/health_check_connectors.py
  scripts/rehearsal_scheduler.py
  tests/scripts/test_rehearsal_scheduler.py
Due: confirm-reading, validate-component-json, validate-links, verify-chakra-monitoring

Document Stage B MCP rehearsal evidence
  docs/INDEX.md
  docs/connectors/CONNECTOR_INDEX.md
Due: doc-indexer, check-connector-index, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

docs: outline stage guardrails in Absolute Protocol
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/testing/failure_inventory.md
  state/crown_identity_fingerprint.json
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Restore real modules after server import in tests
  tests/test_server_endpoints.py
Due: confirm-reading

Add Stage B rehearsal pipeline and docs
  deployment/pipelines/stage_b_rehearsal.yml
  monitoring/README.md
Due: validate-links, verify-chakra-monitoring

Align stage B rehearsal timestamps with 20250924 run
  logs/stage_b_rehearsal_packet.json
Due: verify-self-healing

I added crown_handshake rotation logging on Stage B automation to obtain complete drill evidence, expecting auditors to see full connector coverage
  docs/connectors/CONNECTOR_INDEX.md
  logs/stage_b/20250921T122529Z/health_checks.json
  logs/stage_b/20250921T122529Z/rehearsal_status.prom
  logs/stage_b/20250921T122529Z/rehearsal_summary.json
  logs/stage_b/20250921T122529Z/rotation_drills.json
  logs/stage_b/20250921T122529Z/stage_b_smoke.json
  logs/stage_b_rotation_drills.jsonl
  onboarding_confirm.yml
  scripts/rehearsal_scheduler.py
  scripts/stage_b_smoke.py
Due: confirm-reading, doc-indexer, check-connector-index, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Track optional memory coverage in gate configuration
  component_index.json
  coverage.json
  coverage.mmd
  docs/PROJECT_STATUS.md
  pytest.ini
  scripts/run_alpha_gate.sh
Due: doc-indexer, validate-component-json, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document memory storage endpoints for load testing
  docs/memory_architecture.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Automate vector memory scaling seed regeneration
  .gitignore
  data/vector_memory_scaling/README.md
  docs/INDEX.md
  docs/scaling/vector_db_scaling_checklist.md
  monitoring/vector_memory_scaling.py
  scripts/ingest_ethics.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Surface memory optional stubs in Stage B artifacts
  deployment/pipelines/stage_b_rehearsal.yml
  memory/bundle.py
  scripts/rehearsal_scheduler.py
Due: confirm-reading, validate-world-registry

Optimize vector fallback search and refresh latency docs
  data/identity.json
  data/vector_memory_scaling/latency_metrics.json
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/index.md
  docs/scaling/vector_db_scaling_checklist.md
  docs/system_blueprint.md
  memory_store.py
  onboarding_confirm.yml
  state/crown_identity_fingerprint.json
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Align rehearsal audio stack and document renderer inventory
  docs/INDEX.md
  docs/audio_stack.md
  docs/avatar_pipeline.md
  docs/blueprint_spine.md
  docs/runbooks/sonic_rehearsal_guide.md
  docs/system_blueprint.md
  scripts/setup_audio_env.sh
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

chore: capture stage c rehearsal evidence
  logs/stage_c_demo/run1/session01/avatar.gif.b64
  logs/stage_c_demo/run1/session01/emotion_stream.jsonl
  logs/stage_c_demo/run1/session01/speech.wav.b64
  logs/stage_c_demo/run1/session01/summary.json
  logs/stage_c_demo/run1/session01/telemetry.json
  logs/stage_c_demo/run1/session02/avatar.gif.b64
  logs/stage_c_demo/run1/session02/emotion_stream.jsonl
  logs/stage_c_demo/run1/session02/speech.wav.b64
  logs/stage_c_demo/run1/session02/summary.json
  logs/stage_c_demo/run1/session02/telemetry.json
  logs/stage_c_demo/run1/summary.json
  logs/stage_c_demo/run1/summary.md
  logs/stage_c_demo/run1/telemetry_bundle.zip.b64
  logs/stage_c_demo/run2/session01/avatar.gif.b64
  logs/stage_c_demo/run2/session01/emotion_stream.jsonl
  logs/stage_c_demo/run2/session01/speech.wav.b64
  logs/stage_c_demo/run2/session01/summary.json
  logs/stage_c_demo/run2/session01/telemetry.json
  logs/stage_c_demo/run2/session02/avatar.gif.b64
  logs/stage_c_demo/run2/session02/emotion_stream.jsonl
  logs/stage_c_demo/run2/session02/speech.wav.b64
  logs/stage_c_demo/run2/session02/summary.json
  logs/stage_c_demo/run2/session02/telemetry.json
  logs/stage_c_demo/run2/summary.json
  logs/stage_c_demo/run2/summary.md
  logs/stage_c_demo/run2/telemetry_bundle.zip.b64
  logs/stage_c_demo/summary.md
  scripts/run_stage_c_demo.py
Due: confirm-reading, validate-links, verify-self-healing

Align rehearsal audio extras and pipeline provisioning
  INANNA_AI/README.md
  deployment/pipelines/stage_b_rehearsal.yml
  docs/audio_stack.md
  docs/runbooks/sonic_rehearsal_guide.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Add Stage C demo rehearsal harness and evidence
  .gitignore
  docs/INDEX.md
  docs/rehearsals/stage_c_demo_summary.md
  logs/stage_c_demo/20250921T172855Z/session_01/audio/2025-09-21T17:35:46.557+00:00_arrival.json
  logs/stage_c_demo/20250921T172855Z/session_01/audio/2025-09-21T17:35:46.582+00:00_handoff.json
  logs/stage_c_demo/20250921T172855Z/session_01/audio/2025-09-21T17:35:46.591+00:00_closing.json
  logs/stage_c_demo/20250921T172855Z/session_01/emotion/stream.jsonl
  logs/stage_c_demo/20250921T172855Z/session_01/run.log
  logs/stage_c_demo/20250921T172855Z/session_01/telemetry/events.jsonl
  logs/stage_c_demo/20250921T172855Z/session_01/telemetry/media_manifest.json
  logs/stage_c_demo/20250921T172855Z/session_01/telemetry/run_summary.json
  logs/stage_c_demo/20250921T172855Z/session_01/telemetry/summary.json
  logs/stage_c_demo/20250921T172855Z/session_01/video/2025-09-21T17:35:46.557+00:00_arrival.json
  logs/stage_c_demo/20250921T172855Z/session_01/video/2025-09-21T17:35:46.582+00:00_handoff.json
  logs/stage_c_demo/20250921T172855Z/session_01/video/2025-09-21T17:35:46.591+00:00_closing.json
  logs/stage_c_demo/20250921T172855Z/session_02/audio/2025-09-21T17:35:49.652+00:00_arrival.json
  logs/stage_c_demo/20250921T172855Z/session_02/audio/2025-09-21T17:35:49.677+00:00_handoff.json
  logs/stage_c_demo/20250921T172855Z/session_02/audio/2025-09-21T17:35:49.685+00:00_closing.json
  logs/stage_c_demo/20250921T172855Z/session_02/emotion/stream.jsonl
  logs/stage_c_demo/20250921T172855Z/session_02/run.log
  logs/stage_c_demo/20250921T172855Z/session_02/telemetry/events.jsonl
  logs/stage_c_demo/20250921T172855Z/session_02/telemetry/media_manifest.json
  logs/stage_c_demo/20250921T172855Z/session_02/telemetry/run_summary.json
  logs/stage_c_demo/20250921T172855Z/session_02/telemetry/summary.json
  logs/stage_c_demo/20250921T172855Z/session_02/video/2025-09-21T17:35:49.652+00:00_arrival.json
  logs/stage_c_demo/20250921T172855Z/session_02/video/2025-09-21T17:35:49.677+00:00_handoff.json
  logs/stage_c_demo/20250921T172855Z/session_02/video/2025-09-21T17:35:49.685+00:00_closing.json
  scripts/stage_c_scripted_demo.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Document sonic core fallbacks and surface Stage C guidance
  docs/roadmap.md
  docs/sonic_core_harmonics.md
  logs/stage_b_rehearsal_packet.json
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document Stage B connector rotation approvals
  docs/connectors/README.md
  docs/connectors/credential_rotation_playbook.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Path conditions:
  confirm-reading: any of: \.py$
  rust-fmt-clippy: any of: \.rs$
  doc-indexer: any of: ^docs/
  check-connector-index: any of: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  validate-component-index: any of: ^docs/component_index.md
  validate-component-json: any of: ^component_index.json$
  validate-world-registry: any of: ^(worlds/|agents/|memory/|scripts/validate_world_registry.py)
  validate-links: any of: \.(md|markdown|mdown)$, but not: ^docs/INDEX\.md$
  validate-docs: any of: ^(docs/chakra_versions.json|docs/chakra_koan_system.md)
  audit-doctrine: any of: ^docs/
  verify-doctrine-refs: any of: ^docs/INDEX\.md$
  verify-chakra-monitoring: any of: ^(docs/|monitoring/)
  verify-self-healing: any of: ^(docs/|logs/|quarantine/)
