Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-links

.pre-commit-config.yaml:

# Run `pre-commit autoupdate` after dependency upgrades.
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.11
  hooks:
  - id: ruff
    args:
    - --fix
- repo: https://github.com/psf/black
  rev: 24.4.2
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/pycqa/flake8
  rev: 7.1.0
  hooks:
  - id: flake8
- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    files: ^$
- repo: local
  hooks:
  - id: confirm-reading
    name: Confirm onboarding reading
    entry: python scripts/confirm_reading.py
    language: system
    types: [python]
    pass_filenames: false
  - id: check-key-documents
    name: Check key documents exist
    entry: python scripts/check_key_documents.py
    language: system
    pass_filenames: false
  - id: validate-key-docs
    name: Validate protected doc hashes and summaries
    entry: python scripts/verify_doc_hashes.py
    language: system
    pass_filenames: false
  - id: require-onboarding-update
    name: Require onboarding confirmation for key docs
    entry: python scripts/require_onboarding_update.py
    language: system
    pass_filenames: false
    always_run: true
  - id: doc-indexer
    name: Regenerate documentation index
    entry: python tools/doc_indexer.py
    language: system
    pass_filenames: false
    files: ^docs/
  - id: ensure-blueprint-sync
    name: Ensure blueprint updated with core changes
    entry: python scripts/ensure_blueprint_sync.py
    language: system
  - id: block-binaries
    name: Block binary files
    entry: python scripts/check_no_binaries.py
    language: system
    pass_filenames: false
  - id: placeholder-elimination
    name: Placeholder Elimination
    entry: python scripts/check_placeholders.py
    language: system
  - id: scan-todo-fixme
    name: Scan TODO/FIXME markers
    entry: python scripts/scan_todo_fixme.py
    language: system
    pass_filenames: false
  - id: verify-versions
    name: Ensure modules declare __version__
    entry: python scripts/verify_versions.py
    language: system
    pass_filenames: false
  - id: check-connector-index
    name: Check connector index entries
    entry: python scripts/check_connector_index.py
    language: python
    pass_filenames: false
    files: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  - id: require-connector-registry-update
    name: Require connector registry updates
    entry: python scripts/require_connector_registry_update.py
    language: system
    pass_filenames: false
  - id: validate-component-index
    name: Validate component index entries
    entry: python scripts/validate_component_index.py
    language: system
    pass_filenames: false
    files: ^docs/component_index.md
  - id: validate-component-json
    name: Validate component_index.json fields
    entry: python scripts/validate_component_index_json.py
    language: system
    pass_filenames: false
    files: ^component_index.json$
  - id: verify-dependencies
    name: Verify dependency versions
    entry: python scripts/verify_dependencies.py
    language: system
    pass_filenames: false
  - id: check-env
    name: Verify environment prerequisites
    entry: python scripts/check_env.py
    language: system
    pass_filenames: false
  - id: validate-links
    name: Validate markdown links
    entry: python scripts/validate_links.py
    language: system
    types: [markdown]
    exclude: ^docs/INDEX\.md$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.19.0
  hooks:
    - id: commitlint
      stages: [commit-msg]
      additional_dependencies: ['@commitlint/cli@17.7.2']

Rename videoa_agent_stack.md to video_agent_stack.md
  NEOABZU/docs/video_agent_stack.md
Due: validate-links

feat(docs): add Nazarick Convex PoC
  NEOABZU/docs/index.md
  NEOABZU/docs/nazarick_convex_poc.md
  docs/INDEX.md
  docs/doctrine_index.md
Due: doc-indexer, validate-links

crown: add validator routing and tests
  NEOABZU/crown/src/lib.rs
  NEOABZU/crown/tests/razar_validator.rs
  NEOABZU/crown/tests/validator.rs
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

feat: wire kimicho fallback via PyO3
  CHANGELOG.md
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  NEOABZU/kimicho/tests/razar_integration.rs
  razar/boot_orchestrator.py
Due: confirm-reading, validate-links

feat(rag): add connector plugins and ranking
  NEOABZU/docs/connector_api.md
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/index.md
  NEOABZU/rag/src/connector.rs
  NEOABZU/rag/src/lib.rs
  NEOABZU/rag/src/ranker.rs
  NEOABZU/rag/tests/plugins.rs
Due: validate-links

feat: add semantic insight hooks
  NEOABZU/crown/src/lib.rs
  NEOABZU/crown/tests/insight.rs
  NEOABZU/crown/tests/insight_hooks.rs
  NEOABZU/docs/feature_parity.md
  NEOABZU/insight/src/lib.rs
  NEOABZU/insight/tests/integration.rs
  docs/ABZU_SUBSYSTEM_OVERVIEW.md
  docs/feature_parity.md
Due: doc-indexer, validate-links

chore: bump pyo3 to 0.21.2
  NEOABZU/chakrapulse/Cargo.toml
  NEOABZU/core/Cargo.toml
  NEOABZU/crown/Cargo.toml
  NEOABZU/crown/tests/kimicho_fallback.rs
  NEOABZU/fusion/Cargo.toml
  NEOABZU/inanna/Cargo.toml
  NEOABZU/insight/Cargo.toml
  NEOABZU/kimicho/Cargo.toml
  NEOABZU/memory/Cargo.toml
  NEOABZU/memory/tests/query.rs
  NEOABZU/numeric/Cargo.toml
  NEOABZU/persona/Cargo.toml
  NEOABZU/rag/Cargo.toml
  NEOABZU/razar/Cargo.toml
  NEOABZU/vector/Cargo.toml
  crown/Cargo.toml
  docs/INDEX.md
  docs/component_index.md
  docs/component_status.json
  docs/component_status.md
  docs/doctrine_index.md
  docs/testing/failure_inventory.md
  numeric/Cargo.toml
  persona/Cargo.toml
  rag/Cargo.toml
Due: doc-indexer, validate-component-index, validate-links

feat: add telemetry hooks and CI checks
  .github/workflows/neoabzu.yml
  CHANGELOG.md
  NEOABZU/insight/Cargo.toml
  NEOABZU/insight/src/lib.rs
  NEOABZU/kimicho/Cargo.toml
  NEOABZU/kimicho/src/lib.rs
  docs/observability.md
  rag/Cargo.toml
  rag/src/lib.rs
Due: doc-indexer, validate-links

document Convex connector evaluation
  NEOABZU/docs/convex_connector_evaluation.md
  NEOABZU/docs/index.md
  docs/INDEX.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

test: parameterize rstar escalation threshold
  razar/boot_orchestrator.py
  tests/test_boot_orchestrator.py
Due: confirm-reading

feat: add kimi2 and airstar agent escalation
  config/razar_ai_agents.json
  razar/ai_invoker.py
  razar/boot_orchestrator.py
Due: confirm-reading

Document escalation chain and link K2 Coder and rStar
  docs/system_blueprint.md
Due: doc-indexer, validate-links

test: verify multi-agent escalation
  tests/test_boot_orchestrator.py
Due: confirm-reading

feat: share AI failure history across agents
  CHANGELOG_razar.md
  docs/system_blueprint.md
  razar/ai_invoker.py
  razar/boot_orchestrator.py
  tests/test_boot_orchestrator.py
Due: confirm-reading, doc-indexer, validate-links

doc: add APSU resource index and terminology fixes
  docs/INDEX.md
  docs/apsu_resource_index.md
  docs/onboarding/README.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

docs: describe identity spine and add tests
  component_index.json
  docs/INDEX.md
  docs/NEOABZU_spine.md
  identity_loader.py
  init_crown_agent.py
  tests/test_identity_loader.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-links

crown: derive model from orchestrator and add razar parity test
  NEOABZU/crown/src/lib.rs
  NEOABZU/crown/tests/razar_legacy_parity.rs
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  docs/INDEX.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

feat(rag): orchestrate multi-source retrieval
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  NEOABZU/rag/src/lib.rs
  NEOABZU/rag/src/orchestrator.rs
  NEOABZU/rag/tests/multi_source_ranking.rs
  docs/feature_parity.md
  docs/migration_crosswalk.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

feat(insight): add semantic metrics and docs
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  NEOABZU/insight/src/lib.rs
  NEOABZU/insight/tests/edge_cases.rs
  docs/feature_parity.md
  docs/migration_crosswalk.md
  docs/system_blueprint.md
  pyproject.toml
Due: doc-indexer, validate-links

feat(vector): instrument vector grpc
  NEOABZU/Reignition.md
  NEOABZU/docs/feature_parity.md
  NEOABZU/neoabzu/vector.py
  NEOABZU/vector/src/server.rs
  docs/INDEX.md
  docs/system_blueprint.md
Due: confirm-reading, doc-indexer, validate-links

docs: sync blueprint and ci for neoabzu v0.1.2
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  NEOABZU/pyproject.toml
  docs/INDEX.md
  docs/blueprint_spine.md
  docs/doctrine_index.md
  docs/system_blueprint.md
  pyproject.toml
  scripts/verify_pyo3_exposure.py
Due: confirm-reading, doc-indexer, validate-links

feat(crown): add identity loader and route validations
  NEOABZU/Cargo.lock
  NEOABZU/crown/Cargo.toml
  NEOABZU/crown/src/lib.rs
  NEOABZU/crown/tests/identity_load.rs
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/system_blueprint.md
  identity_loader.py
  init_crown_agent.py
Due: confirm-reading, doc-indexer, validate-links

feat: add kimicho fallback for razar
  NEOABZU/docs/index.md
  NEOABZU/razar/src/lib.rs
  docs/blueprint_spine.md
  docs/migration_crosswalk.md
  docs/system_blueprint.md
  docs/test_index.md
  tests/agents/razar/test_crown_kimicho.py
Due: confirm-reading, doc-indexer, validate-links

Normalize agent names for RAZAR handover
  component_index.json
  razar/ai_invoker.py
  razar/boot_orchestrator.py
  tests/test_boot_orchestrator.py
Due: confirm-reading, validate-component-json

Use configurable agent failover order
  docs/system_blueprint.md
  onboarding_confirm.yml
  razar/boot_orchestrator.py
  tests/test_boot_orchestrator.py
Due: confirm-reading, doc-indexer, validate-links

Document RAZAR failover configuration
  docs/system_blueprint.md
Due: doc-indexer, validate-links

Add Crown semantic bridge to neoabzu_insight
  NEOABZU/docs/insight.md
  NEOABZU/insight/src/crown_bridge.rs
  NEOABZU/insight/src/lib.rs
  NEOABZU/insight/tests/crown_bridge.rs
Due: validate-links

Document OS Guardian safeguards in blueprints
  docs/blueprint_spine.md
  docs/doctrine_index.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

Ensure AI escalation uses module threshold
  razar/boot_orchestrator.py
  tests/test_boot_orchestrator.py
Due: confirm-reading

Add HTTP adapters for Kimi2 and AirStar handover
  agents/razar/ai_invoker.py
  component_index.json
  razar/ai_invoker.py
  razar/boot_orchestrator.py
  tests/agents/razar/test_ai_invoker.py
Due: confirm-reading, validate-component-json

Normalize agent casing and audit logging
  razar/ai_invoker.py
  razar/boot_orchestrator.py
  tests/razar/test_ai_invoker.py
  tests/test_boot_orchestrator.py
Due: confirm-reading

Add failure context coverage and document shared flow
  docs/INDEX.md
  docs/RAZAR_AGENT.md
  tests/test_boot_orchestrator.py
Due: confirm-reading, doc-indexer, validate-links

Document rStar escalation order and threshold
  docs/system_blueprint.md
Due: doc-indexer, validate-links

Document RAZAR delegation cascade
  docs/blueprint_spine.md
Due: doc-indexer, validate-links

docs: align razar failover guidance
  docs/blueprint_spine.md
  docs/doctrine_index.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

test: expand boot orchestrator escalation coverage
  tests/test_boot_orchestrator.py
Due: confirm-reading

feat(vector): persist shard state and document deployment
  NEOABZU/Cargo.lock
  NEOABZU/Reignition.md
  NEOABZU/vector/Cargo.toml
  NEOABZU/vector/README.md
  NEOABZU/vector/src/server.rs
  NEOABZU/vector/tests/grpc.rs
  NEOABZU/vector/tests/load_test.py
  NEOABZU/vector/tests/test_grpc_python.py
  component_index.json
  docs/INDEX.md
  docs/component_index.md
  docs/system_blueprint.md
  docs/testing/failure_inventory.md
  monitoring/metrics_catalog.md
Due: confirm-reading, doc-indexer, validate-component-index, validate-component-json, validate-links

Document architecture update governance across blueprints
  NEOABZU/pyproject.toml
  component_index.json
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/doctrine_index.md
  docs/index.md
  docs/system_blueprint.md
  onboarding_confirm.yml
  scripts/check_blueprints_and_tests.py
  scripts/ensure_blueprint_sync.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-links

Include prior attempts in RAZAR handover context
  razar/boot_orchestrator.py
  tests/test_boot_orchestrator.py
Due: confirm-reading

Add shared invocation logging and metrics instrumentation
  docs/INDEX.md
  docs/RAZAR_AGENT.md
  razar/boot_orchestrator.py
  razar/metrics.py
  razar/utils/__init__.py
  razar/utils/logging.py
  scripts/recovery_daemon.py
  tests/agents/razar/test_ai_invoker.py
  tests/razar/test_long_task.py
  tests/razar/test_remote_repair.py
  tests/razar/test_retry_with_ai.py
  tests/test_boot_orchestrator.py
Due: confirm-reading, doc-indexer, validate-links
