Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, rust-fmt-clippy, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-world-registry, validate-links, validate-docs, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

confirm-reading:
  name: Confirm onboarding reading
  entry: python scripts/confirm_reading.py
  language: system
  pass_filenames: false

rust-fmt-clippy:
  name: Run cargo fmt and clippy
  entry: bash -c 'cargo fmt --check && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

doc-indexer:
  name: Regenerate documentation index
  entry: python tools/doc_indexer.py
  language: system
  pass_filenames: false

check-connector-index:
  name: Check connector index entries
  entry: python scripts/check_connector_index.py
  language: python
  pass_filenames: false

validate-component-index:
  name: Validate component index entries
  entry: python scripts/validate_component_index.py
  language: system
  pass_filenames: false

validate-component-json:
  name: Validate component_index.json fields
  entry: python scripts/validate_component_index_json.py
  language: system
  pass_filenames: false

validate-world-registry:
  name: Validate world registry entries
  entry: python scripts/validate_world_registry.py
  language: system
  pass_filenames: false

validate-links:
  name: Validate markdown links
  entry: python scripts/validate_links.py
  language: system

validate-docs:
  name: Validate documentation registry and cross-links
  entry: python scripts/validate_docs.py
  language: system
  pass_filenames: false

audit-doctrine:
  name: Audit documentation doctrine
  entry: python scripts/audit_doctrine.py
  language: system
  pass_filenames: false

verify-doctrine-refs:
  name: Verify doctrine references
  entry: python scripts/verify_doctrine_refs.py
  language: system
  pass_filenames: false

verify-chakra-monitoring:
  name: Verify chakra monitoring
  entry: python scripts/verify_chakra_monitoring.py
  language: system
  pass_filenames: false

verify-self-healing:
  name: Verify self healing
  entry: python scripts/verify_self_healing.py
  language: system
  pass_filenames: false

Refresh Stage B readiness snapshots and Stage C bundle
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/rehearsals/stage_c_readiness_review_packet.md
  docs/roadmap.md
  logs/stage_b/latest/readiness_index.json
  logs/stage_c/20250928T202834Z-stage_c3_readiness_sync/readiness_bundle.json
  logs/stage_c/20250928T202834Z-stage_c3_readiness_sync/stage_a-a1-summary.json
  logs/stage_c/20250928T202834Z-stage_c3_readiness_sync/stage_a-a2-summary.json
  logs/stage_c/20250928T202834Z-stage_c3_readiness_sync/stage_a-a3-summary.json
  logs/stage_c/20250928T202834Z-stage_c3_readiness_sync/stage_b-b1-artifact1.stderr.log
  logs/stage_c/20250928T202834Z-stage_c3_readiness_sync/stage_b-b1-artifact2.stdout.log
  logs/stage_c/20250928T202834Z-stage_c3_readiness_sync/stage_b-b1-summary.json
  logs/stage_c/20250928T202834Z-stage_c3_readiness_sync/stage_b-b2-summary.json
  logs/stage_c/20250928T202834Z-stage_c3_readiness_sync/stage_b-b3-summary.json
  logs/stage_c/20250928T202834Z-stage_c3_readiness_sync/stage_c3_readiness_sync.stderr.log
  logs/stage_c/20250928T202834Z-stage_c3_readiness_sync/stage_c3_readiness_sync.stdout.log
  logs/stage_c/20250928T202834Z-stage_c3_readiness_sync/summary.json
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Prefer Stage B3 summary in readiness bundle
  logs/stage_c/20251001T010101Z-stage_c3_readiness_sync/readiness_bundle.json
  logs/stage_c/20251001T010101Z-stage_c3_readiness_sync/stage_a-a1-summary.json
  logs/stage_c/20251001T010101Z-stage_c3_readiness_sync/stage_a-a2-summary.json
  logs/stage_c/20251001T010101Z-stage_c3_readiness_sync/stage_a-a3-summary.json
  logs/stage_c/20251001T010101Z-stage_c3_readiness_sync/stage_b-b1-artifact1.stderr.log
  logs/stage_c/20251001T010101Z-stage_c3_readiness_sync/stage_b-b1-artifact2.stdout.log
  logs/stage_c/20251001T010101Z-stage_c3_readiness_sync/stage_b-b1-summary.json
  logs/stage_c/20251001T010101Z-stage_c3_readiness_sync/stage_b-b2-summary.json
  logs/stage_c/20251001T010101Z-stage_c3_readiness_sync/stage_b-b3-summary.json
  logs/stage_c/20251001T010101Z-stage_c3_readiness_sync/summary.json
  scripts/aggregate_stage_readiness.py
Due: confirm-reading, verify-self-healing

Harden Stage C storyline evidence retrieval
  docs/rehearsals/stage_c_demo_summary.md
  docs/rehearsals/stage_c_readiness_review_packet.md
  evidence_manifests/stage-c-demo-storyline.json
  logs/stage_c/.gitignore
  scripts/stage_c_scripted_demo.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document blocked Stage A hardware window
  .gitignore
  docs/PROJECT_STATUS.md
  logs/stage_a/20251002T180000Z-stage_a1_boot_telemetry/summary.json
  logs/stage_a/20251002T181000Z-stage_a2_crown_replays/summary.json
  logs/stage_a/20251002T182000Z-stage_a3_gate_shakeout/summary.json
  logs/stage_c/20250930T210000Z-readiness_packet/readiness_bundle/readiness_bundle.json
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Refresh Stage C readiness packet for latest sync
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/The_Absolute_Protocol.md
  docs/The_Absolute_Protocol_addendum.md
  docs/doctrine_index.md
  docs/documentation_protocol.md
  docs/rehearsals/stage_c_readiness_review_packet.md
  docs/roadmap.md
  docs/testing/failure_inventory.md
  logs/stage_c/20251001T010101Z-readiness_packet/checklist_logs/README.md
  logs/stage_c/20251001T010101Z-readiness_packet/checklist_logs/stage_c1_exit_checklist_summary.json
  logs/stage_c/20251001T010101Z-readiness_packet/mcp_drill/index.json
  logs/stage_c/20251001T010101Z-readiness_packet/readiness_bundle/README.md
  logs/stage_c/20251001T010101Z-readiness_packet/readiness_bundle/readiness_bundle.json
  logs/stage_c/20251001T010101Z-readiness_packet/review_minutes.md
  logs/stage_c/archive/20250930T210000Z-readiness_packet/checklist_logs/README.md
  logs/stage_c/archive/20250930T210000Z-readiness_packet/checklist_logs/stage_c1_exit_checklist_summary.json
  logs/stage_c/archive/20250930T210000Z-readiness_packet/mcp_drill/index.json
  logs/stage_c/archive/20250930T210000Z-readiness_packet/readiness_bundle/README.md
  logs/stage_c/archive/20250930T210000Z-readiness_packet/readiness_bundle/readiness_bundle.json
  logs/stage_c/archive/20250930T210000Z-readiness_packet/review_minutes.md
  logs/stage_c/archive/README.md
  state/crown_identity_fingerprint.json
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Sync Stage B rotation with Stage C drill
  docs/PROJECT_STATUS.md
  docs/rehearsals/stage_c_readiness_review_packet.md
  docs/roadmap.md
  logs/stage_b/20250929T105142Z-stage_b3_connector_rotation/summary.json
  logs/stage_b/latest/readiness_index.json
  logs/stage_c/20250929T105500Z-stage_c3_readiness_sync/readiness_bundle.json
  logs/stage_c/20250929T105500Z-stage_c3_readiness_sync/stage_a-a1-summary.json
  logs/stage_c/20250929T105500Z-stage_c3_readiness_sync/stage_a-a2-summary.json
  logs/stage_c/20250929T105500Z-stage_c3_readiness_sync/stage_a-a3-summary.json
  logs/stage_c/20250929T105500Z-stage_c3_readiness_sync/stage_b-b1-artifact1.stderr.log
  logs/stage_c/20250929T105500Z-stage_c3_readiness_sync/stage_b-b1-artifact2.stdout.log
  logs/stage_c/20250929T105500Z-stage_c3_readiness_sync/stage_b-b1-summary.json
  logs/stage_c/20250929T105500Z-stage_c3_readiness_sync/stage_b-b2-summary.json
  logs/stage_c/20250929T105500Z-stage_c3_readiness_sync/stage_b-b3-artifact1.stderr.log
  logs/stage_c/20250929T105500Z-stage_c3_readiness_sync/stage_b-b3-artifact2.stdout.log
  logs/stage_c/20250929T105500Z-stage_c3_readiness_sync/stage_b-b3-artifact3.jsonl
  logs/stage_c/20250929T105500Z-stage_c3_readiness_sync/stage_b-b3-summary.json
  logs/stage_c/20250929T105500Z-stage_c3_readiness_sync/summary.json
  scripts/stage_b_smoke.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document Stage C transport parity and add monitoring tests
  connectors/operator_mcp_adapter.py
  docs/PROJECT_STATUS.md
  docs/roadmap.md
  onboarding_confirm.yml
  tests/connectors/test_operator_mcp_adapter.py
  tests/test_operator_transport_contract.py
Due: confirm-reading, doc-indexer, check-connector-index, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Add stage readiness fixtures and override support
  scripts/aggregate_stage_readiness.py
  tests/fixtures/stage_readiness/stage_a/20240101T000000Z-stage_a1_boot_telemetry/artifact.log
  tests/fixtures/stage_readiness/stage_a/20240101T000000Z-stage_a1_boot_telemetry/summary.json
  tests/fixtures/stage_readiness/stage_a/20240101T000500Z-stage_a2_crown_replays/artifact.log
  tests/fixtures/stage_readiness/stage_a/20240101T000500Z-stage_a2_crown_replays/summary.json
  tests/fixtures/stage_readiness/stage_a/20240101T001000Z-stage_a3_gate_shakeout/artifact.log
  tests/fixtures/stage_readiness/stage_a/20240101T001000Z-stage_a3_gate_shakeout/summary.json
  tests/fixtures/stage_readiness/stage_b/20240102T000000Z-stage_b1_memory_proof/artifact.log
  tests/fixtures/stage_readiness/stage_b/20240102T000000Z-stage_b1_memory_proof/summary.json
  tests/fixtures/stage_readiness/stage_b/20240102T000500Z-stage_b2_sonic_rehearsal/artifact.log
  tests/fixtures/stage_readiness/stage_b/20240102T000500Z-stage_b2_sonic_rehearsal/summary.json
  tests/fixtures/stage_readiness/stage_b/20240102T001000Z-stage_b3_connector_rotation/artifact.log
  tests/fixtures/stage_readiness/stage_b/20240102T001000Z-stage_b3_connector_rotation/summary.json
  tests/test_operator_api.py
Due: confirm-reading

Refactor Stage B rehearsal stubs
  scripts/_dependency_stubs/__init__.py
  scripts/_dependency_stubs/clap/__init__.py
  scripts/_dependency_stubs/rave/__init__.py
  scripts/_dependency_stubs/simpleaudio/__init__.py
  scripts/_dependency_stubs/torch/__init__.py
  scripts/generate_stage_b_rehearsal_packet.py
Due: confirm-reading

Annotate Stage B drills with credential windows and refresh readiness packet
  connectors/operator_mcp_adapter.py
  docs/PROJECT_STATUS.md
  logs/stage_b_rotation_drills.jsonl
  logs/stage_c/20251003T010101Z-readiness_packet/checklist_logs/README.md
  logs/stage_c/20251003T010101Z-readiness_packet/checklist_logs/stage_c1_exit_checklist_summary.json
  logs/stage_c/20251003T010101Z-readiness_packet/mcp_drill/credential_window.json
  logs/stage_c/20251003T010101Z-readiness_packet/mcp_drill/index.json
  logs/stage_c/20251003T010101Z-readiness_packet/mcp_drill/rotation_metadata.json
  logs/stage_c/20251003T010101Z-readiness_packet/readiness_bundle/README.md
  logs/stage_c/20251003T010101Z-readiness_packet/readiness_bundle/readiness_bundle.json
  logs/stage_c/20251003T010101Z-readiness_packet/review_minutes.md
  operator_api.py
  scripts/stage_b_smoke.py
  scripts/stage_c_mcp_drill.py
Due: confirm-reading, doc-indexer, check-connector-index, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Add mission map milestone controls and stage endpoints
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/doctrine_index.md
  docs/index.md
  docs/onboarding/README.md
  docs/roadmap.md
  docs/system_blueprint.md
  docs/testing/failure_inventory.md
  logs/self_heal.jsonl
  onboarding_confirm.yml
  operator_api.py
  state/crown_identity_fingerprint.json
  tests/test_operator_api.py
  tests/web_console/test_mission_map.py
  web_console/game_dashboard/dashboard.js
  web_console/game_dashboard/mission_map.js
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add Stage D and E bridge guidance
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/doctrine_index.md
  docs/roadmap.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Document Stage D Neo-APSU migration backlog
  component_index.json
  docs/PROJECT_STATUS.md
  docs/apsu_resource_index.md
  docs/system_blueprint.md
Due: doc-indexer, validate-component-json, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Add hardware/sandbox flags to Stage B memory refresh
  data/cortex_memory_index.json
  data/cortex_memory_spiral.jsonl
  docs/PROJECT_STATUS.md
  docs/roadmap.md
  logs/stage_b/20250929T210655Z-stage_b1_memory_refresh/after/run.log
  logs/stage_b/20250929T210655Z-stage_b1_memory_refresh/after/summary.json
  logs/stage_b/20250929T210655Z-stage_b1_memory_refresh/before/run.log
  logs/stage_b/20250929T210655Z-stage_b1_memory_refresh/before/summary.json
  logs/stage_b/20250929T210655Z-stage_b1_memory_refresh/notes/run.log
  scripts/memory_load_proof.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document Stage E transport governance
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/The_Absolute_Protocol.md
  docs/roadmap.md
  monitoring/operator_transport_pilot.md
  onboarding_confirm.yml
  state/crown_identity_fingerprint.json
  tests/test_operator_transport_contract.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add Stage E transport parity snapshot automation
  .gitignore
  docs/PROJECT_STATUS.md
  docs/roadmap.md
  logs/stage_c/20250928T151500Z-readiness_packet/readiness_bundle/readiness_bundle.json
  logs/stage_e/20250930T121727Z-stage_e_transport_readiness/crown_handshake/grpc_trace.json
  logs/stage_e/20250930T121727Z-stage_e_transport_readiness/crown_handshake/rest_grpc_diff.json
  logs/stage_e/20250930T121727Z-stage_e_transport_readiness/crown_handshake/rest_trace.json
  logs/stage_e/20250930T121727Z-stage_e_transport_readiness/operator_api/grpc_trace.json
  logs/stage_e/20250930T121727Z-stage_e_transport_readiness/operator_api/rest_grpc_diff.json
  logs/stage_e/20250930T121727Z-stage_e_transport_readiness/operator_api/rest_trace.json
  logs/stage_e/20250930T121727Z-stage_e_transport_readiness/operator_upload/grpc_trace.json
  logs/stage_e/20250930T121727Z-stage_e_transport_readiness/operator_upload/rest_grpc_diff.json
  logs/stage_e/20250930T121727Z-stage_e_transport_readiness/operator_upload/rest_trace.json
  logs/stage_e/20250930T121727Z-stage_e_transport_readiness/summary.json
  monitoring/operator_transport_pilot.md
  operator_api.py
  tests/test_operator_transport_contract.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Add beta launch plan and beta feedback monitoring
  .gitignore
  docs/PROJECT_STATUS.md
  docs/doctrine_index.md
  docs/releases/beta_launch_plan.md
  logs/stage_f/20251101T120000Z-beta_feedback/external_feedback.prom
  logs/stage_f/20251101T120000Z-beta_feedback/summary.json
  logs/stage_f/exporters/latest.prom
  monitoring/README.md
  monitoring/alerts/beta_feedback.yml
  monitoring/docker-compose.yml
  monitoring/grafana-dashboard.json
  monitoring/metrics_catalog.md
  monitoring/operator_transport_pilot.md
  monitoring/prometheus.yml
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document Stage G hardware bridge alignment
  .gitignore
  data/identity.json
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/The_Absolute_Protocol.md
  docs/doctrine_index.md
  docs/documentation_protocol.md
  docs/roadmap.md
  docs/testing/failure_inventory.md
  logs/stage_g/20251102T090000Z-stage_g_gate_runner_hardware/approvals.yaml
  logs/stage_g/20251102T090000Z-stage_g_gate_runner_hardware/operator_console.json
  logs/stage_g/20251102T090000Z-stage_g_gate_runner_hardware/parity_diff.json
  logs/stage_g/20251102T090000Z-stage_g_gate_runner_hardware/rollback_drill.md
  logs/stage_g/20251102T090000Z-stage_g_gate_runner_hardware/rollback_shutdown.log
  logs/stage_g/20251102T090000Z-stage_g_gate_runner_hardware/summary.json
  logs/stage_g/20251102T094500Z-stage_g_neo_apsu_parity/approvals.yaml
  logs/stage_g/20251102T094500Z-stage_g_neo_apsu_parity/hardware_manifest.json
  logs/stage_g/20251102T094500Z-stage_g_neo_apsu_parity/parity_diff.json
  logs/stage_g/20251102T094500Z-stage_g_neo_apsu_parity/rollback_drill.md
  logs/stage_g/20251102T094500Z-stage_g_neo_apsu_parity/sandbox_replay.log
  logs/stage_g/20251102T094500Z-stage_g_neo_apsu_parity/summary.json
  logs/stage_g/20251102T094500Z-stage_g_neo_apsu_parity/transport_contract.json
  state/crown_identity_fingerprint.json
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Document GA readiness operations
  .gitignore
  CHANGELOG.md
  docs/INDEX.md
  docs/doctrine_index.md
  docs/lts/ga_lts_plan.md
  docs/releases/ga_readiness.md
  docs/roadmap.md
  logs/stage_h/20251115T090000Z-ga_hardware_cutover/approvals.yaml
  logs/stage_h/20251115T090000Z-ga_hardware_cutover/rehearsal_diff.json
  logs/stage_h/20251115T090000Z-ga_hardware_cutover/summary.json
  monitoring/README.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Document Neo-APSU rollout matrices and deferral checkpoints
  docs/The_Absolute_Protocol.md
  docs/The_Absolute_Protocol_addendum.md
  docs/blueprint_spine.md
  docs/doctrine_index.md
  docs/roadmap.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Align stage A1 hardware guidance with audit bundle
  .gitignore
  logs/alpha_gate/20250930T203412Z-stage_a1_boot_telemetry_audit/20250930T203400Z-stage_a1_boot_telemetry-stderr-tail.log
  logs/alpha_gate/20250930T203412Z-stage_a1_boot_telemetry_audit/20250930T203400Z-stage_a1_boot_telemetry-stderr.log
  logs/alpha_gate/20250930T203412Z-stage_a1_boot_telemetry_audit/20250930T203400Z-stage_a1_boot_telemetry-stdout.log
  logs/alpha_gate/20250930T203412Z-stage_a1_boot_telemetry_audit/20250930T203400Z-stage_a1_boot_telemetry-summary.json
  logs/alpha_gate/20250930T203412Z-stage_a1_boot_telemetry_audit/20250930T203409Z-stage_a1_boot_telemetry-stderr-tail.log
  logs/alpha_gate/20250930T203412Z-stage_a1_boot_telemetry_audit/20250930T203409Z-stage_a1_boot_telemetry-stderr.log
  logs/alpha_gate/20250930T203412Z-stage_a1_boot_telemetry_audit/20250930T203409Z-stage_a1_boot_telemetry-stdout.log
  logs/alpha_gate/20250930T203412Z-stage_a1_boot_telemetry_audit/20250930T203409Z-stage_a1_boot_telemetry-summary.json
  logs/alpha_gate/20250930T203412Z-stage_a1_boot_telemetry_audit/20250930T203412Z-stage_a1_boot_telemetry-stderr-tail.log
  logs/alpha_gate/20250930T203412Z-stage_a1_boot_telemetry_audit/20250930T203412Z-stage_a1_boot_telemetry-stderr.log
  logs/alpha_gate/20250930T203412Z-stage_a1_boot_telemetry_audit/20250930T203412Z-stage_a1_boot_telemetry-stdout.log
  logs/alpha_gate/20250930T203412Z-stage_a1_boot_telemetry_audit/20250930T203412Z-stage_a1_boot_telemetry-summary.json
  logs/alpha_gate/20250930T203412Z-stage_a1_boot_telemetry_audit/manifest.json
  logs/alpha_gate/20250930T203412Z-stage_a1_boot_telemetry_audit/prometheus/alpha_gate.prom
  logs/alpha_gate/20250930T203412Z-stage_a1_boot_telemetry_audit/prometheus/alpha_gate_summary.json
  logs/alpha_gate/20250930T203412Z-stage_a1_boot_telemetry_audit/prometheus/boot_metrics.prom
  logs/stage_a/20250930T203400Z-stage_a1_boot_telemetry/stage_a1_boot_telemetry.stderr.log
  logs/stage_a/20250930T203400Z-stage_a1_boot_telemetry/stage_a1_boot_telemetry.stdout.log
  logs/stage_a/20250930T203400Z-stage_a1_boot_telemetry/summary.json
  logs/stage_a/20250930T203409Z-stage_a1_boot_telemetry/stage_a1_boot_telemetry.stderr.log
  logs/stage_a/20250930T203409Z-stage_a1_boot_telemetry/stage_a1_boot_telemetry.stdout.log
  logs/stage_a/20250930T203409Z-stage_a1_boot_telemetry/summary.json
  logs/stage_a/20250930T203412Z-stage_a1_boot_telemetry/stage_a1_boot_telemetry.stderr.log
  logs/stage_a/20250930T203412Z-stage_a1_boot_telemetry/stage_a1_boot_telemetry.stdout.log
  logs/stage_a/20250930T203412Z-stage_a1_boot_telemetry/summary.json
  scripts/bootstrap.py
Due: confirm-reading, verify-self-healing

Capture Stage A2 replays and update gate review packet
  logs/crown_replays/crown_air_star_validation.json
  logs/crown_replays/crown_glm_reflection.json
  logs/crown_replays/crown_kimi_k2_revision.json
  logs/crown_replays/crown_kimicho_guidance.json
  logs/crown_replays/crown_rstar_finalization.json
  logs/stage_a/20250930T205739Z-stage_a2_crown_replays/session_logger_boot_path_validation.json
  logs/stage_a/20250930T205739Z-stage_a2_crown_replays/stage_a2_crown_replays.stderr.log
  logs/stage_a/20250930T205739Z-stage_a2_crown_replays/stage_a2_crown_replays.stdout.log
  logs/stage_a/20250930T205739Z-stage_a2_crown_replays/summary.json
  logs/stage_a/20250930T205753Z-stage_a2_crown_replays/stage_a2_crown_replays.stderr.log
  logs/stage_a/20250930T205753Z-stage_a2_crown_replays/stage_a2_crown_replays.stdout.log
  logs/stage_a/20250930T205753Z-stage_a2_crown_replays/summary.json
  logs/stage_a/20250930T205808Z-stage_a2_crown_replays/stage_a2_crown_replays.stderr.log
  logs/stage_a/20250930T205808Z-stage_a2_crown_replays/stage_a2_crown_replays.stdout.log
  logs/stage_a/20250930T205808Z-stage_a2_crown_replays/summary.json
  logs/stage_a/20250930T205821Z-stage_a2_crown_replays/stage_a2_crown_replays.stderr.log
  logs/stage_a/20250930T205821Z-stage_a2_crown_replays/stage_a2_crown_replays.stdout.log
  logs/stage_a/20250930T205821Z-stage_a2_crown_replays/summary.json
  logs/stage_a/20250930T205834Z-stage_a2_crown_replays/stage_a2_crown_replays.stderr.log
  logs/stage_a/20250930T205834Z-stage_a2_crown_replays/stage_a2_crown_replays.stdout.log
  logs/stage_a/20250930T205834Z-stage_a2_crown_replays/summary.json
  logs/stage_c/20250930T205900Z-stage_c3_gate_review/readiness_bundle.json
  logs/stage_c/20250930T205900Z-stage_c3_gate_review/routing_determinism_metrics.json
  logs/stage_c/20250930T205900Z-stage_c3_gate_review/stage_a-a1-artifact1.stderr.log
  logs/stage_c/20250930T205900Z-stage_c3_gate_review/stage_a-a1-artifact2.stdout.log
  logs/stage_c/20250930T205900Z-stage_c3_gate_review/stage_a-a1-summary.json
  logs/stage_c/20250930T205900Z-stage_c3_gate_review/stage_a-a2-artifact1.stderr.log
  logs/stage_c/20250930T205900Z-stage_c3_gate_review/stage_a-a2-artifact2.stdout.log
  logs/stage_c/20250930T205900Z-stage_c3_gate_review/stage_a-a2-summary.json
  logs/stage_c/20250930T205900Z-stage_c3_gate_review/stage_a-a3-summary.json
  logs/stage_c/20250930T205900Z-stage_c3_gate_review/stage_b-b1-artifact1.stderr.log
  logs/stage_c/20250930T205900Z-stage_c3_gate_review/stage_b-b1-artifact2.stdout.log
  logs/stage_c/20250930T205900Z-stage_c3_gate_review/stage_b-b1-summary.json
  logs/stage_c/20250930T205900Z-stage_c3_gate_review/stage_b-b2-summary.json
  logs/stage_c/20250930T205900Z-stage_c3_gate_review/stage_b-b3-summary.json
  logs/stage_c/20250930T205900Z-stage_c3_gate_review/summary.json
Due: verify-self-healing

I recorded the alpha gate shakeout on logs/stage_a to obtain Stage A3 evidence for Stage B, expecting behavior documented sandbox skips
  logs/stage_a/20250930T210653Z-stage_a3_gate_shakeout/alpha_gate.prom
  logs/stage_a/20250930T210653Z-stage_a3_gate_shakeout/alpha_gate_summary.json
  logs/stage_a/20250930T210653Z-stage_a3_gate_shakeout/boot_metrics.prom
  logs/stage_a/20250930T210653Z-stage_a3_gate_shakeout/build.log
  logs/stage_a/20250930T210653Z-stage_a3_gate_shakeout/health_checks.log
  logs/stage_a/20250930T210653Z-stage_a3_gate_shakeout/summary.json
  logs/stage_a/20250930T210653Z-stage_a3_gate_shakeout/tests.log
Due: verify-self-healing

Log Stage B3 connector rotation drill
  logs/stage_b/20251001T080910Z-stage_b3_connector_rotation/summary.json
  logs/stage_b_rotation_drills.jsonl
Due: verify-self-healing

Update Stage C1 readiness evidence
  docs/INDEX.md
  docs/absolute_protocol_checklist.md
  docs/testing/failure_inventory.md
  logs/stage_c/20251001T082811Z-stage_c1_exit_checklist/stage_c1_exit_checklist.stderr.log
  logs/stage_c/20251001T082811Z-stage_c1_exit_checklist/stage_c1_exit_checklist.stdout.log
  logs/stage_c/20251001T082811Z-stage_c1_exit_checklist/summary.json
  logs/stage_c/20251003T010101Z-readiness_packet/checklist_logs/README.md
  logs/stage_c/20251003T010101Z-readiness_packet/checklist_logs/stage_c1_exit_checklist_summary.json
  logs/stage_c/20251003T010101Z-readiness_packet/review_minutes.md
  logs/stage_c/20251003T010101Z-readiness_packet/rollback_validation/20250930T210000Z-razar_chaos_drill.json
  logs/stage_c/20251003T010101Z-readiness_packet/rollback_validation/README.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Refine Stage B evidence packaging and regenerate Stage C demo run
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/rehearsals/stage_b_20250921_summary.md
  docs/rehearsals/stage_c_demo_summary.md
  docs/roadmap.md
  evidence_manifests/stage-b-audio.json
  evidence_manifests/stage-c-demo-storyline.json
  logs/stage_b/20250921T230434Z/rehearsals/rehearsal_manifest.json
  logs/stage_b/20250921T230434Z/rehearsals/session_01/session_manifest.json
  logs/stage_b/20250921T230434Z/rehearsals/session_02/session_manifest.json
  logs/stage_c/20251001T085114Z-stage_c2_demo_storyline/demo_storyline/telemetry/events.jsonl
  logs/stage_c/20251001T085114Z-stage_c2_demo_storyline/demo_storyline/telemetry/media_manifest.json
  logs/stage_c/20251001T085114Z-stage_c2_demo_storyline/demo_storyline/telemetry/run_summary.json
  logs/stage_c/20251001T085114Z-stage_c2_demo_storyline/demo_storyline/telemetry/summary.json
  logs/stage_c/20251001T085114Z-stage_c2_demo_storyline/stage_c2_demo_storyline.stderr.log
  logs/stage_c/20251001T085114Z-stage_c2_demo_storyline/stage_c2_demo_storyline.stdout.log
  logs/stage_c/20251001T085114Z-stage_c2_demo_storyline/summary.json
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Document Stage C3 readiness sync status
  docs/PROJECT_STATUS.md
  logs/stage_c/20251001T091834Z-stage_c3_readiness_sync/readiness_bundle.json
  logs/stage_c/20251001T091834Z-stage_c3_readiness_sync/stage_a-a1-artifact1.stderr.log
  logs/stage_c/20251001T091834Z-stage_c3_readiness_sync/stage_a-a1-artifact2.stdout.log
  logs/stage_c/20251001T091834Z-stage_c3_readiness_sync/stage_a-a1-summary.json
  logs/stage_c/20251001T091834Z-stage_c3_readiness_sync/stage_a-a2-artifact1.stderr.log
  logs/stage_c/20251001T091834Z-stage_c3_readiness_sync/stage_a-a2-artifact2.stdout.log
  logs/stage_c/20251001T091834Z-stage_c3_readiness_sync/stage_a-a2-summary.json
  logs/stage_c/20251001T091834Z-stage_c3_readiness_sync/stage_a-a3-summary.json
  logs/stage_c/20251001T091834Z-stage_c3_readiness_sync/stage_b-b1-artifact1.stderr.log
  logs/stage_c/20251001T091834Z-stage_c3_readiness_sync/stage_b-b1-artifact2.stdout.log
  logs/stage_c/20251001T091834Z-stage_c3_readiness_sync/stage_b-b1-summary.json
  logs/stage_c/20251001T091834Z-stage_c3_readiness_sync/stage_b-b2-summary.json
  logs/stage_c/20251001T091834Z-stage_c3_readiness_sync/stage_b-b3-summary.json
  logs/stage_c/20251001T091834Z-stage_c3_readiness_sync/stage_c3_readiness_sync.stderr.log
  logs/stage_c/20251001T091834Z-stage_c3_readiness_sync/stage_c3_readiness_sync.stdout.log
  logs/stage_c/20251001T091834Z-stage_c3_readiness_sync/summary.json
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document Stage C4 MCP drill readiness
  docs/PROJECT_STATUS.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/connectors/operator_mcp_audit.md
  docs/roadmap.md
  logs/stage_b/.gitignore
  logs/stage_b/20251001T093529Z-stage_b3_connector_rotation/stage_b_smoke.json
  logs/stage_b_rotation_drills.jsonl
  logs/stage_c/20251001T093206Z-stage_c4_operator_mcp_drill/heartbeat.json
  logs/stage_c/20251001T093206Z-stage_c4_operator_mcp_drill/mcp_handshake.json
  logs/stage_c/20251001T093206Z-stage_c4_operator_mcp_drill/summary.json
Due: doc-indexer, check-connector-index, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document Stage A archiving and roadmap cadence
  docs/PROJECT_STATUS.md
  docs/roadmap.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document Codex sandbox constraints across doctrine
  docs/PROJECT_STATUS.md
  docs/The_Absolute_Protocol.md
  docs/doctrine_index.md
  docs/documentation_protocol.md
  docs/roadmap.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document Stage C recap and Stage D/E readiness objectives
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/roadmap.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Improve Stage A sandbox bootstrap and refresh evidence
  docs/PROJECT_STATUS.md
  docs/absolute_protocol_checklist.md
  logs/stage_a/20251105T170000Z-stage_a1_boot_telemetry/summary.json
  logs/stage_a/20251105T171000Z-stage_a2_crown_replays/summary.json
  logs/stage_a/20251105T172000Z-stage_a3_gate_shakeout/summary.json
  logs/stage_a/latest/stage_a1_boot_telemetry-summary.json
  logs/stage_a/latest/stage_a2_crown_replays-summary.json
  logs/stage_a/latest/stage_a3_gate_shakeout-summary.json
  scripts/_stage_runtime.py
  scripts/bootstrap.py
  scripts/crown_capture_replays.py
  scripts/export_alpha_gate_metrics.py
  scripts/export_coverage.py
  scripts/health_check_connectors.py
  scripts/razar_chaos_drill.py
  scripts/verify_self_healing.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Add Stage B runtime stub tracking and refresh readiness logs
  docs/NEOABZU_spine.md
  docs/PROJECT_STATUS.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/connectors/operator_mcp_audit.md
  docs/roadmap.md
  logs/stage_b/20251205T142355Z-stage_b1_memory_proof/summary.json
  logs/stage_b/20251205T160210Z-stage_b3_connector_rotation/stage_b_rotation_drills.jsonl
  logs/stage_b/20251205T160210Z-stage_b3_connector_rotation/summary.json
  logs/stage_b/latest/latency_metrics.json
  logs/stage_b/latest/load_test_summary.json
  logs/stage_b/latest/readiness_index.json
  logs/stage_b_rotation_drills.jsonl
  scripts/_stage_runtime.py
  scripts/memory_load_proof.py
  scripts/stage_b_smoke.py
Due: confirm-reading, doc-indexer, check-connector-index, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Add Stage C readiness aggregation and expose MCP credential window
  onboarding_confirm.yml
  operator_api.py
  scripts/aggregate_stage_readiness.py
  tests/test_operator_api.py
Due: confirm-reading

Document APSU migration matrix and add parity tests
  component_index.json
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/apsu_migration_matrix.md
  docs/schemas/component_index.json
  docs/system_blueprint.md
  tests/apsu_migration/__init__.py
  tests/apsu_migration/test_identity_loader_parity.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add Neo-APSU Stage D sandbox verification workflows
  operator_api.py
  scripts/_neoapsu_verifier.py
  scripts/_stage_runtime.py
  scripts/verify_neoapsu_crown.py
  scripts/verify_neoapsu_identity.py
  scripts/verify_neoapsu_memory.py
  web_console/game_dashboard/dashboard.js
Due: confirm-reading

docs: clarify sandbox policy for stage bridges
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/The_Absolute_Protocol.md
  docs/doctrine_index.md
  docs/documentation_protocol.md
  docs/pr_templates/stage_d.md
  docs/pr_templates/stage_e.md
  docs/roadmap.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add recorded transport parity fixtures and beta rehearsal template
  docs/PROJECT_STATUS.md
  docs/releases/beta_rehearsal_template.md
  docs/roadmap.md
  monitoring/operator_transport_pilot.md
  tests/fixtures/transport_parity/crown_handshake_stage_e.json
  tests/fixtures/transport_parity/operator_api_stage_e.json
  tests/fixtures/transport_parity/operator_upload_stage_e.json
  tests/transport_parity/__init__.py
  tests/transport_parity/test_recorded_contracts.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document Stage F hardware replay prerequisites
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/roadmap.md
  docs/stage_f_hardware_replay_plan.md
  onboarding_confirm.yml
  scripts/run_stage_f_replay.py
  scripts/verify_versions.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Path conditions:
  confirm-reading: any of: \.py$
  rust-fmt-clippy: any of: \.rs$
  doc-indexer: any of: ^docs/
  check-connector-index: any of: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  validate-component-index: any of: ^docs/component_index.md
  validate-component-json: any of: ^component_index.json$
  validate-world-registry: any of: ^(worlds/|agents/|memory/|scripts/validate_world_registry.py)
  validate-links: any of: \.(md|markdown|mdown)$, but not: ^docs/INDEX\.md$
  validate-docs: any of: ^(docs/chakra_versions.json|docs/chakra_koan_system.md)
  audit-doctrine: any of: ^docs/
  verify-doctrine-refs: any of: ^docs/INDEX\.md$
  verify-chakra-monitoring: any of: ^(docs/|monitoring/)
  verify-self-healing: any of: ^(docs/|logs/|quarantine/)
