Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, rust-fmt-clippy, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-world-registry, validate-links, validate-docs, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Path conditions:
  confirm-reading: any of: \.py$
  rust-fmt-clippy: any of: \.rs$
  doc-indexer: any of: ^docs/
  check-connector-index: any of: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  validate-component-index: any of: ^docs/component_index.md
  validate-component-json: any of: ^component_index.json$
  validate-world-registry: any of: ^(worlds/|agents/|memory/|scripts/validate_world_registry.py)
  validate-links: any of: \.(md|markdown|mdown)$, but not: ^docs/INDEX\.md$
  validate-docs: any of: ^(docs/chakra_versions.json|docs/chakra_koan_system.md)
  audit-doctrine: any of: ^docs/
  verify-doctrine-refs: any of: ^docs/INDEX\.md$
  verify-chakra-monitoring: any of: ^(docs/|monitoring/)
  verify-self-healing: any of: ^(docs/|logs/|quarantine/)

Capture Stage B context metadata in rotation ledger
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  logs/stage_c/20251205T193000Z-readiness_packet/demo_telemetry/summary.json
  logs/stage_c/20251205T193000Z-readiness_packet/exit_checklist/summary.json
  logs/stage_c/20251205T193000Z-readiness_packet/mcp_artifacts/handshake.json
  logs/stage_c/20251205T193000Z-readiness_packet/mcp_artifacts/heartbeat.json
  logs/stage_c/20251205T193000Z-readiness_packet/readiness_bundle.json
  logs/stage_c/20251205T193000Z-readiness_packet/review_schedule.md
  scripts/stage_b_smoke.py
  tests/scripts/test_stage_b_smoke.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Document sandbox readiness updates
  data/identity.json
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/The_Absolute_Protocol.md
  docs/doctrine_index.md
  docs/documentation_protocol.md
  docs/roadmap.md
  docs/testing/failure_inventory.md
  logs/stage_c/20251205T193000Z-readiness_packet/review_minutes.md
  logs/stage_c/20251205T193000Z-readiness_packet/review_schedule.md
  state/crown_identity_fingerprint.json
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Assemble Stage C readiness packet for hardware bridge
  docs/PROJECT_STATUS.md
  docs/roadmap.md
  logs/stage_c/20251212T160000Z-readiness_packet/README.md
  logs/stage_c/20251212T160000Z-readiness_packet/demo_assets/telemetry/events.jsonl
  logs/stage_c/20251212T160000Z-readiness_packet/demo_assets/telemetry/media_manifest.json
  logs/stage_c/20251212T160000Z-readiness_packet/demo_assets/telemetry/run_summary.json
  logs/stage_c/20251212T160000Z-readiness_packet/demo_assets/telemetry/summary.json
  logs/stage_c/20251212T160000Z-readiness_packet/exit_checklist/stage_c1_exit_checklist.stderr.log
  logs/stage_c/20251212T160000Z-readiness_packet/exit_checklist/stage_c1_exit_checklist.stdout.log
  logs/stage_c/20251212T160000Z-readiness_packet/exit_checklist/summary.json
  logs/stage_c/20251212T160000Z-readiness_packet/mcp_drill/heartbeat.json
  logs/stage_c/20251212T160000Z-readiness_packet/mcp_drill/mcp_handshake.json
  logs/stage_c/20251212T160000Z-readiness_packet/mcp_drill/summary.json
  logs/stage_c/20251212T160000Z-readiness_packet/readiness_bundle/README.md
  logs/stage_c/20251212T160000Z-readiness_packet/readiness_bundle/readiness_bundle.json
  logs/stage_c/20251212T160000Z-readiness_packet/review_minutes.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document Neo-APSU migration alignment and hardware prerequisites
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/apsu_migration_matrix.md
  docs/index.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Document APSU migration fixtures and readiness
  component_index.json
  docs/PROJECT_STATUS.md
  docs/apsu_migration_matrix.md
  docs/system_blueprint.md
Due: doc-indexer, validate-component-json, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document Codex sandbox constraints across doctrine
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/The_Absolute_Protocol.md
  docs/absolute_protocol_checklist.md
  docs/contributor_checklist.md
  docs/doctrine_index.md
  docs/documentation_protocol.md
  docs/roadmap.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add module contract docs for memory, crown, identity, transport
  docs/contracts/crown.md
  docs/contracts/identity.md
  docs/contracts/memory.md
  docs/contracts/transport.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

docs: add readiness ledger and tag sandbox artifacts
  .gitignore
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/readiness_ledger.md
  docs/roadmap.md
  logs/stage_b_rotation_drills.README.md
  logs/stage_c/20251205T193000Z-readiness_packet/README.md
  logs/stage_c/20251205T193000Z-readiness_packet/demo_telemetry/README.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Document Stage F-H readiness alignment
  docs/PROJECT_STATUS.md
  docs/roadmap.md
  docs/stage_f_plus_plan.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

docs: I did codex knowledge base cross-links on doctrine to obtain consistent sandbox guidance, expecting reviewers to surface context before edits
  docs/The_Absolute_Protocol.md
  docs/knowledge_base/change_log.md
  docs/knowledge_base/codex_lessons.md
  docs/readiness_ledger.md
  docs/roadmap.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Add simulation harness guidance for APSU migrations
  docs/INDEX.md
  docs/simulation_harness.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add Stage readiness walkthroughs and ledger links
  docs/readiness_ledger.md
  docs/walkthroughs/stage_a.md
  docs/walkthroughs/stage_b.md
  docs/walkthroughs/stage_c.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document Stage F hardware replay execution
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/roadmap.md
  docs/stage_f_hardware_replay_plan.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add contract fixture stubs
  docs/contributor_checklist.md
  onboarding_confirm.yml
  tests/contracts/__init__.py
  tests/contracts/test_crown_contract.py
  tests/contracts/test_identity_contract.py
  tests/contracts/test_memory_contract.py
  tests/contracts/test_transport_contract.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Add Neo-APSU terminology glossary and update doctrine links
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/apsu_migration_matrix.md
  docs/glossary/neo_apsu_terms.md
  docs/knowledge_base/codex_lessons.md
  docs/roadmap.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add Stage D/E bridge review agenda and evidence workflow
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/beta_bridge/agenda.md
  docs/beta_bridge/evidence_request_template.md
  docs/roadmap.md
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

docs: expand simulation harness runbooks
  docs/simulation_harness.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document Stage D execution ladder
  docs/PROJECT_STATUS.md
  docs/roadmap.md
  docs/stage_d_execution_ladder.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document quarterly knowledge review workflow
  docs/knowledge_base/codex_lessons.md
  docs/knowledge_base/review_checklist.md
  docs/roadmap.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Organize contract placeholder suites and document testing guidance
  docs/testing_strategy.md
  tests/contracts/test_crown_contract.py
  tests/contracts/test_identity_contract.py
  tests/contracts/test_memory_contract.py
  tests/contracts/test_transport_contract.py
  tests/contracts/utils.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document quarterly Codex review workflow
  docs/PROJECT_STATUS.md
  docs/knowledge_base/codex_lessons.md
  docs/knowledge_base/review_checklist.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document quarterly review cadence and restore summaries
  docs/knowledge_base/codex_lessons.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

docs: regenerate index
  docs/INDEX.md
Due: doc-indexer, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Add Stage F hardware kickoff packet
  docs/stage_f/hardware_kickoff_packet.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing
