Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-links

.pre-commit-config.yaml:

# Run `pre-commit autoupdate` after dependency upgrades.
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.11
  hooks:
  - id: ruff
    args:
    - --fix
- repo: https://github.com/psf/black
  rev: 24.4.2
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/pycqa/flake8
  rev: 7.1.0
  hooks:
  - id: flake8
- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    files: ^$
- repo: local
  hooks:
  - id: confirm-reading
    name: Confirm onboarding reading
    entry: python scripts/confirm_reading.py
    language: system
    types: [python]
    pass_filenames: false
  - id: check-key-documents
    name: Check key documents exist
    entry: python scripts/check_key_documents.py
    language: system
    pass_filenames: false
  - id: validate-key-docs
    name: Validate protected doc hashes and summaries
    entry: python scripts/verify_doc_hashes.py
    language: system
    pass_filenames: false
  - id: require-onboarding-update
    name: Require onboarding confirmation for key docs
    entry: python scripts/require_onboarding_update.py
    language: system
    pass_filenames: false
    always_run: true
  - id: doc-indexer
    name: Regenerate documentation index
    entry: python tools/doc_indexer.py
    language: system
    pass_filenames: false
    files: ^docs/
  - id: ensure-blueprint-sync
    name: Ensure blueprint updated with core changes
    entry: python scripts/ensure_blueprint_sync.py
    language: system
  - id: block-binaries
    name: Block binary files
    entry: python scripts/check_no_binaries.py
    language: system
    pass_filenames: false
  - id: placeholder-elimination
    name: Placeholder Elimination
    entry: python scripts/check_placeholders.py
    language: system
  - id: scan-todo-fixme
    name: Scan TODO/FIXME markers
    entry: python scripts/scan_todo_fixme.py
    language: system
    pass_filenames: false
  - id: verify-versions
    name: Ensure modules declare __version__
    entry: python scripts/verify_versions.py
    language: system
    pass_filenames: false
  - id: check-connector-index
    name: Check connector index entries
    entry: python scripts/check_connector_index.py
    language: python
    pass_filenames: false
    files: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  - id: require-connector-registry-update
    name: Require connector registry updates
    entry: python scripts/require_connector_registry_update.py
    language: system
    pass_filenames: false
  - id: validate-component-index
    name: Validate component index entries
    entry: python scripts/validate_component_index.py
    language: system
    pass_filenames: false
    files: ^docs/component_index.md
  - id: validate-component-json
    name: Validate component_index.json fields
    entry: python scripts/validate_component_index_json.py
    language: system
    pass_filenames: false
    files: ^component_index.json$
  - id: verify-dependencies
    name: Verify dependency versions
    entry: python scripts/verify_dependencies.py
    language: system
    pass_filenames: false
  - id: check-env
    name: Verify environment prerequisites
    entry: python scripts/check_env.py
    language: system
    pass_filenames: false
  - id: validate-links
    name: Validate markdown links
    entry: python scripts/validate_links.py
    language: system
    types: [markdown]
    exclude: ^docs/INDEX\.md$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.19.0
  hooks:
    - id: commitlint
      stages: [commit-msg]
      additional_dependencies: ['@commitlint/cli@17.7.2']

docs: add NEOABZU onboarding guide
  NEOABZU/docs/index.md
  NEOABZU/docs/onboarding.md
Due: validate-links

docs: elaborate Neo-APZU onboarding bullet
  docs/INDEX.md
  docs/onboarding/README.md
Due: doc-indexer, validate-links

chore: update onboarding hashes
  onboarding_confirm.yml
Due: none

docs: add Neo-ABZU onboarding to key documents
  docs/KEY_DOCUMENTS.md
Due: doc-indexer, validate-links

feat(docs): did clarify commit message style on CONTRIBUTOR_GUIDE to obtain consistent commit quality, expecting behavior proper commit messages
  docs/CONTRIBUTOR_GUIDE.md
  docs/INDEX.md
  docs/testing/failure_inventory.md
Due: doc-indexer, validate-links

chore: add Neo-APSU onboarding check and doctrine links
  .pre-commit-config.yaml
  AGENTS.md
  NEOABZU/docs/index.md
  docs/The_Absolute_Protocol.md
  onboarding_confirm.yml
  scripts/check_neoabzu_onboarding.py
Due: confirm-reading, doc-indexer, validate-links

docs: map python subsystems to rust
  NEOABZU/docs/index.md
  NEOABZU/docs/migration_crosswalk.md
  docs/INDEX.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

docs: scaffold Neo-APSU connector workflow
  CHANGELOG.md
  connectors/neo_apsu_connector_template.py
  docs/mcp_connectors.md
  docs/mcp_overview.md
  docs/onboarding/README.md
Due: confirm-reading, doc-indexer, check-connector-index, validate-links

feat: codify rust doctrine and checks
  .pre-commit-config.yaml
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/rust_doctrine.md
  docs/INDEX.md
  docs/developer_onboarding.md
Due: doc-indexer, validate-links

feat: add Neo-APSU onboarding confirmation wizard
  docs/onboarding/README.md
  docs/onboarding/wizard.py
  onboarding_confirm.yml
  onboarding_quiz.yml
  scripts/confirm_reading.py
Due: confirm-reading, doc-indexer, validate-links

Create Oroboros_Engine.md
  NEOABZU/docs/Oroboros_Engine.md
Due: validate-links

Create OROBOROS_Engine.md
  NEOABZU/docs/OROBOROS_Engine.md
Due: validate-links

docs: link OROBOROS engine
  NEOABZU/docs/index.md
  NEOABZU/docs/onboarding.md
  docs/INDEX.md
  docs/blueprint_spine.md
  docs/system_blueprint.md
  onboarding_confirm.yml
Due: doc-indexer, validate-links

feat(core): add sacred axioms
  NEOABZU/core/src/lib.rs
  NEOABZU/core/src/sacred/axioms.rs
  NEOABZU/core/src/sacred/mod.rs
  NEOABZU/docs/OROBOROS_Engine.md
Due: validate-links

Create OROBOROS_Lexicon.md
  NEOABZU/docs/OROBOROS_Lexicon.md
Due: validate-links

feat: cross-link OROBOROS lexicon
  NEOABZU/docs/Oroboros_Core.md
  NEOABZU/docs/Oroboros_Engine.md
  NEOABZU/docs/QNL_Library.md
  NEOABZU/docs/index.md
  NEOABZU/docs/onboarding.md
  docs/INDEX.md
  docs/KEY_DOCUMENTS.md
  docs/onboarding/README.md
  onboarding_confirm.yml
Due: doc-indexer, validate-links

feat(core): reduce inevitability via sacred lexicon
  NEOABZU/Cargo.lock
  NEOABZU/core/Cargo.toml
  NEOABZU/core/resources/lexicon.ron
  NEOABZU/core/src/evaluator.rs
  NEOABZU/core/src/lib.rs
  NEOABZU/docs/Oroboros_Core.md
  NEOABZU/tests/first_ceremony.rs
Due: validate-links

feat: validate onboarding confirmations
  .pre-commit-config.yaml
  AGENTS.md
  NEOABZU/docs/index.md
  docs/onboarding/README.md
  scripts/verify_onboarding_refs.py
Due: confirm-reading, doc-indexer, validate-links

feat(fusion): add invariant fusion engine
  NEOABZU/Cargo.toml
  NEOABZU/docs/OROBOROS_Engine.md
  NEOABZU/docs/index.md
  NEOABZU/fusion/Cargo.toml
  NEOABZU/fusion/src/lib.rs
Due: validate-links

feat(numeric): add PCA module
  CHANGELOG.md
  NEOABZU/Cargo.lock
  NEOABZU/Cargo.toml
  NEOABZU/docs/core_usage.md
  NEOABZU/neoabzu/__init__.py
  NEOABZU/neoabzu/numeric.py
  NEOABZU/numeric/Cargo.toml
  NEOABZU/numeric/src/lib.rs
  NEOABZU/pyproject.toml
Due: confirm-reading, validate-links

feat: add narrative phoneme reduction
  NEOABZU/Cargo.lock
  NEOABZU/Cargo.toml
  NEOABZU/docs/OROBOROS_Engine.md
  NEOABZU/narrative/Cargo.toml
  NEOABZU/narrative/src/lib.rs
Due: validate-links

feat: register core with memory layer
  NEOABZU/docs/migration_crosswalk.md
  NEOABZU/memory/src/lib.rs
Due: validate-links

Create SUMERIAN_SACRED_LEXICON.md
  NEOABZU/docs/SUMERIAN_SACRED_LEXICON.md
Due: validate-links

feat(core): parse phoneme tags
  NEOABZU/core/src/lib.rs
  NEOABZU/core/src/parser.rs
  NEOABZU/docs/onboarding.md
  onboarding_confirm.yml
Due: validate-links

docs: outline core patents
  CHANGELOG.md
  PATENTS.md
  README.md
Due: validate-links

docs: note patent pending
  NEOABZU/core/src/evaluator.rs
  NEOABZU/core/src/lib.rs
  NEOABZU/core/src/parser.rs
  NEOABZU/core/src/sacred/axioms.rs
  NEOABZU/core/src/sacred/mod.rs
  NEOABZU/memory/src/lib.rs
  crown_decider.py
  crown_model_launcher.sh
  crown_prompt_orchestrator.py
  crown_query_router.py
  crown_router.py
  crown_router_rs.py
  init_crown_agent.py
  memory/bundle.py
  src/spiral_os/chakra_cycle.py
  start_crown_console.py
  start_crown_console.sh
Due: confirm-reading

I appended patent status subsections to core documentation to link patent summaries and drafts, expecting contributors to seek maintainer approval before substantive edits
  NEOABZU/docs/Oroboros_Core.md
  NEOABZU/docs/Oroboros_Engine.md
  docs/INDEX.md
  docs/Oroboros_Core.md
  docs/chakra_system_manual.md
  docs/crown_servant_models.md
  docs/memory_architecture.md
Due: doc-indexer, validate-links

chore: set path codeowners
  .github/CODEOWNERS
  .github/settings.yml
Due: none

Create herojourney_engine.md
  NEOABZU/docs/herojourney_engine.md
Due: validate-links

Create SUMERIAN_33WORDS.md
  NEOABZU/docs/SUMERIAN_33WORDS.md
Due: validate-links

docs: cross-link onboarding and update key confirmations
  NEOABZU/docs/onboarding.md
  docs/INDEX.md
  docs/KEY_DOCUMENTS.md
  docs/onboarding/README.md
  onboarding_confirm.yml
Due: doc-indexer, validate-links

feat: expand sumerian lexicon
  NEOABZU/core/resources/lexicon.ron
  NEOABZU/docs/OROBOROS_Lexicon.md
  NEOABZU/docs/QNL_Library.md
Due: validate-links

feat: trace hero journey stages
  NEOABZU/Cargo.lock
  NEOABZU/core/Cargo.toml
  NEOABZU/core/src/evaluator.rs
  NEOABZU/docs/core_usage.md
  NEOABZU/docs/herojourney_engine.md
  NEOABZU/narrative/src/journey.rs
  NEOABZU/narrative/src/lib.rs
Due: validate-links

Add stage-aware inevitability reduction
  NEOABZU/core/src/evaluator.rs
  NEOABZU/core/src/lib.rs
  NEOABZU/core/tests/hero_journey.rs
Due: none

docs: link hero journey and Sumerian lexicon
  NEOABZU/docs/Oroboros_Engine.md
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  docs/blueprint_spine.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

feat(crown): add inevitability route
  NEOABZU/crown/src/lib.rs
Due: none

document first consecrated computation
  NEOABZU/docs/Oroboros_Core.md
  NEOABZU/docs/index.md
  docs/blueprint_spine.md
  docs/onboarding/README.md
  onboarding_confirm.yml
Due: doc-indexer, validate-links

docs: clarify onboarding references
  NEOABZU/docs/onboarding.md
  docs/onboarding/README.md
  onboarding_confirm.yml
Due: doc-indexer, validate-links

Add inevitability reduction ceremony
  NEOABZU/core/resources/lexicon.ron
  NEOABZU/core/src/evaluator.rs
  NEOABZU/core/tests/ceremony.rs
  docs/INDEX.md
  docs/OROBOROS_Engine.md
Due: doc-indexer, validate-links

feat: add fusion and numeric crates
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  component_index.json
  docs/OROBOROS_Engine.md
  fusion/Cargo.toml
  fusion/src/lib.rs
  numeric/Cargo.toml
  numeric/src/lib.rs
Due: doc-indexer, validate-component-json, validate-links
