Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-links

.pre-commit-config.yaml:

# Run `pre-commit autoupdate` after dependency upgrades.
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.11
  hooks:
  - id: ruff
    args:
    - --fix
- repo: https://github.com/psf/black
  rev: 24.4.2
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/pycqa/flake8
  rev: 7.1.0
  hooks:
  - id: flake8
- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    files: ^$
- repo: local
  hooks:
  - id: confirm-reading
    name: Confirm onboarding reading
    entry: python scripts/confirm_reading.py
    language: system
    types: [python]
    pass_filenames: false
  - id: check-key-documents
    name: Check key documents exist
    entry: python scripts/check_key_documents.py
    language: system
    pass_filenames: false
  - id: validate-key-docs
    name: Validate protected doc hashes and summaries
    entry: python scripts/verify_doc_hashes.py
    language: system
    pass_filenames: false
  - id: require-onboarding-update
    name: Require onboarding confirmation for key docs
    entry: python scripts/require_onboarding_update.py
    language: system
    pass_filenames: false
    always_run: true
  - id: doc-indexer
    name: Regenerate documentation index
    entry: python tools/doc_indexer.py
    language: system
    pass_filenames: false
    files: ^docs/
  - id: ensure-blueprint-sync
    name: Ensure blueprint updated with core changes
    entry: python scripts/ensure_blueprint_sync.py
    language: system
  - id: block-binaries
    name: Block binary files
    entry: python scripts/check_no_binaries.py
    language: system
    pass_filenames: false
  - id: placeholder-elimination
    name: Placeholder Elimination
    entry: python scripts/check_placeholders.py
    language: system
  - id: scan-todo-fixme
    name: Scan TODO/FIXME markers
    entry: python scripts/scan_todo_fixme.py
    language: system
    pass_filenames: false
  - id: verify-versions
    name: Ensure modules declare __version__
    entry: python scripts/verify_versions.py
    language: system
    pass_filenames: false
  - id: check-connector-index
    name: Check connector index entries
    entry: python scripts/check_connector_index.py
    language: python
    pass_filenames: false
    files: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  - id: require-connector-registry-update
    name: Require connector registry updates
    entry: python scripts/require_connector_registry_update.py
    language: system
    pass_filenames: false
  - id: validate-component-index
    name: Validate component index entries
    entry: python scripts/validate_component_index.py
    language: system
    pass_filenames: false
    files: ^docs/component_index.md
  - id: validate-component-json
    name: Validate component_index.json fields
    entry: python scripts/validate_component_index_json.py
    language: system
    pass_filenames: false
    files: ^component_index.json$
  - id: verify-dependencies
    name: Verify dependency versions
    entry: python scripts/verify_dependencies.py
    language: system
    pass_filenames: false
  - id: check-env
    name: Verify environment prerequisites
    entry: python scripts/check_env.py
    language: system
    pass_filenames: false
  - id: validate-links
    name: Validate markdown links
    entry: python scripts/validate_links.py
    language: system
    types: [markdown]
    exclude: ^docs/INDEX\.md$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.19.0
  hooks:
    - id: commitlint
      stages: [commit-msg]
      additional_dependencies: ['@commitlint/cli@17.7.2']

feat: automate component index generation
  component_index.json
  docs/INDEX.md
  docs/schemas/component_index.json
  scripts/build_component_index.py
Due: confirm-reading, doc-indexer, validate-component-json

docs: normalize checklist bullets
  communication/telegram_bot.py
  connectors/primordials_api.py
  connectors/webrtc_connector.py
  docs/The_Absolute_Protocol.md
  docs/connectors/CONNECTOR_INDEX.md
  narrative_api.py
  operator_api.py
  razar/crown_link.py
  server.py
Due: confirm-reading, doc-indexer, check-connector-index, validate-links

docs: add repository structure overview
  README.md
  docs/REPOSITORY_STRUCTURE.md
Due: doc-indexer, validate-links

docs: clarify repository blueprint wording
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
Due: doc-indexer, validate-links

docs: consolidate subsystem guides
  docs/ALBEDO_LAYER.md
  docs/Albedo_GUIDE.md
  docs/CROWN_OVERVIEW.md
  docs/Crown_GUIDE.md
  docs/INANNA_CORE.md
  docs/INANNA_GUIDE.md
  docs/INDEX.md
  docs/Nazarick_GUIDE.md
  docs/RAZAR_AGENT.md
  docs/RAZAR_GUIDE.md
  docs/memory_layer.md
  docs/memory_layers_GUIDE.md
  docs/narrative_engine_GUIDE.md
  docs/nazarick_agents.md
  docs/nazarick_narrative_system.md
  docs/operator_interface_GUIDE.md
  docs/operator_protocol.md
Due: doc-indexer, validate-links

protocol: clarify component and layout protocols
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
Due: doc-indexer, validate-links

ci: enforce placeholder and index checks
  .github/workflows/ci.yml
  docs/CI_OVERVIEW.md
  docs/INDEX.md
Due: doc-indexer, validate-links

feat: enforce module and connector version checks in CI
  .github/workflows/ci.yml
  docs/The_Absolute_Protocol.md
  onboarding_confirm.yml
  scripts/component_inventory.py
Due: confirm-reading, doc-indexer, validate-links

docs: reference protocol dashboard in changelog
  CHANGELOG.md
  CHANGELOG_razar.md
  docs/INDEX.md
  docs/RAZAR_AGENT.md
  docs/protocol_compliance.md
Due: doc-indexer, validate-links

Add connector index cross-links
  CHANGELOG.md
  CHANGELOG_razar.md
  component_index.json
  connectors/webrtc_connector.py
  docs/CROWN_OVERVIEW.md
  docs/INDEX.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/operator_protocol.md
  operator_api.py
  razar/crown_handshake.py
Due: confirm-reading, doc-indexer, check-connector-index, validate-component-json, validate-links

docs: add version tables
  component_index.json
  data/biosignals/README.md
  data/biosignals/__init__.py
  data/biosignals/sample_biosignals_theta.csv
  docs/data_manifest.md
  docs/memory_architecture.md
  docs/nazarick_narrative_system.md
  scripts/ingest_biosignal_events.py
  scripts/ingest_biosignals.py
  scripts/ingest_biosignals_jsonl.py
  tests/narrative_engine/test_dataset_hashes.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-links

ci: enforce per-component coverage
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/The_Absolute_Protocol.md
  docs/the_absolute_pytest.md
  onboarding_confirm.yml
  scripts/export_coverage.py
  scripts/scan_todo_fixme.py
Due: confirm-reading, doc-indexer, validate-links

fix: add coverage metrics and patch subsystem docs
  component_index.json
  docs/INDEX.md
  docs/insight_system.md
  docs/rag_pipeline.md
Due: doc-indexer, validate-component-json, validate-links

test: stabilize full stack ignition test
  logs/test_report.txt
  onboarding_confirm.yml
  tests/ignition/test_full_stack.py
Due: confirm-reading

docs: record test fixes and ignition protocol
  agents/guardian.py
  component_index.json
  docs/INDEX.md
  docs/TESTING_REPORT.md
  docs/The_Absolute_Protocol.md
  onboarding_confirm.yml
Due: confirm-reading, doc-indexer, validate-component-json, validate-links

chore: clean floor_client dependencies
  .gitignore
  floor_client/README.md
  floor_client/package-lock.json
Due: validate-links

docs: add project overview and scenarios
  README.md
Due: validate-links

Clarify changelog for component ID update
  CHANGELOG.md
  component_index.json
  docs/component_index.md
  docs/component_status.json
  docs/component_status.md
Due: doc-indexer, validate-component-index, validate-component-json, validate-links

ci: add dependency audit workflow
  .github/workflows/dependency-audit.yml
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
Due: doc-indexer, validate-links

Create ABZU_project_declaration.md
  docs/ABZU_project_declaration.md
Due: doc-indexer, validate-links

docs: add ABZU Project Declaration
  CHANGELOG.md
  docs/INDEX.md
  docs/project_mission_vision.md
Due: doc-indexer, validate-links

fix: assign unique component ids
  agents/bana/__init__.py
  agents/razar/__init__.py
  agents/razar/health_checks.py
  component_index.json
Due: confirm-reading, validate-component-json

docs: integrate project declaration
  docs/INDEX.md
  docs/project_mission_vision.md
Due: doc-indexer, validate-links

docs: add social investor one pager
  CHANGELOG.md
  docs/INDEX.md
  docs/SOCIAL_INVESTOR_ONE_PAGER.md
Due: doc-indexer, validate-links

Update SOCIAL_INVESTOR_ONE_PAGER.md
  docs/SOCIAL_INVESTOR_ONE_PAGER.md
Due: doc-indexer, validate-links

docs: update mission and index links
  README.md
Due: validate-links

chore: clean floor_client dependencies
  .gitignore
  docs/frontend_dependencies.md
  docs/ui/README.md
Due: doc-indexer, validate-links

docs: clarify diagnostics work status
  docs/diagnostics.md
Due: doc-indexer, validate-links

Create _character_template
  agents/nazarick/zohar-zero_character_template
Due: none

Rename character_template to zohar-zero_character.md
  agents/nazarick/zohar-zero_character.md
Due: validate-links

Create albedo_character.md
  agents/nazarick/albedo_character.md
Due: validate-links

docs: remove unused narrative_ws connector entry
  docs/connectors/CONNECTOR_INDEX.md
Due: doc-indexer, check-connector-index, validate-links

Create demiurge_character.md
  agents/nazarick/demiurge_character.md
Due: validate-links

Create shalltear_character.md
  agents/nazarick/shalltear_character.md
Due: validate-links

Create cocytus_character.md
  agents/nazarick/cocytus_character.md
Due: validate-links

Create sebastiara_character.md
  agents/nazarick/sebastiara_character.md
Due: validate-links

Create pandora_character.md
  agents/nazarick/pandora_character.md
Due: validate-links

Create victim_character.md
  agents/nazarick/victim_character.md
Due: validate-links

Create aura&mare_character.md
  agents/nazarick/aura&mare_character.md
Due: validate-links

Create pleiades_character.md
  agents/nazarick/pleiades_character.md
Due: validate-links
