Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-links

confirm-reading:
  name: Confirm onboarding reading
  entry: python scripts/confirm_reading.py
  language: system
  pass_filenames: false

doc-indexer:
  name: Regenerate documentation index
  entry: python tools/doc_indexer.py
  language: system
  pass_filenames: false

check-connector-index:
  name: Check connector index entries
  entry: python scripts/check_connector_index.py
  language: python
  pass_filenames: false

validate-component-index:
  name: Validate component index entries
  entry: python scripts/validate_component_index.py
  language: system
  pass_filenames: false

validate-component-json:
  name: Validate component_index.json fields
  entry: python scripts/validate_component_index_json.py
  language: system
  pass_filenames: false

validate-links:
  name: Validate markdown links
  entry: python scripts/validate_links.py
  language: system

feat: add memory query endpoint
  operator_service/api.py
  tests/web_operator/test_api.py
Due: confirm-reading

feat: add memory scan interface
  web_operator/arcade.css
  web_operator/main.js
  web_operator/templates/arcade.html
Due: none

docs: add arcade ui memory scan quickstart
  docs/INDEX.md
  docs/arcade_ui.md
  docs/index.md
  docs/onboarding/README.md
  docs/project_overview.md
Due: doc-indexer, validate-links

docs: clarify arcade memory flows follow-up
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

docs: add arcade UI quick start
  README.md
Due: validate-links

feat(docs): add memory bundle diagram
  docs/INDEX.md
  docs/arcade_ui.md
  docs/figures/memory_bundle.mmd
  docs/memory_layers_GUIDE.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

test: verify openwebui channel routing
  server.py
  tests/crown/server/test_openwebui_bridge.py
  web_console/main.js
Due: confirm-reading

docs: outline Crown vs. Nazarick console modes
  docs/index.md
  docs/nazarick_web_console.md
  docs/project_overview.md
Due: doc-indexer, validate-links

test: cover openwebui channel routing
  tests/crown/server/test_server.py
  tests/test_openwebui_state_updates.py
Due: confirm-reading

feat(operator): enable runtime servant swaps
  CHANGELOG.md
  component_index.json
  docs/operator_console.md
  docs/system_blueprint.md
  mypy.ini
  onboarding_confirm.yml
  operator_api.py
  servant_model_manager.py
  tests/test_operator_api.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-links

feat: add ethics ingestion endpoint
  docs/ETHICS_VALIDATION.md
  docs/INDEX.md
  docs/project_overview.md
  docs/system_blueprint.md
  onboarding_confirm.yml
  operator_api.py
  scripts/ingest_ethics.py
Due: confirm-reading, doc-indexer, validate-links

Add manifesto validator integration tests
  INANNA_AI/ethical_validator.py
  crown_router.py
  tests/agents/nazarick/test_ethics_manifesto_integration.py
Due: confirm-reading

feat: add model and ethics controls to console
  docs/operator_console.md
  docs/system_blueprint.md
  web_console/arcade.html
  web_console/main.js
Due: doc-indexer, validate-links

Add document registry and integrate with crown router
  agents/nazarick/document_registry.py
  crown_router.py
  rag/orchestrator.py
  tests/agents/nazarick/test_document_registry.py
  tests/conftest.py
Due: confirm-reading

feat: add chakra heartbeat monitoring
  CHANGELOG.md
  component_index.json
  crown_router.py
  docs/INDEX.md
  docs/chakra_metrics.md
  monitoring/chakra_heartbeat.py
  src/spiral_os/chakra_cycle.py
  tests/conftest.py
  tests/monitoring/test_chakra_heartbeat.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-links

docs: add chakra heartbeat and remediation
  docs/INDEX.md
  docs/blueprint_spine.md
  docs/chakra_architecture.md
  docs/figures/heartbeat_self_healing.mmd
  docs/system_blueprint.md
Due: doc-indexer, validate-links

Add chakra watchdog and resuscitator
  CHANGELOG.md
  agents/nazarick/chakra_resuscitator.py
  citadel/event_producer.py
  monitoring/__init__.py
  monitoring/chakra_watchdog.py
  tests/monitoring/test_chakra_watchdog.py
Due: confirm-reading, validate-links

Map chakras to agents in watchdog
  monitoring/chakra_watchdog.py
Due: confirm-reading

Add Nazarick chakra observer
  agents/nazarick/chakra_observer.py
  agents/nazarick/service_launcher.py
  tests/nazarick/test_chakra_observer.py
Due: confirm-reading

test: ensure chakra watchdog targets agents
  tests/monitoring/test_chakra_watchdog.py
Due: confirm-reading

docs: detail heartbeat polling and agent recovery
  CHANGELOG.md
  docs/operations.md
  docs/recovery_playbook.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

Add target_agent to chakra watchdog events
  agents/event_bus.py
  citadel/event_producer.py
  monitoring/chakra_watchdog.py
Due: confirm-reading

Handle targeted chakra events
  agents/nazarick/chakra_resuscitator.py
Due: confirm-reading

chore: bump version and document chakra watchdog resuscitator
  CHANGELOG.md
  setup.cfg
Due: validate-links

feat: add chakra metrics
  agents/nazarick/chakra_resuscitator.py
  monitoring/chakra_watchdog.py
Due: confirm-reading

feat: add dead-letter handling
  agents/nazarick/chakra_resuscitator.py
  citadel/event_producer.py
Due: confirm-reading

feat: registry for doctrine documents
  agents/nazarick/document_registry.py
  crown_router.py
  tests/agents/nazarick/test_document_registry.py
Due: confirm-reading

test: add task orchestrator
  agents/nazarick/agent_registry.json
  agents/nazarick/service_launcher.py
  agents/task_orchestrator.py
  tests/agents/nazarick/test_task_orchestrator.py
Due: confirm-reading

feat: ensure component metadata fields
  component_index.json
  docs/schemas/component_index.json
  tools/component_fields_updater.py
Due: confirm-reading, doc-indexer, validate-component-json

Add chakra heartbeat monitoring and gating
  crown_router.py
  monitoring/chakra_heartbeat.py
  tests/monitoring/test_chakra_heartbeat.py
Due: confirm-reading

feat: add experience replay for agents
  agents/experience_replay.py
  agents/nazarick/narrative_scribe.py
  tests/agents/nazarick/test_experience_replay.py
  tests/agents/test_narrative_scribe.py
  tests/conftest.py
  tests/narrative/test_self_heal_logging.py
Due: confirm-reading

feat: add chakra pulse emitter and monitoring confirmations
  agents/chakra_healing/base.py
  agents/chakra_healing/crown_agent.py
  agents/chakra_healing/heart_agent.py
  agents/chakra_healing/root_agent.py
  agents/chakra_healing/sacral_agent.py
  agents/chakra_healing/solar_agent.py
  agents/chakra_healing/third_eye_agent.py
  agents/chakra_healing/throat_agent.py
  docs/INDEX.md
  docs/chakra_metrics.md
  monitoring/chakra_heartbeat.py
  src/spiral_os/pulse_emitter.py
Due: confirm-reading, doc-indexer, validate-links

Add state validator module and tests
  agents/razar/boot_orchestrator.py
  agents/razar/runtime_manager.py
  agents/razar/state_validator.py
  tests/agents/razar/test_state_validator.py
  tests/conftest.py
Due: confirm-reading

feat: add chakra heartbeat sync monitoring
  agents/razar/boot_orchestrator.py
  monitoring/chakra_heartbeat.py
  tests/monitoring/test_chakra_heartbeat.py
Due: confirm-reading

test: cover component recovery integration
  agents/nazarick/chakra_resuscitator.py
  agents/razar/recovery_manager.py
  tests/agents/razar/test_recovery_integration.py
Due: confirm-reading

style: document lifecycle enum
  CHANGELOG_razar.md
  agents/razar/mission_logger.py
  docs/RAZAR_GUIDE.md
  docs/monitoring.md
  docs/system_blueprint.md
  tests/agents/razar/test_mission_logging.py
Due: confirm-reading, doc-indexer, validate-links

docs: detail Kimi-powered repairs\n\nI added Kimi repair sections to RAZAR_AGENT.md and recovery_playbook.md to guide configuring Opencode with Kimi, expecting smoother automated component recovery
  docs/RAZAR_AGENT.md
  docs/recovery_playbook.md
Due: doc-indexer, validate-links

Fallback to opencode client when CLI missing
  razar/ai_invoker.py
  tests/razar/test_remote_repair.py
Due: confirm-reading

feat: unify webrtc gateway
  communication/webrtc_gateway.py
  communication/webrtc_server.py
  connectors/webrtc_connector.py
  server.py
  tests/web_console/test_webrtc_gateway.py
  video_stream.py
Due: confirm-reading, check-connector-index

feat: add LWM camera paths for avatar
  docs/INDEX.md
  docs/avatar_pipeline.md
  src/core/video_engine.py
  src/media/avatar/generation.py
  tests/test_media_avatar.py
  tests/test_video.py
Due: confirm-reading, doc-indexer, validate-links

Path conditions:
  confirm-reading: any of: \.py$
  doc-indexer: any of: ^docs/
  check-connector-index: any of: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  validate-component-index: any of: ^docs/component_index.md
  validate-component-json: any of: ^component_index.json$
  validate-links: any of: \.(md|markdown|mdown)$, but not: ^docs/INDEX\.md$
