Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-links

.pre-commit-config.yaml:

# Run `pre-commit autoupdate` after dependency upgrades.
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.11
  hooks:
  - id: ruff
    args:
    - --fix
- repo: https://github.com/psf/black
  rev: 24.4.2
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/pycqa/flake8
  rev: 7.1.0
  hooks:
  - id: flake8
- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    files: ^$
- repo: local
  hooks:
  - id: confirm-reading
    name: Confirm onboarding reading
    entry: python scripts/confirm_reading.py
    language: system
    types: [python]
    pass_filenames: false
  - id: check-key-documents
    name: Check key documents exist
    entry: python scripts/check_key_documents.py
    language: system
    pass_filenames: false
  - id: validate-key-docs
    name: Validate protected doc hashes and summaries
    entry: python scripts/verify_doc_hashes.py
    language: system
    pass_filenames: false
  - id: require-onboarding-update
    name: Require onboarding confirmation for key docs
    entry: python scripts/require_onboarding_update.py
    language: system
    pass_filenames: false
    always_run: true
  - id: doc-indexer
    name: Regenerate documentation index
    entry: python tools/doc_indexer.py
    language: system
    pass_filenames: false
    files: ^docs/
  - id: ensure-blueprint-sync
    name: Ensure blueprint updated with core changes
    entry: python scripts/ensure_blueprint_sync.py
    language: system
  - id: block-binaries
    name: Block binary files
    entry: python scripts/check_no_binaries.py
    language: system
    pass_filenames: false
  - id: placeholder-elimination
    name: Placeholder Elimination
    entry: python scripts/check_placeholders.py
    language: system
  - id: scan-todo-fixme
    name: Scan TODO/FIXME markers
    entry: python scripts/scan_todo_fixme.py
    language: system
    pass_filenames: false
  - id: verify-versions
    name: Ensure modules declare __version__
    entry: python scripts/verify_versions.py
    language: system
    pass_filenames: false
  - id: check-connector-index
    name: Check connector index entries
    entry: python scripts/check_connector_index.py
    language: python
    pass_filenames: false
    files: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  - id: require-connector-registry-update
    name: Require connector registry updates
    entry: python scripts/require_connector_registry_update.py
    language: system
    pass_filenames: false
  - id: validate-component-index
    name: Validate component index entries
    entry: python scripts/validate_component_index.py
    language: system
    pass_filenames: false
    files: ^docs/component_index.md
  - id: validate-component-json
    name: Validate component_index.json fields
    entry: python scripts/validate_component_index_json.py
    language: system
    pass_filenames: false
    files: ^component_index.json$
  - id: verify-dependencies
    name: Verify dependency versions
    entry: python scripts/verify_dependencies.py
    language: system
    pass_filenames: false
  - id: check-env
    name: Verify environment prerequisites
    entry: python scripts/check_env.py
    language: system
    pass_filenames: false
  - id: validate-links
    name: Validate markdown links
    entry: python scripts/validate_links.py
    language: system
    types: [markdown]
    exclude: ^docs/INDEX\.md$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.19.0
  hooks:
    - id: commitlint
      stages: [commit-msg]
      additional_dependencies: ['@commitlint/cli@17.7.2']

feat(docs): detail unified memory bundle
  CHANGELOG.md
  docs/ABZU_blueprint.md
  docs/INDEX.md
Due: doc-indexer, validate-links

docs: align bundle diagram reference
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

docs: reference unified memory bundle
  docs/ABZU_SUBSYSTEM_OVERVIEW.md
  docs/index.md
  docs/project_overview.md
Due: doc-indexer, validate-links

Add OpenTelemetry tracing dependencies
  CHANGELOG.md
  component_index.json
  dev-requirements.txt
  docs/component_index.md
  docs/component_status.json
  docs/component_status.md
  docs/environment_setup.md
  pyproject.toml
  requirements.lock
  requirements.txt
Due: doc-indexer, validate-component-index, validate-component-json, validate-links

test: ensure memory bundle query aggregates layers
  tests/test_memory_bundle.py
Due: confirm-reading

feat(ci): did bandit integration on pre-commit and workflows to obtain high-severity scans, expecting behavior secure codebase
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/CI_OVERVIEW.md
  docs/CONTRIBUTOR_HANDBOOK.md
  docs/contribution_guide.md
  docs/security_model.md
Due: doc-indexer, validate-links

test(memory): cover missing OpenTelemetry
  CHANGELOG.md
  docs/INDEX.md
  docs/memory_layers_GUIDE.md
  memory/bundle.py
  tests/test_memory_bundle_tracing.py
Due: confirm-reading, doc-indexer, validate-links

Handle missing OpenTelemetry with NoOp tracer
  docs/INDEX.md
  docs/memory_layers_GUIDE.md
  memory/bundle.py
  tests/test_memory_bundle.py
  tests/test_memory_bundle_tracing.py
Due: confirm-reading, doc-indexer, validate-links

feat: introduce memory tracing module
  CHANGELOG.md
  docs/INDEX.md
  docs/dependency_registry.md
  docs/environment_setup.md
  docs/memory_layers_GUIDE.md
  memory/bundle.py
  memory/tracing.py
  onboarding_confirm.yml
Due: confirm-reading, doc-indexer, validate-links

test: parametrize memory bundle tracer
  tests/test_memory_bundle.py
Due: confirm-reading

feat: add optional tracing extras
  .github/workflows/ci.yml
  CHANGELOG.md
  README.md
  docs/environment_setup.md
  pyproject.toml
Due: doc-indexer, validate-links

docs: clarify core orientation for operators
  docs/index.md
Due: doc-indexer, validate-links

docs: document RAZAR and Crown memory queries
  docs/memory_layers_GUIDE.md
  docs/project_overview.md
Due: doc-indexer, validate-links

docs: document avatar & voice stack
  docs/index.md
  docs/project_overview.md
Due: doc-indexer, validate-links

docs: include system overview doc
  README.md
  docs/INDEX.md
  docs/index.md
  docs/system_overview.md
Due: doc-indexer, validate-links

I added rStar patch service on ABZU to enable remote patch API access, expecting RAZAR to reach it via authenticated endpoint
  config/razar_ai_agents.json
  docs/environment_setup.md
  rstar_service/Dockerfile
  rstar_service/app.py
Due: confirm-reading, doc-indexer, validate-links

meta: explain rstar escalation comment\n\nI added an empty commit on boot_orchestrator to record the rationale for the rstar escalation comment, expecting audit logs to capture the intent.
  config/razar_ai_agents.json
  razar/boot_orchestrator.py
Due: confirm-reading

docs: add rStar escalation section
  docs/RAZAR_AGENT.md
  docs/index.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

test: ensure rstar escalation after ten remote attempts
  tests/test_boot_orchestrator.py
Due: confirm-reading

Create Reignition.md
  NEOABZU/Reignition.md
Due: validate-links

feat: scaffold Rust workspace and core interpreter
  CHANGELOG.md
  NEOABZU/Cargo.lock
  NEOABZU/Cargo.toml
  NEOABZU/Reignition.md
  NEOABZU/core/Cargo.toml
  NEOABZU/core/src/lib.rs
  NEOABZU/memory/Cargo.toml
  NEOABZU/memory/src/lib.rs
  NEOABZU/vector/Cargo.toml
  NEOABZU/vector/src/lib.rs
  onboarding_confirm.yml
Due: validate-links

feat(memory): add Rust bundle and bootstrap CLI
  NEOABZU/memory/Cargo.toml
  NEOABZU/memory/src/bin/memory_bootstrap.rs
  NEOABZU/memory/src/lib.rs
  component_index.json
  docs/ABZU_blueprint.md
  docs/INDEX.md
  docs/component_index.md
  docs/component_status.json
  docs/component_status.md
  docs/memory_layers_GUIDE.md
  memory/bundle.py
Due: confirm-reading, doc-indexer, validate-component-index, validate-component-json, validate-links

Document FFI boundaries and add Rust build CI
  .github/workflows/ci.yml
  CHANGELOG.md
  NEOABZU/Cargo.lock
  NEOABZU/Reignition.md
  NEOABZU/memory/Cargo.toml
  NEOABZU/memory/src/lib.rs
  component_index.json
  onboarding_confirm.yml
Due: validate-component-json, validate-links

chore: restore NEOABZU workflow and helpers
  .github/workflows/neoabzu.yml
  CHANGELOG.md
  NEOABZU/Reignition.md
  NEOABZU/pyproject.toml
Due: validate-links

Add feature parity matrix for NEOABZU
  NEOABZU/docs/feature_parity.md
Due: validate-links

feat(core): expose lambda evaluation to Python
  NEOABZU/Reignition.md
  NEOABZU/core/src/lib.rs
  NEOABZU/docs/core_usage.md
Due: validate-links

docs: add NEOABZU cross-links
  NEOABZU/docs/index.md
  docs/INDEX.md
  docs/index.md
Due: doc-indexer, validate-links

chore: require ABZU and NEOABZU CI
  .github/settings.yml
  .github/workflows/abzu.yml
  CONTRIBUTING.md
Due: validate-links

Create Oroboros_Core.md
  NEOABZU/docs/Oroboros_Core.md
Due: validate-links

Create QNL_Library.md
  NEOABZU/docs/QNL_Library.md
Due: validate-links

feat(core): add SelfRef recursion
  NEOABZU/core/src/lib.rs
  NEOABZU/docs/Oroboros_Core.md
Due: validate-links

docs: clarify elemental references
  CHANGELOG.md
  NEOABZU/core/src/lib.rs
  docs/INDEX.md
  docs/Oroboros_Core.md
  docs/QNL_Library.md
Due: doc-indexer, validate-links

feat(neoabzu-memory): add layer queries and broadcast events
  NEOABZU/docs/core_usage.md
  NEOABZU/memory/src/lib.rs
  NEOABZU/memory/tests/query.rs
Due: validate-links

feat: add persona crate for profile loading and state
  NEOABZU/Cargo.lock
  NEOABZU/Cargo.toml
  NEOABZU/docs/feature_parity.md
  NEOABZU/persona/Cargo.toml
  NEOABZU/persona/src/lib.rs
  NEOABZU/pyproject.toml
Due: validate-links

feat: add crown routing crate
  NEOABZU/Cargo.lock
  NEOABZU/Cargo.toml
  NEOABZU/crown/Cargo.toml
  NEOABZU/crown/src/lib.rs
  NEOABZU/crown/tests/route_decision.rs
  NEOABZU/crown/tests/route_query.rs
  NEOABZU/pyproject.toml
  crown_router_rs.py
Due: confirm-reading

feat(rag): add vector retrieval crate
  NEOABZU/Cargo.lock
  NEOABZU/Cargo.toml
  NEOABZU/docs/core_usage.md
  NEOABZU/docs/feature_parity.md
  NEOABZU/pyproject.toml
  NEOABZU/rag/Cargo.toml
  NEOABZU/rag/src/lib.rs
  NEOABZU/rag/tests/retrieval.rs
Due: validate-links

feat: integrate Rust memory bundle and tracing into RAZAR and Crown
  CHANGELOG.md
  CHANGELOG_razar.md
  component_index.json
  crown_router.py
  docs/INDEX.md
  docs/RAZAR_AGENT.md
  docs/testing/failure_inventory.md
  razar/boot_orchestrator.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-links

feat: expose neoabzu rust modules to python
  NEOABZU/Cargo.lock
  NEOABZU/build_wheels.sh
  NEOABZU/docs/core_usage.md
  NEOABZU/neoabzu/__init__.py
  NEOABZU/neoabzu/core.py
  NEOABZU/neoabzu/memory.py
  NEOABZU/neoabzu/vector.py
  NEOABZU/pyproject.toml
  NEOABZU/vector/Cargo.toml
  NEOABZU/vector/src/lib.rs
Due: confirm-reading, validate-links

docs: outline rust migration and ouroboros core
  CHANGELOG.md
  NEOABZU/docs/index.md
  docs/ABZU_SUBSYSTEM_OVERVIEW.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

Add PyO3 integration tests and latency benchmark
  NEOABZU/Cargo.lock
  NEOABZU/core/Cargo.toml
  NEOABZU/core/src/lib.rs
  NEOABZU/memory/Cargo.toml
  NEOABZU/memory/src/lib.rs
  NEOABZU/rag/Cargo.toml
  NEOABZU/rag/src/lib.rs
  NEOABZU/vector/Cargo.toml
  NEOABZU/vector/src/lib.rs
  benchmarks/pyo3_call_latency.py
  tests/test_neoabzu_bindings.py
Due: confirm-reading
