Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-links

confirm-reading:
  name: Confirm onboarding reading
  entry: python scripts/confirm_reading.py
  language: system
  pass_filenames: false

doc-indexer:
  name: Regenerate documentation index
  entry: python tools/doc_indexer.py
  language: system
  pass_filenames: false

check-connector-index:
  name: Check connector index entries
  entry: python scripts/check_connector_index.py
  language: python
  pass_filenames: false

validate-component-index:
  name: Validate component index entries
  entry: python scripts/validate_component_index.py
  language: system
  pass_filenames: false

validate-component-json:
  name: Validate component_index.json fields
  entry: python scripts/validate_component_index_json.py
  language: system
  pass_filenames: false

validate-links:
  name: Validate markdown links
  entry: python scripts/validate_links.py
  language: system

test(numeric): ensure cosine parity
  CHANGELOG.md
  NEOABZU/docs/core_usage.md
  NEOABZU/neoabzu/numeric.py
  NEOABZU/numeric/src/lib.rs
  tests/test_numeric_cosine_similarity.py
Due: confirm-reading, validate-links

docs: add milestone roadmap
  CHANGELOG.md
  docs/INDEX.md
  docs/roadmap.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

docs: refine roadmap summary
  docs/doctrine_index.md
Due: doc-indexer, validate-links

feat: enforce roadmap recency
  .pre-commit-config.yaml
  docs/INDEX.md
  docs/doctrine_index.md
  docs/roadmap.md
  scripts/verify_docs_up_to_date.py
Due: confirm-reading, doc-indexer, validate-links

docs: add milestone roadmap
  CHANGELOG.md
  docs/roadmap.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

docs: add Banana Rater spec
  docs/INDEX.md
  docs/banana_rater.md
  docs/doctrine_index.md
  docs/roadmap.md
Due: doc-indexer, validate-links

Create Bana Narrator vision.md
  NEOABZU/docs/Bana Narrator vision.md
Due: validate-links

Create Scribe_narrative_engine.md
  NEOABZU/docs/Scribe_narrative_engine.md
Due: validate-links

docs: expand narrative vision and migration roadmap
  CHANGELOG.md
  NEOABZU/docs/Bana Narrator vision.md
  NEOABZU/docs/Scribe_narrative_engine.md
  NEOABZU/docs/index.md
  docs/INDEX.md
  docs/roadmap.md
  docs/system_blueprint.md
  docs/testing/failure_inventory.md
Due: doc-indexer, validate-links

docs: update milestone progress
  NEOABZU/docs/index.md
  docs/INDEX.md
  docs/roadmap.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

docs: document datpars interface
  NEOABZU/docs/index.md
  docs/INDEX.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

chore: clarify python-multipart dependency
  dev-requirements.txt
  requirements.txt
Due: none

Add boot sequence config and fixtures
  scripts/boot_config.json
  scripts/boot_sequence.py
  tests/agents/razar/test_boot_sequence.py
  tests/conftest.py
Due: confirm-reading

chore: guard chakra monitoring agent import
  scripts/verify_chakra_monitoring.py
Due: confirm-reading

chore: note file-upload dependency
  dev-requirements.txt
  requirements.txt
Due: none

Use RandomState-capable RNG for emotion classifier
  ml/emotion_classifier.py
Due: confirm-reading

feat: mirror crown router in Rust
  NEOABZU/crown/src/lib.rs
  NEOABZU/crown/tests/python_parity.rs
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
Due: validate-links

feat: instrument crown routing
  NEOABZU/crown/src/lib.rs
Due: none

feat(crown): track boot time metric
  NEOABZU/crown/src/lib.rs
Due: none

feat(crown): add optional opentelemetry spans
  NEOABZU/crown/src/lib.rs
Due: none

crown: cache memory and eval
  NEOABZU/crown/src/lib.rs
Due: none

test: parity metrics and validation
  NEOABZU/crown/tests/python_parity.rs
Due: none

docs: note system coordination parity
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
Due: validate-links

feat(rag): orchestrate hybrid retrieval
  CHANGELOG_rag_orchestrator.md
  NEOABZU/rag/README.md
  NEOABZU/rag/src/lib.rs
  NEOABZU/rag/tests/retrieval.rs
  docs/INDEX.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

feat: add PyO3 insight crate and crown integration
  NEOABZU/Cargo.lock
  NEOABZU/Cargo.toml
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  NEOABZU/insight/Cargo.toml
  NEOABZU/insight/src/lib.rs
  NEOABZU/pyproject.toml
  crown_router.py
  onboarding_confirm.yml
Due: confirm-reading, validate-links

Add gRPC vector service
  NEOABZU/Cargo.lock
  NEOABZU/Reignition.md
  NEOABZU/neoabzu/vector.py
  NEOABZU/neoabzu/vector_pb2.py
  NEOABZU/neoabzu/vector_pb2_grpc.py
  NEOABZU/pyproject.toml
  NEOABZU/vector/Cargo.toml
  NEOABZU/vector/build.rs
  NEOABZU/vector/proto/vector.proto
  NEOABZU/vector/src/bin/server.rs
  NEOABZU/vector/src/lib.rs
  NEOABZU/vector/src/server.rs
  NEOABZU/vector/tests/grpc.rs
Due: confirm-reading, validate-links

I updated doctrine_index.md to obtain accurate blueprint hashes, expecting registry audits to remain aligned
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/blueprint_spine.md
  docs/doctrine_index.md
  scripts/verify_crate_refs.py
Due: confirm-reading, doc-indexer, validate-links

chore: document rust crates in blueprint and ci
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  docs/system_blueprint.md
  onboarding_confirm.yml
  pyproject.toml
  scripts/verify_blueprint_refs.py
Due: confirm-reading, doc-indexer, validate-links

feat: add rust orchestrator and insight engine
  NEOABZU/Cargo.lock
  NEOABZU/crown/Cargo.toml
  NEOABZU/crown/src/lib.rs
  NEOABZU/crown/tests/route_query.rs
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  NEOABZU/insight/src/lib.rs
  NEOABZU/rag/src/lib.rs
  NEOABZU/rag/tests/orchestrator.rs
Due: validate-links

feat: embed-backed vector service with client tests
  CHANGELOG.md
  NEOABZU/Reignition.md
  NEOABZU/docs/feature_parity.md
  NEOABZU/neoabzu/vector.py
  NEOABZU/vector/Cargo.toml
  NEOABZU/vector/src/server.rs
  NEOABZU/vector/tests/grpc.rs
  NEOABZU/vector/tests/test_grpc_python.py
  onboarding_confirm.yml
  persona/src/lib.rs
Due: confirm-reading, validate-links

feat: align crown routing with python
  NEOABZU/crown/src/lib.rs
  NEOABZU/crown/tests/legacy_parity.rs
  NEOABZU/crown/tests/memory_query.rs
  NEOABZU/crown/tests/python_parity.rs
  docs/feature_parity.md
  docs/migration_crosswalk.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

test(rag): verify merge orchestration
  NEOABZU/docs/feature_parity.md
  NEOABZU/rag/src/lib.rs
  NEOABZU/rag/tests/merge.rs
  NEOABZU/rag/tests/orchestrator.rs
  docs/feature_parity.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

feat: expand insight reasoning
  NEOABZU/Cargo.lock
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/index.md
  NEOABZU/docs/migration_crosswalk.md
  NEOABZU/insight/Cargo.toml
  NEOABZU/insight/src/lib.rs
  NEOABZU/insight/tests/integration.rs
  NEOABZU/pyproject.toml
  crown_router.py
  docs/INDEX.md
  docs/system_blueprint.md
  pyproject.toml
Due: confirm-reading, doc-indexer, validate-links

docs: align crate docs and add reference checks
  .pre-commit-config.yaml
  component_index.json
  docs/blueprint_spine.md
  docs/component_index.md
  docs/feature_parity.md
  docs/migration_crosswalk.md
  docs/system_blueprint.md
  onboarding_confirm.yml
  scripts/verify_doc_refs.py
Due: confirm-reading, doc-indexer, validate-component-index, validate-component-json, validate-links

feat(ci): add rust checks and doc reference validation
  .github/workflows/ci.yml
  docs/CI_GUIDE.md
  docs/INDEX.md
  scripts/verify_doc_refs.py
Due: confirm-reading, doc-indexer, validate-links

feat: add shared instrumentation and tracing hooks
  Cargo.lock
  Cargo.toml
  crown/Cargo.toml
  crown/src/lib.rs
  docs/INDEX.md
  docs/observability.md
  docs/system_blueprint.md
  fusion/Cargo.toml
  fusion/src/lib.rs
  instrumentation/Cargo.toml
  instrumentation/examples/basic.rs
  instrumentation/src/lib.rs
  numeric/Cargo.toml
  numeric/src/lib.rs
  persona/Cargo.toml
  persona/src/lib.rs
  rag/Cargo.toml
  rag/src/lib.rs
Due: doc-indexer, validate-links

feat: port crown router to rust
  NEOABZU/crown/src/lib.rs
  NEOABZU/crown/tests/legacy_parity.rs
  NEOABZU/crown/tests/python_parity.rs
  NEOABZU/crown/tests/razor_integration.rs
  NEOABZU/crown/tests/route_decision.rs
  NEOABZU/docs/feature_parity.md
  NEOABZU/docs/migration_crosswalk.md
  crown_router_rs.py
Due: confirm-reading, validate-links

feat: add kimicho K2 fallback
  NEOABZU/Cargo.toml
  NEOABZU/kimicho/Cargo.toml
  NEOABZU/kimicho/src/lib.rs
Due: none

Add Kimicho fallback for handshake failures
  razar/boot_orchestrator.py
Due: confirm-reading

test: add Kimicho K2 fallback tests
  NEOABZU/Cargo.toml
  NEOABZU/k2coder/Cargo.toml
  NEOABZU/k2coder/src/lib.rs
  NEOABZU/k2coder/tests/fallback.rs
Due: none

Path conditions:
  confirm-reading: any of: \.py$
  doc-indexer: any of: ^docs/
  check-connector-index: any of: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  validate-component-index: any of: ^docs/component_index.md
  validate-component-json: any of: ^component_index.json$
  validate-links: any of: \.(md|markdown|mdown)$, but not: ^docs/INDEX\.md$
