Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, rust-fmt-clippy, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-world-registry, validate-links, validate-docs, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

confirm-reading:
  name: Confirm onboarding reading
  entry: python scripts/confirm_reading.py
  language: system
  pass_filenames: false

rust-fmt-clippy:
  name: Run cargo fmt and clippy
  entry: bash -c 'cargo fmt --check && cargo clippy -- -D warnings'
  language: system
  pass_filenames: false

doc-indexer:
  name: Regenerate documentation index
  entry: python tools/doc_indexer.py
  language: system
  pass_filenames: false

check-connector-index:
  name: Check connector index entries
  entry: python scripts/check_connector_index.py
  language: python
  pass_filenames: false

validate-component-index:
  name: Validate component index entries
  entry: python scripts/validate_component_index.py
  language: system
  pass_filenames: false

validate-component-json:
  name: Validate component_index.json fields
  entry: python scripts/validate_component_index_json.py
  language: system
  pass_filenames: false

validate-world-registry:
  name: Validate world registry entries
  entry: python scripts/validate_world_registry.py
  language: system
  pass_filenames: false

validate-links:
  name: Validate markdown links
  entry: python scripts/validate_links.py
  language: system

validate-docs:
  name: Validate documentation registry and cross-links
  entry: python scripts/validate_docs.py
  language: system
  pass_filenames: false

audit-doctrine:
  name: Audit documentation doctrine
  entry: python scripts/audit_doctrine.py
  language: system
  pass_filenames: false

verify-doctrine-refs:
  name: Verify doctrine references
  entry: python scripts/verify_doctrine_refs.py
  language: system
  pass_filenames: false

verify-chakra-monitoring:
  name: Verify chakra monitoring
  entry: python scripts/verify_chakra_monitoring.py
  language: system
  pass_filenames: false

verify-self-healing:
  name: Verify self healing
  entry: python scripts/verify_self_healing.py
  language: system
  pass_filenames: false

Document canonical Stage A gate evidence
  docs/PROJECT_STATUS.md
  docs/releases/alpha_v0_1_workflow.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document Stage A pytest hardware constraint
  docs/releases/alpha_v0_1_workflow.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document Stage A planning checklist
  docs/PROJECT_STATUS.md
  docs/releases/alpha_v0_1_workflow.md
  docs/roadmap.md
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Refresh Stage B rotation drill and documentation
  connectors/__init__.py
  docs/NEOABZU_spine.md
  docs/PROJECT_STATUS.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/connectors/operator_mcp_runbook.md
  docs/doctrine_index.md
  docs/index.md
  docs/mcp_connectors.md
  docs/roadmap.md
  docs/system_blueprint.md
  logs/stage_b/20250920T222728Z/readiness_index.json
  logs/stage_b/20250926T180250Z-stage_b3_connector_rotation/stage_b_rotation_drills.jsonl
  logs/stage_b/20250926T180250Z-stage_b3_connector_rotation/summary.json
  scripts/stage_b_smoke.py
Due: confirm-reading, doc-indexer, check-connector-index, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Add Stage C drill stub support and refresh readiness packet
  docs/PROJECT_STATUS.md
  logs/stage_b_rotation_drills.jsonl
  scripts/_stage_runtime.py
  scripts/stage_c_mcp_drill.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Force sandbox env for stage workflows
  operator_api.py
  tests/test_operator_api.py
Due: confirm-reading

Add neoabzu memory sandbox stub
  operator_api.py
  scripts/_stage_runtime.py
  scripts/memory_load_proof.py
  tests/test_operator_api.py
Due: confirm-reading

Add sandbox support to alpha gate workflow
  onboarding_confirm.yml
  operator_api.py
  scripts/run_alpha_gate.sh
  tests/scripts/test_run_alpha_gate.py
Due: confirm-reading

Improve Stage A bootstrap sandbox handling
  scripts/_stage_runtime.py
  scripts/bootstrap.py
  scripts/crown_capture_replays.py
  scripts/export_alpha_gate_metrics.py
Due: confirm-reading

Add sandbox neoabzu shim and bootstrap Stage B memory proof
  docs/testing/failure_inventory.md
  logs/stage_b/20250920T222728Z/readiness_index.json
  logs/stage_b/20250926T221339Z-stage_b1_memory_proof/summary.json
  scripts/_stage_runtime.py
  scripts/memory_load_proof.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Capture new Stage B readiness and Stage C MCP evidence
  logs/stage_b/20250926T222527Z-stage_b1_memory_proof/stage_b1_memory_proof.stderr.log
  logs/stage_b/20250926T222527Z-stage_b1_memory_proof/stage_b1_memory_proof.stdout.log
  logs/stage_b/20250926T222527Z-stage_b1_memory_proof/summary.json
  logs/stage_b/20250926T222603Z-stage_b2_sonic_rehearsal/stage_b2_sonic_rehearsal.stderr.log
  logs/stage_b/20250926T222603Z-stage_b2_sonic_rehearsal/stage_b2_sonic_rehearsal.stdout.log
  logs/stage_b/20250926T222603Z-stage_b2_sonic_rehearsal/summary.json
  logs/stage_b/20250926T222709Z-stage_b3_connector_rotation/stage_b3_connector_rotation.stderr.log
  logs/stage_b/20250926T222709Z-stage_b3_connector_rotation/stage_b3_connector_rotation.stdout.log
  logs/stage_b/20250926T222709Z-stage_b3_connector_rotation/summary.json
  logs/stage_b_rehearsal_packet.json
  logs/stage_b_rotation_drills.jsonl
  logs/stage_c/20250926T222711Z-stage_c3_readiness_sync/readiness_bundle.json
  logs/stage_c/20250926T222711Z-stage_c3_readiness_sync/stage_c3_readiness_sync.stderr.log
  logs/stage_c/20250926T222711Z-stage_c3_readiness_sync/stage_c3_readiness_sync.stdout.log
  logs/stage_c/20250926T222711Z-stage_c3_readiness_sync/summary.json
  logs/stage_c/20250926T222813Z-stage_c4_operator_mcp_drill/heartbeat.json
  logs/stage_c/20250926T222813Z-stage_c4_operator_mcp_drill/mcp_handshake.json
  logs/stage_c/20250926T222813Z-stage_c4_operator_mcp_drill/stage_c4_operator_mcp_drill.stderr.log
  logs/stage_c/20250926T222813Z-stage_c4_operator_mcp_drill/stage_c4_operator_mcp_drill.stdout.log
  logs/stage_c/20250926T222813Z-stage_c4_operator_mcp_drill/summary.json
Due: verify-self-healing

Add rotation summary to Stage B readiness data
  docs/NEOABZU_spine.md
  docs/PROJECT_STATUS.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/connectors/operator_mcp_runbook.md
  docs/index.md
  docs/system_blueprint.md
  operator_api.py
  tests/test_operator_api.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Handle Stage A readiness per-slug and surface attention
  operator_api.py
  scripts/aggregate_stage_readiness.py
  tests/test_operator_api.py
Due: confirm-reading

Improve alpha gate sandbox handling
  operator_api.py
  scripts/run_alpha_gate.sh
  tests/scripts/test_run_alpha_gate.py
Due: confirm-reading

feat: bundle stage readiness artifacts in stage c
  operator_api.py
  scripts/aggregate_stage_readiness.py
  tests/test_aggregate_stage_readiness.py
Due: confirm-reading

Handle multiline stage summary parsing
  operator_api.py
  tests/test_operator_api.py
Due: confirm-reading

Refine Stage B readiness aggregation and tests
  scripts/aggregate_stage_readiness.py
  tests/test_aggregate_stage_readiness.py
Due: confirm-reading

Sync Stage B rotation ledger with Stage C promotion
  connectors/operator_mcp_adapter.py
  scripts/stage_b_smoke.py
  tests/scripts/test_stage_b_smoke.py
  tests/test_aggregate_stage_readiness.py
Due: confirm-reading, check-connector-index

Treat sandbox warnings as readiness blockers
  operator_api.py
  scripts/aggregate_stage_readiness.py
  tests/test_aggregate_stage_readiness.py
Due: confirm-reading

Document sandbox rehearsal bridging requirements
  data/identity.json
  docs/The_Absolute_Protocol.md
  docs/absolute_protocol_checklist.md
  docs/doctrine_index.md
  docs/documentation_protocol.md
  docs/roadmap.md
  state/crown_identity_fingerprint.json
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Add sandbox fallbacks and refresh Stage A evidence
  docs/PROJECT_STATUS.md
  docs/testing/failure_inventory.md
  logs/crown_replays/crown_air_star_validation.json
  logs/crown_replays/crown_glm_reflection.json
  logs/crown_replays/crown_kimi_k2_revision.json
  logs/crown_replays/crown_kimicho_guidance.json
  logs/crown_replays/crown_rstar_finalization.json
  logs/nazarick_startup.json
  logs/stage_a/20250927T200728Z-stage_a2_crown_replays/summary.json
  logs/stage_a/20250927T200729Z-stage_a3_gate_shakeout/summary.json
  logs/stage_a/20250927T200839Z-stage_a1_boot_telemetry/summary.json
  logs/stage_a/latest/stage_a1_boot_telemetry-summary.json
  logs/stage_a/latest/stage_a2_crown_replays-summary.json
  logs/stage_a/latest/stage_a3_gate_shakeout-summary.json
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/alpha_gate.prom
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/alpha_gate_summary.json
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/readiness_bundle.json
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/stage_a-a1-artifact1.stderr.log
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/stage_a-a1-artifact2.stdout.log
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/stage_a-a1-summary.json
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/stage_a-a2-artifact1.stderr.log
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/stage_a-a2-artifact2.stdout.log
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/stage_a-a2-summary.json
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/stage_a-a3-artifact1.stderr.log
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/stage_a-a3-artifact2.stdout.log
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/stage_a-a3-summary.json
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/stage_b-b1-artifact1.stderr.log
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/stage_b-b1-artifact2.stdout.log
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/stage_b-b1-summary.json
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/stage_b-b2-artifact1.stderr.log
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/stage_b-b2-artifact2.stdout.log
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/stage_b-b2-summary.json
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/stage_b-b3-artifact1.stderr.log
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/stage_b-b3-artifact2.stdout.log
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/stage_b-b3-summary.json
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/summary.json
  onboarding_confirm.yml
  scripts/_stage_runtime.py
  scripts/bootstrap_world.py
  state/crown_identity_fingerprint.json
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Add stubbed memory bundle diagnostics and refresh Stage B1
  logs/stage_b/20250920T222728Z/readiness_index.json
  logs/stage_b/20250927T203321Z-stage_b1_memory_proof/summary.json
  memory/bundle.py
  memory/optional/__init__.py
  memory/optional/neoabzu_bundle.py
  scripts/memory_load_proof.py
Due: confirm-reading, validate-world-registry, verify-self-healing

Harden Stage B audio validation and refresh evidence
  docs/PROJECT_STATUS.md
  logs/stage_b/20250927T210041Z-stage_b2_sonic_rehearsal/summary.json
  logs/stage_b/20250927T211008Z-stage_b2_sonic_rehearsal/summary.json
  logs/stage_b_rehearsal_packet.json
  operator_api.py
  scripts/setup_audio_env.sh
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Stage C demo consumes Stage B manifest assets
  docs/PROJECT_STATUS.md
  docs/roadmap.md
  scripts/stage_c_scripted_demo.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document Stage C readiness review and MCP drill
  docs/INDEX.md
  docs/rehearsals/stage_c_readiness_review_packet.md
  docs/roadmap.md
  logs/stage_b_rotation_drills.jsonl
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Enable native neoabzu memory bundle and refresh Stage B evidence
  docs/PROJECT_STATUS.md
  docs/roadmap.md
  docs/system_blueprint.md
  logs/stage_b/20250920T222728Z/readiness_index.json
  logs/stage_b/20250927T231955Z-stage_b1_memory_proof/stage_b1_memory_proof.stderr.log
  logs/stage_b/20250927T231955Z-stage_b1_memory_proof/stage_b1_memory_proof.stdout.log
  logs/stage_b/20250927T231955Z-stage_b1_memory_proof/summary.json
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/readiness_bundle.json
  logs/stage_c/20250927T201020Z-stage_c3_readiness_sync/summary.json
  memory/bundle.py
  scripts/_stage_runtime.py
  scripts/memory_load_proof.py
Due: confirm-reading, doc-indexer, validate-world-registry, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

I did a sandbox alpha gate sweep on Stage A evidence docs to obtain an updated readiness packet, expecting reviewers to trace deferred coverage.
  component_index.json
  docs/PROJECT_STATUS.md
  docs/doctrine_index.md
  docs/roadmap.md
  docs/system_blueprint.md
  logs/alpha_gate/20250927T235425Z/build_wheel.log
  logs/alpha_gate/20250927T235425Z/check_requirements.log
  logs/alpha_gate/20250927T235425Z/command_log.md
  logs/alpha_gate/20250927T235425Z/health_check_connectors.log
  logs/alpha_gate/20250927T235425Z/pytest_coverage.log
  logs/alpha_gate/20250927T235425Z/pytest_telemetry.log
  logs/alpha_gate/20250927T235425Z/razar_chaos_drill.log
  logs/alpha_gate/20250927T235425Z/verify_self_healing.log
Due: doc-indexer, validate-component-json, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Expose rotation metadata in stage readiness artifacts
  logs/stage_b/20250927T234018Z-stage_b3_connector_rotation/summary.json
  operator_api.py
  scripts/aggregate_stage_readiness.py
Due: confirm-reading, verify-self-healing

Refresh Stage A telemetry evidence and readiness bundle
  docs/PROJECT_STATUS.md
  logs/stage_a/20250928T004644Z-stage_a1_boot_telemetry/summary.json
  logs/stage_a/20250928T004714Z-stage_a2_crown_replays/summary.json
  logs/stage_a/20250928T004738Z-stage_a3_gate_shakeout/summary.json
  logs/stage_c/20250928T004857Z-stage_c3_readiness_sync/alpha_gate.prom
  logs/stage_c/20250928T004857Z-stage_c3_readiness_sync/alpha_gate_summary.json
  logs/stage_c/20250928T004857Z-stage_c3_readiness_sync/readiness_bundle.json
  logs/stage_c/20250928T004857Z-stage_c3_readiness_sync/stage_a-a1-artifact1.stderr.log
  logs/stage_c/20250928T004857Z-stage_c3_readiness_sync/stage_a-a1-artifact2.stdout.log
  logs/stage_c/20250928T004857Z-stage_c3_readiness_sync/stage_a-a1-summary.json
  logs/stage_c/20250928T004857Z-stage_c3_readiness_sync/stage_a-a2-artifact1.stderr.log
  logs/stage_c/20250928T004857Z-stage_c3_readiness_sync/stage_a-a2-artifact2.stdout.log
  logs/stage_c/20250928T004857Z-stage_c3_readiness_sync/stage_a-a2-summary.json
  logs/stage_c/20250928T004857Z-stage_c3_readiness_sync/stage_a-a3-artifact1.stderr.log
  logs/stage_c/20250928T004857Z-stage_c3_readiness_sync/stage_a-a3-artifact2.stdout.log
  logs/stage_c/20250928T004857Z-stage_c3_readiness_sync/stage_a-a3-summary.json
  logs/stage_c/20250928T004857Z-stage_c3_readiness_sync/stage_b-b1-artifact1.stderr.log
  logs/stage_c/20250928T004857Z-stage_c3_readiness_sync/stage_b-b1-artifact2.stdout.log
  logs/stage_c/20250928T004857Z-stage_c3_readiness_sync/stage_b-b1-summary.json
  logs/stage_c/20250928T004857Z-stage_c3_readiness_sync/stage_b-b2-summary.json
  logs/stage_c/20250928T004857Z-stage_c3_readiness_sync/stage_b-b3-summary.json
  logs/stage_c/20250928T004857Z-stage_c3_readiness_sync/stage_c3_readiness_sync.stderr.log
  logs/stage_c/20250928T004857Z-stage_c3_readiness_sync/stage_c3_readiness_sync.stdout.log
  logs/stage_c/20250928T004857Z-stage_c3_readiness_sync/summary.json
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Improve Stage C3 readiness aggregation
  operator_api.py
  tests/test_operator_api.py
Due: confirm-reading

Add rotation metadata checks to Stage C4 drill
  operator_api.py
  tests/test_operator_api.py
Due: confirm-reading

Handle Stage C1 checklist blockers
  operator_api.py
  tests/test_operator_api.py
Due: confirm-reading

Make Stage C demo reference Stage B media by default
  data/stage_c_demo_storyline/stage_b/20250928T120000Z-demo_storyline/rehearsals/session_01/audio/.gitignore
  data/stage_c_demo_storyline/stage_b/20250928T120000Z-demo_storyline/rehearsals/session_01/video/.gitignore
  docs/rehearsals/stage_b_20250921_summary.md
  docs/rehearsals/stage_c_demo_summary.md
  docs/rehearsals/stage_c_readiness_review_packet.md
  logs/stage_c/20250928T130000Z-stage_c2_demo_storyline/demo_storyline/audio/.gitignore
  logs/stage_c/20250928T130000Z-stage_c2_demo_storyline/demo_storyline/video/.gitignore
  scripts/stage_c_scripted_demo.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document Stage C readiness packet and review
  .gitignore
  data/identity.json
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/The_Absolute_Protocol.md
  docs/The_Absolute_Protocol_addendum.md
  docs/doctrine_index.md
  docs/roadmap.md
  docs/testing/failure_inventory.md
  logs/stage_c/20250928T151500Z-readiness_packet/checklist_logs/README.md
  logs/stage_c/20250928T151500Z-readiness_packet/checklist_logs/stage_c1_exit_checklist_summary.json
  logs/stage_c/20250928T151500Z-readiness_packet/demo_assets/demo_storyline/audio/.gitignore
  logs/stage_c/20250928T151500Z-readiness_packet/demo_assets/demo_storyline/video/.gitignore
  logs/stage_c/20250928T151500Z-readiness_packet/mcp_drill/heartbeat.json
  logs/stage_c/20250928T151500Z-readiness_packet/mcp_drill/mcp_handshake.json
  logs/stage_c/20250928T151500Z-readiness_packet/mcp_drill/stage_c4_operator_mcp_drill_summary.json
  logs/stage_c/20250928T151500Z-readiness_packet/readiness_bundle/readiness_bundle.json
  logs/stage_c/20250928T151500Z-readiness_packet/readiness_bundle/stage_c3_readiness_sync_summary.json
  state/crown_identity_fingerprint.json
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Refresh Stage B memory readiness data
  NEOABZU/memory/README.md
  data/cortex_memory_index.json
  data/cortex_memory_spiral.jsonl
  docs/PROJECT_STATUS.md
  logs/stage_b/20250928T153749Z-stage_b1_memory_proof/stage_b1_memory_proof.stderr.log
  logs/stage_b/20250928T153749Z-stage_b1_memory_proof/stage_b1_memory_proof.stdout.log
  logs/stage_b/20250928T153749Z-stage_b1_memory_proof/summary.json
  logs/stage_b/20250928T155301Z-stage_b1_memory_proof/stage_b1_memory_proof.stderr.log
  logs/stage_b/20250928T155301Z-stage_b1_memory_proof/stage_b1_memory_proof.stdout.log
  logs/stage_b/20250928T155301Z-stage_b1_memory_proof/summary.json
  logs/stage_b/latest
  logs/stage_b/latest/latency_metrics.json
  logs/stage_b/latest/load_test_summary.json
  logs/stage_b/latest/readiness_index.json
  monitoring/boot_metrics.prom
  scripts/_stage_runtime.py
  scripts/check_memory_layers.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Refactor Stage B/C evidence manifests
  docs/rehearsals/stage_c_demo_summary.md
  evidence_manifests/stage-b-audio.json
  evidence_manifests/stage-c-demo-storyline.json
  logs/stage_c/20250928T162716Z-stage_c2_demo_storyline/demo_storyline/audio/.gitignore
  logs/stage_c/20250928T162716Z-stage_c2_demo_storyline/demo_storyline/video/.gitignore
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Capture MCP REST/gRPC trace parity
  connectors/operator_mcp_adapter.py
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/The_Absolute_Protocol_addendum.md
  docs/blueprint_spine.md
  docs/index.md
  docs/roadmap.md
  docs/system_blueprint.md
  logs/operator_commands.jsonl
  logs/stage_b_rotation_drills.jsonl
  logs/stage_c/20251031T000000Z-test/grpc_trial_handshake.json
  logs/stage_c/20251031T000000Z-test/heartbeat.json
  logs/stage_c/20251031T000000Z-test/mcp_handshake.json
  logs/stage_c/20251031T000000Z-test/rest_grpc_handshake_diff.json
  logs/stage_c/20251031T000000Z-test/rest_handshake_with_expiry.json
  logs/stage_c/20251031T000000Z-test/summary.json
  onboarding_confirm.yml
  operator_api.py
  scripts/stage_b_smoke.py
  scripts/stage_c_mcp_drill.py
  tests/scripts/test_stage_b_smoke.py
  tests/test_operator_api.py
Due: confirm-reading, doc-indexer, check-connector-index, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Refresh Stage C readiness packet with cross-team review outcomes
  docs/PROJECT_STATUS.md
  docs/roadmap.md
  logs/stage_c/20250930T210000Z-readiness_packet/checklist_logs/README.md
  logs/stage_c/20250930T210000Z-readiness_packet/checklist_logs/stage_c1_exit_checklist_summary.json
  logs/stage_c/20250930T210000Z-readiness_packet/mcp_drill/index.json
  logs/stage_c/20250930T210000Z-readiness_packet/readiness_bundle/README.md
  logs/stage_c/20250930T210000Z-readiness_packet/readiness_bundle/readiness_bundle.json
  logs/stage_c/20250930T210000Z-readiness_packet/review_minutes.md
  logs/stage_c/20250930T210000Z-stage_c1_exit_checklist/checklist_export.md
  logs/stage_c/20250930T210000Z-stage_c1_exit_checklist/pytest.log
  logs/stage_c/20250930T210000Z-stage_c1_exit_checklist/razar_chaos_drill.json
  logs/stage_c/20250930T210000Z-stage_c1_exit_checklist/summary.json
Due: doc-indexer, validate-links, audit-doctrine, verify-chakra-monitoring, verify-self-healing

Document latest Stage C readiness evidence
  data/identity.json
  docs/INDEX.md
  docs/PROJECT_STATUS.md
  docs/The_Absolute_Protocol.md
  docs/The_Absolute_Protocol_addendum.md
  docs/doctrine_index.md
  docs/documentation_protocol.md
  state/crown_identity_fingerprint.json
Due: doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Finalize operator transport pilot instrumentation
  data/identity.json
  deployment/api/k8s-deployment.yaml
  docs/INDEX.md
  docs/NEOABZU_spine.md
  docs/PROJECT_STATUS.md
  docs/The_Absolute_Protocol.md
  docs/The_Absolute_Protocol_addendum.md
  docs/blueprint_spine.md
  docs/dependency_registry.md
  docs/index.md
  docs/roadmap.md
  docs/system_blueprint.md
  monitoring/README.md
  monitoring/metrics_catalog.md
  monitoring/operator_transport_pilot.md
  monitoring/pytest_metrics.prom
  onboarding_confirm.yml
  opentelemetry/trace/__init__.py
  operator_api.py
  operator_api_grpc.py
  requirements.txt
  state/crown_identity_fingerprint.json
  tests/conftest.py
  tests/test_operator_transport_contract.py
Due: confirm-reading, doc-indexer, validate-links, audit-doctrine, verify-doctrine-refs, verify-chakra-monitoring, verify-self-healing

Path conditions:
  confirm-reading: any of: \.py$
  rust-fmt-clippy: any of: \.rs$
  doc-indexer: any of: ^docs/
  check-connector-index: any of: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  validate-component-index: any of: ^docs/component_index.md
  validate-component-json: any of: ^component_index.json$
  validate-world-registry: any of: ^(worlds/|agents/|memory/|scripts/validate_world_registry.py)
  validate-links: any of: \.(md|markdown|mdown)$, but not: ^docs/INDEX\.md$
  validate-docs: any of: ^(docs/chakra_versions.json|docs/chakra_koan_system.md)
  audit-doctrine: any of: ^docs/
  verify-doctrine-refs: any of: ^docs/INDEX\.md$
  verify-chakra-monitoring: any of: ^(docs/|monitoring/)
  verify-self-healing: any of: ^(docs/|logs/|quarantine/)
