Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-links

.pre-commit-config.yaml:

# Run `pre-commit autoupdate` after dependency upgrades.
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.11
  hooks:
  - id: ruff
    args:
    - --fix
- repo: https://github.com/psf/black
  rev: 24.4.2
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/pycqa/flake8
  rev: 7.1.0
  hooks:
  - id: flake8
- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    files: ^$
- repo: local
  hooks:
  - id: confirm-reading
    name: Confirm onboarding reading
    entry: python scripts/confirm_reading.py
    language: system
    types: [python]
    pass_filenames: false
  - id: check-key-documents
    name: Check key documents exist
    entry: python scripts/check_key_documents.py
    language: system
    pass_filenames: false
  - id: validate-key-docs
    name: Validate protected doc hashes and summaries
    entry: python scripts/verify_doc_hashes.py
    language: system
    pass_filenames: false
  - id: require-onboarding-update
    name: Require onboarding confirmation for key docs
    entry: python scripts/require_onboarding_update.py
    language: system
    pass_filenames: false
    always_run: true
  - id: doc-indexer
    name: Regenerate documentation index
    entry: python tools/doc_indexer.py
    language: system
    pass_filenames: false
    files: ^docs/
  - id: ensure-blueprint-sync
    name: Ensure blueprint updated with core changes
    entry: python scripts/ensure_blueprint_sync.py
    language: system
  - id: block-binaries
    name: Block binary files
    entry: python scripts/check_no_binaries.py
    language: system
    pass_filenames: false
  - id: placeholder-elimination
    name: Placeholder Elimination
    entry: python scripts/check_placeholders.py
    language: system
  - id: scan-todo-fixme
    name: Scan TODO/FIXME markers
    entry: python scripts/scan_todo_fixme.py
    language: system
    pass_filenames: false
  - id: verify-versions
    name: Ensure modules declare __version__
    entry: python scripts/verify_versions.py
    language: system
    pass_filenames: false
  - id: check-connector-index
    name: Check connector index entries
    entry: python scripts/check_connector_index.py
    language: python
    pass_filenames: false
    files: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  - id: require-connector-registry-update
    name: Require connector registry updates
    entry: python scripts/require_connector_registry_update.py
    language: system
    pass_filenames: false
  - id: validate-component-index
    name: Validate component index entries
    entry: python scripts/validate_component_index.py
    language: system
    pass_filenames: false
    files: ^docs/component_index.md
  - id: validate-component-json
    name: Validate component_index.json fields
    entry: python scripts/validate_component_index_json.py
    language: system
    pass_filenames: false
    files: ^component_index.json$
  - id: verify-dependencies
    name: Verify dependency versions
    entry: python scripts/verify_dependencies.py
    language: system
    pass_filenames: false
  - id: check-env
    name: Verify environment prerequisites
    entry: python scripts/check_env.py
    language: system
    pass_filenames: false
  - id: validate-links
    name: Validate markdown links
    entry: python scripts/validate_links.py
    language: system
    types: [markdown]
    exclude: ^docs/INDEX\.md$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.19.0
  hooks:
    - id: commitlint
      stages: [commit-msg]
      additional_dependencies: ['@commitlint/cli@17.7.2']

Create gargantua_character.md
  agents/nazarick/gargantua_character.md
Due: validate-links

Create albedo_agent_propose.md
  agents/nazarick/albedo_agent_propose.md
Due: validate-links

Update and rename albedo_agent_propose.md to albedo_agent_template.md
  agents/nazarick/albedo_agent_template.md
Due: validate-links

Add unit tests for preflight utility
  component_index.json
  tests/test_nazarick_messaging.py
  tests/test_preflight.py
  tests/test_rival_messaging.py
Due: confirm-reading, validate-component-json

Create demurge_agent_template.md
  agents/nazarick/demurge_agent_template.md
Due: validate-links

Create shalltear_agent_template.md
  agents/nazarick/shalltear_agent_template.md
Due: validate-links

Create cocytus_agent_template.md
  agents/nazarick/cocytus_agent_template.md
Due: validate-links

Create sebastiara_agent_template.md
  agents/nazarick/sebastiara_agent_template.md
Due: validate-links

Create pandora_agent_template.md
  agents/nazarick/pandora_agent_template.md
Due: validate-links

Create pleiades_agent_template.md
  agents/nazarick/pleiades_agent_template.md
Due: validate-links

Create gargantua_agent_template.md
  agents/nazarick/gargantua_agent_template.md
Due: validate-links

Create nazarick_core_architecture.md
  agents/nazarick/nazarick_core_architecture.md
Due: validate-links

ci: add dependency audit workflow and document
  .github/workflows/dependency-audit.yml
  CHANGELOG.md
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  onboarding_confirm.yml
Due: doc-indexer, validate-links

Create nazarick_memory_blueprint.md
  agents/nazarick/nazarick_memory_blueprint.md
Due: validate-links

chore(razar): log Crown handshake and model launch
  CHANGELOG_razar.md
  component_index.json
  docs/INDEX.md
  docs/RAZAR_AGENT.md
  razar/boot_orchestrator.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-links

Integrate code repair in RAZAR ai_invoker
  CHANGELOG.md
  CHANGELOG_razar.md
  agents/razar/ai_invoker.py
  component_index.json
  docs/INDEX.md
  docs/RAZAR_AGENT.md
  tests/agents/razar/test_ai_invoker.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-links

docs: expand RAZAR agent guide
  docs/INDEX.md
  docs/RAZAR_AGENT.md
Due: doc-indexer, validate-links

chore: annotate revert history
  docs/CROWN_OVERVIEW.md
  docs/INDEX.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/operator_protocol.md
Due: doc-indexer, check-connector-index, validate-links

docs: expand memory and nazarick guides
  docs/ALBEDO_LAYER.md
  docs/INDEX.md
  docs/memory_architecture.md
  docs/nazarick_agents.md
  docs/nazarick_web_console.md
Due: doc-indexer, validate-links

feat: document narrative biosignal flow
  data/biosignals/README.md
  data/biosignals/__init__.py
  data/biosignals/sample_biosignals_kappa.csv
  docs/INDEX.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/nazarick_narrative_system.md
  onboarding_confirm.yml
  tests/narrative_engine/test_biosignal_schema.py
Due: confirm-reading, doc-indexer, check-connector-index, validate-links

docs: align test chakras and archive coverage
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/INDEX.md
  docs/the_absolute_pytest.md
Due: doc-indexer, validate-links

chore: archive component index snapshot
  data/archives/component_index_20250902T193912Z.json
  scripts/build_component_index.py
  scripts/validate_component_index_json.py
Due: confirm-reading

docs: add dependency and test indices
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/component_index.md
  docs/connectors/CONNECTOR_INDEX.md
  docs/dependency_index.md
  docs/index.md
  docs/test_index.md
Due: doc-indexer, check-connector-index, validate-component-index, validate-links

feat: add registry check wrappers
  .github/workflows/ci.yml
  docs/KEY_DOCUMENTS.md
  onboarding_confirm.yml
  scripts/check_component_index_json.py
  scripts/check_dependency_registry.py
Due: confirm-reading, doc-indexer, validate-links

Create blueprint_spine.md
  docs/blueprint_spine.md
Due: doc-indexer, validate-links

docs: require triple reading of blueprint spine in protocol
  CHANGELOG.md
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
Due: doc-indexer, validate-links

I did add a newline to docs/quarantine_log.md to obtain consistent table formatting, expecting behavior that renders quarantine entries reliably.
  docs/quarantine_log.md
Due: doc-indexer, validate-links

feat: ingest and verify memory sample events
  onboarding_confirm.yml
  scripts/ingest_sample_events.py
Due: confirm-reading

test: exercise narrative multitrack composition
  tests/conftest.py
  tests/test_bana_narrative_engine.py
Due: confirm-reading

chore: drop unused GenerationMixin stub
  transformers/__init__.py
Due: confirm-reading

Refresh outdated repo metadata
  ml/data_pipeline.py
Due: confirm-reading

Log snapshot failures in MemoryStore
  memory_store.py
Due: confirm-reading

feat: add in-memory corpus store fallback
  INANNA_AI/corpus_memory.py
Due: confirm-reading

Log schema updates errors
  spiral_memory.py
Due: confirm-reading

refactor: remove unused boot_sequence placeholder
  CHANGELOG.md
  orchestration_master.py
Due: confirm-reading, validate-links

feat: connect memory scribe to vector backend
  memory_scribe.py
Due: confirm-reading

fix: log restore errors in sharded memory store
  memory_store.py
Due: confirm-reading

Log Vanna training failures
  nlq_api.py
Due: confirm-reading

feat: log audio analysis failure
  rag/orchestrator.py
Due: confirm-reading
