Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-links

confirm-reading:
  name: Confirm onboarding reading
  entry: python scripts/confirm_reading.py
  language: system
  pass_filenames: false

doc-indexer:
  name: Regenerate documentation index
  entry: python tools/doc_indexer.py
  language: system
  pass_filenames: false

check-connector-index:
  name: Check connector index entries
  entry: python scripts/check_connector_index.py
  language: python
  pass_filenames: false

validate-component-index:
  name: Validate component index entries
  entry: python scripts/validate_component_index.py
  language: system
  pass_filenames: false

validate-component-json:
  name: Validate component_index.json fields
  entry: python scripts/validate_component_index_json.py
  language: system
  pass_filenames: false

validate-links:
  name: Validate markdown links
  entry: python scripts/validate_links.py
  language: system

feat: add release signing utilities
  CHANGELOG.md
  docs/INDEX.md
  docs/release_process.md
  release/manifest.json
  scripts/sign_release.py
  scripts/verify_release_signature.py
Due: confirm-reading, doc-indexer, validate-links

feat: add patent draft whitepapers
  patents/recursive_emotion_router_sigil_interpretation.md
  patents/sacred_glyph_vae_pipeline.md
Due: validate-links

feat(monitoring): add system and GPU metrics
  CHANGELOG.md
  docs/INDEX.md
  docs/monitoring.md
  monitoring/README.md
  monitoring/docker-compose.yml
  monitoring/grafana-dashboard.json
  monitoring/prometheus.yml
  monitoring/watchdog.py
Due: confirm-reading, doc-indexer, validate-links

docs: add chakra metrics mapping
  CHANGELOG.md
  docs/INDEX.md
  docs/chakra_metrics.md
Due: doc-indexer, validate-links

feat(monitoring): add chakra-labeled exporters
  docs/monitoring.md
  monitoring/docker-compose.yml
  monitoring/prometheus.yml
Due: doc-indexer, validate-links

Add chakracon API for metrics and advice
  chakracon/__init__.py
  chakracon/api.py
  tests/chakracon/test_api.py
  tests/conftest.py
Due: confirm-reading

Add Chakracon metric monitors to agents
  CHANGELOG.md
  agents/bana/bio_adaptive_narrator.py
  agents/cocytus/prompt_arbiter.py
  agents/demiurge/strategic_simulator.py
  agents/ecosystem/aura_capture.py
  agents/ecosystem/mare_gardener.py
  agents/pandora/persona_emulator.py
  agents/pleiades/signal_router.py
  agents/pleiades/star_map.py
  agents/sebas/compassion_module.py
  agents/shalltear/fast_inference_agent.py
  agents/victim/security_canary.py
Due: confirm-reading, validate-links

docs: expand nazarick agent roster with chakra telemetry
  docs/nazarick_agents.md
Due: doc-indexer, validate-links

feat: note Chakracon polling in Nazarick templates
  CHANGELOG.md
  agents/nazarick/albedo_agent_template.md
  agents/nazarick/cocytus_agent_template.md
  agents/nazarick/demurge_agent_template.md
  agents/nazarick/pandora_agent_template.md
  agents/nazarick/pleiades_agent_template.md
  agents/nazarick/sebastiara_agent_template.md
  agents/nazarick/shalltear_agent_template.md
Due: validate-links

docs: cross-link Nazarick architecture and memory blueprints
  docs/INDEX.md
  docs/blueprint_spine.md
  docs/developer_onboarding.md
  docs/index.md
  docs/system_blueprint.md
  onboarding_confirm.yml
Due: doc-indexer, validate-links

doc: register nazarick core docs
  docs/INDEX.md
  docs/KEY_DOCUMENTS.md
  onboarding_confirm.yml
Due: doc-indexer, validate-links

docs: add chakra monitoring guidance and index tests
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/contributor_checklist.md
  onboarding_confirm.yml
  tests/docs/test_doctrine_links.py
Due: confirm-reading, doc-indexer, validate-links

feat: add chakra monitoring verification
  .pre-commit-config.yaml
  scripts/verify_chakra_monitoring.py
  tests/conftest.py
  tests/scripts/test_verify_chakra_monitoring.py
Due: confirm-reading

feat: add chakra healing agents and scripts
  CHANGELOG.md
  agents/chakra_healing/__init__.py
  agents/chakra_healing/base.py
  agents/chakra_healing/crown_agent.py
  agents/chakra_healing/heart_agent.py
  agents/chakra_healing/root_agent.py
  agents/chakra_healing/sacral_agent.py
  agents/chakra_healing/solar_agent.py
  agents/chakra_healing/third_eye_agent.py
  agents/chakra_healing/throat_agent.py
  docs/INDEX.md
  docs/chakra_healing.md
  docs/nazarick_agents.md
  scripts/chakra_healing/crown_full_restart.sh
  scripts/chakra_healing/heart_memory_repair.py
  scripts/chakra_healing/root_restore_network.sh
  scripts/chakra_healing/sacral_gpu_recover.py
  scripts/chakra_healing/solar_cpu_throttle.py
  scripts/chakra_healing/third_eye_inference_flush.py
  scripts/chakra_healing/throat_api_stabilize.sh
  tests/chakra_healing/__init__.py
  tests/chakra_healing/common.py
  tests/chakra_healing/test_crown.py
  tests/chakra_healing/test_heart.py
  tests/chakra_healing/test_root.py
  tests/chakra_healing/test_sacral.py
  tests/chakra_healing/test_solar.py
  tests/chakra_healing/test_third_eye.py
  tests/chakra_healing/test_throat.py
  tests/conftest.py
Due: confirm-reading, doc-indexer, validate-links

docs: record current pytest failures
  docs/testing/failure_inventory.md
Due: doc-indexer, validate-links

feat: expose crown CLI entry
  INANNA_AI/speaking_engine.py
  INANNA_AI/tts_bark.py
  INANNA_AI/tts_coqui.py
  INANNA_AI/tts_tortoise.py
  INANNA_AI/tts_xtts.py
  crown_prompt_orchestrator.py
  docs/crown_manifest.md
  pyproject.toml
  rag/orchestrator.py
  src/core/video_engine.py
  video_stream.py
Due: confirm-reading, doc-indexer, validate-links

Add GLM startup health check and enforce requests dependency
  docs/crown_manifest.md
  server.py
  src/health/boot_diagnostics.py
  src/health/essential_services.py
Due: confirm-reading, doc-indexer, validate-links

chore: enforce component maturity checks
  .github/workflows/ci.yml
  CHANGELOG.md
  docs/INDEX.md
  docs/component_status.md
  scripts/verify_component_maturity.py
Due: confirm-reading, doc-indexer, validate-links

test: cover metrics endpoints
  CHANGELOG.md
  bana/narrative_api.py
  monitoring/copresence_dashboard.md
  tests/conftest.py
  tests/test_metrics_endpoints.py
Due: confirm-reading, validate-links

feat: stream operator events
  CHANGELOG.md
  component_index.json
  docs/INDEX.md
  docs/nazarick_web_console.md
  docs/operator_interface_GUIDE.md
  operator_api.py
  tests/test_operator_api.py
  web_console/main.js
Due: confirm-reading, doc-indexer, validate-component-json, validate-links

chore(operator): track command log
  .gitignore
  agents/operator_dispatcher.py
  docs/INDEX.md
  docs/operator_protocol.md
  logs/operator_commands.jsonl
  operator_api.py
  tests/test_operator_audit.py
Due: confirm-reading, doc-indexer, validate-links

feat: centralize channel authentication
  communication/gateway.py
  communication/telegram_bot.py
  connectors/webrtc_connector.py
  docs/communication_interfaces.md
  video_stream.py
Due: confirm-reading, doc-indexer, check-connector-index, validate-links

feat: add operator status endpoint and dashboard panel
  CHANGELOG.md
  component_index.json
  docs/nazarick_web_console.md
  docs/operator_interface_GUIDE.md
  operator_api.py
  tests/test_operator_api.py
  web_console/main.js
Due: confirm-reading, doc-indexer, validate-component-json, validate-links

feat: add escalation notifier
  docs/test_index.md
  monitoring/escalation_notifier.py
  tests/monitoring/test_escalation_notifier.py
Due: confirm-reading, doc-indexer, validate-links

docs: emphasize operator-first principle
  CHANGELOG.md
  README.md
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/onboarding_guide.md
  docs/system_blueprint.md
  onboarding_confirm.yml
  tools/doc_indexer.py
Due: confirm-reading, doc-indexer, validate-links

fix: improve test stability and plotting
  docs/INDEX.md
  docs/testing/failure_inventory.md
  src/dashboard/app.py
  src/feedback_logging.py
  tests/conftest.py
  tests/test_feedback_logging_import.py
Due: confirm-reading, doc-indexer, validate-links

feat: expose service resource metrics
  agents/bana/bio_adaptive_narrator.py
  agents/razar/health_checks.py
  crown_router.py
  docs/INDEX.md
  docs/monitoring.md
  memory/narrative_engine.py
  monitoring/docker-compose.yml
  monitoring/grafana-dashboard.json
Due: confirm-reading, doc-indexer, validate-links

feat: add escalation notifier
  .gitignore
  docs/recovery_playbook.md
  docs/system_blueprint.md
  logs/operator_escalations.jsonl
  onboarding_confirm.yml
  scripts/escalation_notifier.py
Due: confirm-reading, doc-indexer, validate-links

feat: enforce glm health check
  INANNA_AI/glm_integration.py
  tests/crown/test_prompt_orchestrator.py
Due: confirm-reading

feat: add self-healing cycle script
  .gitignore
  logs/self_heal.jsonl
  scripts/self_heal_cycle.py
Due: confirm-reading

feat: log self-heal narratives
  agents/nazarick/narrative_scribe.py
  component_index.json
  memory/cortex.py
  memory/narrative_engine.py
  tests/conftest.py
  tests/narrative/test_self_heal_logging.py
Due: confirm-reading, validate-component-json

test: add self healing verifier tests
  .pre-commit-config.yaml
  scripts/verify_self_healing.py
  tests/scripts/test_verify_self_healing.py
Due: confirm-reading

feat: index narrative events
  agents/nazarick/narrative_scribe.py
  component_index.json
  docs/INDEX.md
  docs/nazarick_narrative_system.md
  memory/narrative_engine.py
  onboarding_confirm.yml
Due: confirm-reading, doc-indexer, validate-component-json, validate-links

feat: implement story lookup with event join
  memory/story_lookup.py
  narrative_api.py
  tests/narrative/test_story_lookup.py
Due: confirm-reading

feat: add narrative story adapter for chakra agents
  agents/chakra_healing/crown_agent.py
  agents/chakra_healing/heart_agent.py
  agents/chakra_healing/root_agent.py
  agents/chakra_healing/sacral_agent.py
  agents/chakra_healing/solar_agent.py
  agents/chakra_healing/third_eye_agent.py
  agents/chakra_healing/throat_agent.py
  agents/utils/__init__.py
  agents/utils/story_adapter.py
  docs/nazarick_agents.md
  docs/test_index.md
  tests/agents/test_story_adapter.py
Due: confirm-reading, doc-indexer, validate-links

feat: add vanna environment check and tests
  agents/vanna_data.py
  docs/INDEX.md
  docs/blueprint_spine.md
  docs/system_blueprint.md
  docs/vanna_usage.md
  tests/agents/test_vanna_data.py
Due: confirm-reading, doc-indexer, validate-links

feat: log agent communications and expose interaction API
  agents/event_bus.py
  agents/interaction_log.py
  glm_shell.py
  operator_api.py
  schemas/agent_interactions.sql
Due: confirm-reading

feat: add conversation log timeline and NLQ search
  CHANGELOG.md
  web_console/index.html
  web_console/main.js
Due: validate-links

feat: add operator chat interface
  operator_api.py
  web_console/chat.html
  web_console/chat.js
  web_console/main.js
Due: confirm-reading

Stub Vanna for web console tests
  CHANGELOG.md
  docs/nazarick_web_console.md
  tests/web_console/test_conversation_timeline.py
Due: confirm-reading, doc-indexer, validate-links

Path conditions:
  confirm-reading: any of: \.py$
  doc-indexer: any of: ^docs/
  check-connector-index: any of: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  validate-component-index: any of: ^docs/component_index.md
  validate-component-json: any of: ^component_index.json$
  validate-links: any of: \.(md|markdown|mdown)$, but not: ^docs/INDEX\.md$
