Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-links

.pre-commit-config.yaml:

# Run `pre-commit autoupdate` after dependency upgrades.
repos:
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.12.11
  hooks:
  - id: ruff
    args:
    - --fix
- repo: https://github.com/psf/black
  rev: 24.4.2
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/pycqa/flake8
  rev: 7.1.0
  hooks:
  - id: flake8
- repo: https://github.com/pycqa/pydocstyle
  rev: 6.3.0
  hooks:
  - id: pydocstyle
    files: ^$
- repo: local
  hooks:
  - id: confirm-reading
    name: Confirm onboarding reading
    entry: python scripts/confirm_reading.py
    language: system
    types: [python]
    pass_filenames: false
  - id: check-key-documents
    name: Check key documents exist
    entry: python scripts/check_key_documents.py
    language: system
    pass_filenames: false
  - id: validate-key-docs
    name: Validate protected doc hashes and summaries
    entry: python scripts/verify_doc_hashes.py
    language: system
    pass_filenames: false
  - id: require-onboarding-update
    name: Require onboarding confirmation for key docs
    entry: python scripts/require_onboarding_update.py
    language: system
    pass_filenames: false
    always_run: true
  - id: doc-indexer
    name: Regenerate documentation index
    entry: python tools/doc_indexer.py
    language: system
    pass_filenames: false
    files: ^docs/
  - id: ensure-blueprint-sync
    name: Ensure blueprint updated with core changes
    entry: python scripts/ensure_blueprint_sync.py
    language: system
  - id: block-binaries
    name: Block binary files
    entry: python scripts/check_no_binaries.py
    language: system
    pass_filenames: false
  - id: placeholder-elimination
    name: Placeholder Elimination
    entry: python scripts/check_placeholders.py
    language: system
  - id: scan-todo-fixme
    name: Scan TODO/FIXME markers
    entry: python scripts/scan_todo_fixme.py
    language: system
    pass_filenames: false
  - id: verify-versions
    name: Ensure modules declare __version__
    entry: python scripts/verify_versions.py
    language: system
    pass_filenames: false
  - id: check-connector-index
    name: Check connector index entries
    entry: python scripts/check_connector_index.py
    language: python
    pass_filenames: false
    files: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  - id: require-connector-registry-update
    name: Require connector registry updates
    entry: python scripts/require_connector_registry_update.py
    language: system
    pass_filenames: false
  - id: validate-component-index
    name: Validate component index entries
    entry: python scripts/validate_component_index.py
    language: system
    pass_filenames: false
    files: ^docs/component_index.md
  - id: validate-component-json
    name: Validate component_index.json fields
    entry: python scripts/validate_component_index_json.py
    language: system
    pass_filenames: false
    files: ^component_index.json$
  - id: verify-dependencies
    name: Verify dependency versions
    entry: python scripts/verify_dependencies.py
    language: system
    pass_filenames: false
  - id: check-env
    name: Verify environment prerequisites
    entry: python scripts/check_env.py
    language: system
    pass_filenames: false
  - id: validate-links
    name: Validate markdown links
    entry: python scripts/validate_links.py
    language: system
    types: [markdown]
    exclude: ^docs/INDEX\.md$

- repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
  rev: v9.19.0
  hooks:
    - id: commitlint
      stages: [commit-msg]
      additional_dependencies: ['@commitlint/cli@17.7.2']

Log cache read errors
  INANNA_AI_AGENT/preprocess.py
  tests/test_preprocess.py
Due: confirm-reading

Log parse errors in spiral embedder
  spiral_embedder.py
Due: confirm-reading

docs: clarify memory scribe backend usage
  memory_scribe.py
Due: confirm-reading

Log and re-raise snapshot restore errors
  memory_store.py
Due: confirm-reading

feat: log failed Vanna training
  nlq_api.py
Due: confirm-reading

feat: handle missing invocation engine gracefully
  CHANGELOG.md
  CHANGELOG_rag_orchestrator.md
  rag/orchestrator.py
Due: confirm-reading, validate-links

test(preprocess): expect errors on corrupt cache
  INANNA_AI_AGENT/preprocess.py
  tests/test_preprocess.py
Due: confirm-reading

Provide stub RL environment when deps missing
  memory/mental.py
Due: confirm-reading

Log parse error positions
  spiral_embedder.py
Due: confirm-reading

Add minimal GenerationMixin
  transformers/__init__.py
Due: confirm-reading

Add generation test for GPT-2
  tests/conftest.py
  tests/test_transformers_generate.py
  transformers/__init__.py
Due: confirm-reading

test(memory): add rl integration test
  docs/dependency_index.md
  docs/installation.md
  docs/test_index.md
  env_validation.py
  memory/context_env.py
  memory/mental.py
  tests/integration/test_context_rl.py
Due: confirm-reading, doc-indexer, validate-links

Skip outdated repos or refresh metadata
  ml/data_pipeline.py
Due: confirm-reading

Log snapshot errors
  memory_store.py
Due: confirm-reading

feat: handle missing chromadb explicitly
  INANNA_AI/corpus_memory.py
Due: confirm-reading

log optional torch import failure
  spiral_memory.py
Due: confirm-reading

feat: link ritual inputs to music generation
  docs/INDEX.md
  docs/music_generation_usage.md
  music_generation.py
  music_llm_interface.py
  tests/conftest.py
  tests/test_music_generation_invocation.py
  tests/test_music_llm_interface_prompt.py
Due: confirm-reading, doc-indexer, validate-links

feat: sync TTS audio with avatar animation
  INANNA_AI/AVATAR/avatar_builder/demo_lipsync.py
  voice_avatar_config.yaml
Due: confirm-reading

feat: enhance memory search and ranking
  component_index.json
  memory/search.py
  vector_memory.py
Due: confirm-reading, validate-component-json

feat(docs): add module index builder
  README.md
  docs/INDEX.md
  docs/module_index.md
  mkdocs.yml
  scripts/build_index.py
Due: confirm-reading, doc-indexer, validate-links

docs: refine Module Index reference in repository blueprint
  docs/The_Absolute_Protocol.md
Due: doc-indexer, validate-links

Add blueprint spine acknowledgment to pull request checklist
  docs/The_Absolute_Protocol.md
Due: doc-indexer, validate-links

docs: reference blueprint spine in pytest guide
  docs/INDEX.md
  docs/the_absolute_pytest.md
Due: doc-indexer, validate-links

docs: add blueprint spine to onboarding
  docs/onboarding/README.md
Due: doc-indexer, validate-links

docs: expand operator onboarding and console access
  CHANGELOG.md
  docs/INDEX.md
  docs/operator_interface_GUIDE.md
Due: doc-indexer, validate-links

Add health probe validation and remediation hints
  docs/RAZAR_AGENT.md
  onboarding_confirm.yml
  razar/boot_orchestrator.py
  razar/issue_analyzer.py
Due: confirm-reading, doc-indexer, validate-links

Add memory bus tests
  CHANGELOG.md
  component_index.json
  docs/memory_layers_GUIDE.md
  memory/__init__.py
  scripts/init_memory_layers.py
  tests/test_memory_bus.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-links

feat: biosignal ingest composes multitrack
  component_index.json
  docs/INDEX.md
  docs/narrative_system.md
  scripts/ingest_biosignals.py
  tests/test_bana_narrative_engine.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-links

docs: replace operator onboarding images with diagrams
  CHANGELOG.md
  docs/operator_interface_GUIDE.md
Due: doc-indexer, validate-links

feat: reinforce doc governance with cross-links
  .pre-commit-config.yaml
  CHANGELOG.md
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/nazarick_manifesto.md
  docs/operator_quickstart.md
  docs/project_mission_vision.md
  onboarding_confirm.yml
  scripts/require_module_docs.py
Due: confirm-reading, doc-indexer, validate-links

feat: log boot probe results
  docs/INDEX.md
  docs/RAZAR_AGENT.md
  razar/boot_orchestrator.py
  tests/test_boot_sequence.py
Due: confirm-reading, doc-indexer, validate-links

Add memory bus propagation test and guide
  docs/INDEX.md
  docs/memory_layers_GUIDE.md
  tests/test_memory_bus.py
Due: confirm-reading, doc-indexer, validate-links

Expand Bana narrative tests with golden file
  docs/narrative_system.md
  tests/data/bana/multitrack_story.json
  tests/test_bana_narrative_engine.py
Due: confirm-reading, doc-indexer, validate-links

docs: outline servant registration flow
  docs/INDEX.md
  docs/crown_servant_models.md
  tests/conftest.py
  tests/crown/test_prompt_orchestrator.py
  tests/test_servant_download.py
Due: confirm-reading, doc-indexer, validate-links

feat: index errors and test failures
  .pre-commit-config.yaml
  docs/INDEX.md
  docs/error_registry.md
  docs/testing/failure_inventory.md
  logs/test_report.txt
  scripts/capture_failing_tests.py
  scripts/update_error_index.py
Due: confirm-reading, doc-indexer, validate-links

docs: add contributor checklist
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/contributor_checklist.md
  docs/operator_interface_GUIDE.md
  onboarding_confirm.yml
  tests/test_checklist_links.py
Due: confirm-reading, doc-indexer, validate-links

Add Prometheus metrics for services
  init_crown_agent.py
  monitoring/metrics_catalog.md
  narrative_api.py
  server.py
  tests/test_prometheus_metrics.py
Due: confirm-reading, validate-links

refactor: break razar bootstrap circular imports
  agents/guardian.py
  agents/razar/code_repair.py
  agents/razar/runtime_manager.py
  razar/ai_invoker.py
  razar/boot_orchestrator.py
  razar/bootstrap_utils.py
Due: confirm-reading

test: verify servant endpoint registration
  tests/agents/razar/test_runtime_manager.py
Due: confirm-reading

feat: add module checks and secrets env
  CHANGELOG.md
  scripts/check_requirements.sh
  secrets.env
Due: validate-links
