Repository DINGIRABZU/ABZU: changes, and which pre-commit hooks are due for each by the changed paths.
All: confirm-reading, doc-indexer, check-connector-index, validate-component-index, validate-component-json, validate-links

confirm-reading:
  name: Confirm onboarding reading
  entry: python scripts/confirm_reading.py
  language: system
  pass_filenames: false

doc-indexer:
  name: Regenerate documentation index
  entry: python tools/doc_indexer.py
  language: system
  pass_filenames: false

check-connector-index:
  name: Check connector index entries
  entry: python scripts/check_connector_index.py
  language: python
  pass_filenames: false

validate-component-index:
  name: Validate component index entries
  entry: python scripts/validate_component_index.py
  language: system
  pass_filenames: false

validate-component-json:
  name: Validate component_index.json fields
  entry: python scripts/validate_component_index_json.py
  language: system
  pass_filenames: false

validate-links:
  name: Validate markdown links
  entry: python scripts/validate_links.py
  language: system

chore(docs): reference connector paths\n\nI linked connector docs to source directories to expose API vs MCP mapping, expecting contributors to locate code paths faster.
  CHANGELOG.md
  docs/blueprint_spine.md
  docs/communication_interfaces.md
  docs/system_blueprint.md
  onboarding_confirm.yml
Due: doc-indexer, validate-links

Add signal bus heartbeat monitoring
  communication/telegram_bot.py
  tests/connectors/test_connector_heartbeat.py
  tests/connectors/test_signal_bus.py
  tools/bot_discord.py
Due: confirm-reading

Add connector validation script
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/INDEX.md
  docs/absolute_protocol_checklist.md
  docs/contributor_checklist.md
  docs/documentation_protocol.md
  scripts/check_connectors.py
Due: confirm-reading, doc-indexer, validate-links

docs: clarify connector protocols and heartbeats
  docs/INDEX.md
  docs/blueprint_spine.md
  docs/communication_interfaces.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

feat: add signal bus cycle tracking
  communication/telegram_bot.py
  connectors/base.py
  connectors/mcp_gateway_example.py
  connectors/signal_bus.py
  tests/connectors/test_connector_heartbeat.py
  tests/connectors/test_signal_bus.py
  tools/bot_discord.py
  tools/bot_telegram.py
Due: confirm-reading, check-connector-index

feat: add connector compliance checks
  docs/contributor_checklist.md
  docs/development_checklist.md
  docs/documentation_protocol.md
  scripts/check_connectors.py
Due: confirm-reading, doc-indexer, validate-links

feat: add optional memory fallbacks
  docs/memory_layers_GUIDE.md
  memory/__init__.py
  memory/bundle.py
  memory/optional/__init__.py
  memory/optional/music_memory.py
  memory/optional/search_api.py
Due: confirm-reading, doc-indexer, validate-links

Configure mypy baseline
  docs/CI_OVERVIEW.md
  mypy.ini
  tests/__init__.py
Due: confirm-reading, doc-indexer, validate-links

Instrument memory layers and expose monitoring endpoints
  agents/event_bus.py
  docs/operations.md
  memory/__init__.py
  memory/bundle.py
  memory/emotional.py
  memory/mental.py
  memory/spiritual.py
  monitoring/chakra_status_board.py
  monitoring/chakra_status_endpoint.py
Due: confirm-reading, doc-indexer, validate-links

feat(worlds): track model paths and bootstrap docs
  docs/INDEX.md
  docs/world_bootstrap.md
  tests/test_config_registry.py
  worlds/__init__.py
  worlds/config_registry.py
Due: confirm-reading, doc-indexer, validate-links

feat: benchmark query memory throughput
  .github/workflows/benchmarks.yml
  CHANGELOG.md
  Makefile
  benchmarks/query_memory_bench.py
  data/benchmarks/.gitignore
  data/benchmarks/query_memory.csv
  data/benchmarks/query_memory.json
  docs/performance/report.md
Due: confirm-reading, doc-indexer, validate-links

docs: expand bootstrap quickstart
  CHANGELOG.md
  component_index.json
  docs/index.md
  docs/setup_quickstart.md
  scripts/bootstrap_world.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-links

feat: add sacred memory fallback
  docs/INDEX.md
  docs/memory_layers_GUIDE.md
  memory/optional/__init__.py
  memory/optional/sacred.py
Due: confirm-reading, doc-indexer, validate-links

feat(razar): retry handover with health check
  CHANGELOG.md
  CHANGELOG_razar.md
  docs/recovery_playbook.md
  razar/boot_orchestrator.py
Due: confirm-reading, doc-indexer, validate-links

feat: add spans and service metrics
  agents/event_bus.py
  docs/INDEX.md
  docs/operations.md
  memory/narrative_engine.py
  memory_store.py
Due: confirm-reading, doc-indexer, validate-links

docs: add failure recovery overview
  docs/INDEX.md
  docs/project_overview.md
Due: doc-indexer, validate-links

feat(memory): add no-op fallbacks
  CHANGELOG.md
  component_index.json
  docs/INDEX.md
  docs/memory_layers_GUIDE.md
  memory/__init__.py
  memory/bundle.py
  memory/optional/spiral_memory.py
  scripts/init_memory_layers.py
  tests/test_memory_bundle.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-links

Add retry logging to recovery daemon and remote repair tests
  scripts/recovery_daemon.py
  tests/razar/test_remote_repair.py
Due: confirm-reading

feat: add otel spans and service health endpoints
  CHANGELOG.md
  agents/event_bus.py
  agents/sidekick_helper.py
  docs/INDEX.md
  docs/operations.md
  spiral_memory.py
  vector_memory.py
Due: confirm-reading, doc-indexer, validate-links

feat(worlds): add world bootstrap utilities
  docs/INDEX.md
  docs/world_bootstrap.md
  worlds/__init__.py
  worlds/config_registry.py
Due: confirm-reading, doc-indexer, validate-links

test: verify opencode patch recovery
  onboarding_confirm.yml
  tests/razar/test_retry_with_ai.py
Due: confirm-reading

docs: embed unified memory diagram
  docs/blueprint_spine.md
  docs/project_overview.md
Due: doc-indexer, validate-links

docs: outline chakra heartbeat subsystem
  docs/INDEX.md
  docs/chakra_heartbeat.md
  docs/system_blueprint.md
  onboarding_confirm.yml
  tests/razar/test_retry_with_ai.py
Due: confirm-reading, doc-indexer, validate-links

docs: outline ABZU blueprint
  docs/ABZU_blueprint.md
  docs/INDEX.md
Due: doc-indexer, validate-links

docs: reference ABZU blueprint in core guides
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/index.md
  docs/system_blueprint.md
  onboarding_confirm.yml
Due: doc-indexer, validate-links

docs: add chakra system manual
  CHANGELOG.md
  docs/INDEX.md
  docs/chakra_system_manual.md
Due: doc-indexer, validate-links

docs: map chakra architecture with heartbeat pulse
  docs/ABZU_blueprint.md
  docs/INDEX.md
  docs/The_Absolute_Protocol.md
  docs/figures/chakra_architecture.mmd
  docs/system_blueprint.md
Due: doc-indexer, validate-links

docs: surface repository blueprint\n\nI did add cross-links on docs to highlight chakra heartbeat roles, expecting contributors to orient faster.
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/index.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

docs: clarify agent flow diagram
  docs/ABZU_blueprint.md
  docs/INDEX.md
  docs/RAZAR_AGENT.md
  docs/figures/agent_relations.mmd
  docs/nazarick/README.md
Due: doc-indexer, validate-links

docs: describe HeartBeat event flow
  docs/ABZU_blueprint.md
  docs/INDEX.md
  docs/operations.md
Due: doc-indexer, validate-links

docs: add Nazarick interface blueprint
  docs/ABZU_blueprint.md
  docs/INDEX.md
Due: doc-indexer, validate-links

Add Nazarick avatar voice stack docs
  docs/INDEX.md
  docs/blueprint_spine.md
  docs/figures/nazarick_ui_pipeline.mmd
  docs/index.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

docs: add Nazarick agent profiles and links
  agents/nazarick/nazarick_core_architecture.md
  agents/nazarick/nazarick_memory_blueprint.md
  docs/INDEX.md
  docs/nazarick_agent_profiles.md
  docs/nazarick_agents.md
  docs/testing/failure_inventory.md
Due: doc-indexer, validate-links

docs: link memory architecture in repository blueprint
  docs/INDEX.md
  docs/index.md
  docs/repository_blueprint.md
Due: doc-indexer, validate-links

docs: expand memory bundle init
  docs/The_Absolute_Protocol.md
  docs/blueprint_spine.md
  docs/index.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

docs: link Memory Bundle in architecture index
  docs/index.md
Due: doc-indexer, validate-links

docs: illustrate RAZAR↔Crown↔Kimi2Code recovery loop
  docs/INDEX.md
  docs/RAZAR_AGENT.md
  docs/ignition_blueprint.md
  docs/project_overview.md
Due: doc-indexer, validate-links

feat: extend world config registry
  component_index.json
  docs/world_bootstrap.md
  onboarding_confirm.yml
  tests/test_config_registry.py
  worlds/__init__.py
  worlds/config_registry.py
Due: confirm-reading, doc-indexer, validate-component-json, validate-links

docs: add chakra heartbeat spec
  docs/INDEX.md
  docs/chakra_heartbeat.md
  docs/chakra_metrics.md
  docs/monitoring.md
  docs/system_blueprint.md
Due: doc-indexer, validate-links

Add DATPars placeholder package and overview
  CHANGELOG.md
  datpars/__init__.py
  datpars/interfaces.py
  docs/INDEX.md
  docs/datpars_overview.md
  docs/index.md
  docs/project_overview.md
  docs/system_blueprint.md
Due: confirm-reading, doc-indexer, validate-links

Path conditions:
  confirm-reading: any of: \.py$
  doc-indexer: any of: ^docs/
  check-connector-index: any of: ^(connectors/|docs/connectors/CONNECTOR_INDEX.md)
  validate-component-index: any of: ^docs/component_index.md
  validate-component-json: any of: ^component_index.json$
  validate-links: any of: \.(md|markdown|mdown)$, but not: ^docs/INDEX\.md$
